<Section class="page-wishlist">

    <div class="row">
      <ng-container *ngIf="!IsAuthentication;else authRecords">
        <!-- Product Start -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4"
          *ngFor="let item of model  | paginate: { itemsPerPage: unIndexModel.PageSize , currentPage: unIndexModel.Page,totalItems: totalRecords };let index=index">
          <app-product-card (productChange)="removeProduct($event,index)" [(Product)]="model[index]"></app-product-card>
        </div>

        <div class="col-lg-12 mt-4">
          <nav>
            <pagination-controls class="pagination justify-content-center"
              (pageChange)="unIndexModel.Page= $event;getList()">
            </pagination-controls>
          </nav>
        </div>

      </ng-container>
      <ng-template #authRecords>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4"
          *ngFor="let item of model  | paginate: { itemsPerPage: authIndexModel.PageSize , currentPage: authIndexModel.Page,totalItems: totalRecords };let index=index">

          <app-product-card (productChange)="removeProduct($event,index)" [(Product)]="model[index]"></app-product-card>
        </div>

        <div class="col-lg-12 mt-4">
          <nav>
            <pagination-controls class="pagination justify-content-center"
              (pageChange)="authIndexModel.Page=$event;getList()">
            </pagination-controls>
          </nav>
        </div>
      </ng-template>

    </div>

</Section>
