<Section class="page-wishlist">
  <div class="container">
    <div class="row">
      <!-- Product Start -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
        <div class="product-list-items">
          <div class="product-list-items-img d-flex align-items-center justify-content-center">
            <img src="assets/images/no-img.png" alt="" />
            <div class="product-list-items-hover-action">
              <a href="javascript:void(0)" title="Move to cart"><i class="bi bi-cart2"></i></a>
            </div>
          </div>
          <div class="product-list-items-tag">90% off</div>
          <div class="product-list-info">
            <a href="javascript:void(0)"> Pink Mirror Embroidered Anarkali... </a>
            <div class="product-list-price">₹ 1895 <span class="product-list-cutting-price">₹ 6,499.00</span></div>
            <div class="product-list-price-off">40% Off</div>
          </div>
        </div>
      </div>
      <!-- Product End -->
      <!-- Product Start -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
        <div class="product-list-items">
          <div class="product-list-items-img d-flex align-items-center justify-content-center">
            <img src="assets/images/no-img.png" alt="" />
            <div class="product-list-items-hover-action">
              <a href="javascript:void(0)" title="Move to cart"><i class="bi bi-cart2"></i></a>
            </div>
          </div>
          <div class="product-list-items-tag">90% off</div>
          <div class="product-list-info">
            <a href="javascript:void(0)"> Pink Mirror Embroidered Anarkali... </a>
            <div class="product-list-price">₹ 1895 <span class="product-list-cutting-price">₹ 6,499.00</span></div>
            <div class="product-list-price-off">40% Off</div>
          </div>
        </div>
      </div>
      <!-- Product End -->
      <!-- Product Start -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
        <div class="product-list-items">
          <div class="product-list-items-img d-flex align-items-center justify-content-center">
            <img src="assets/images/no-img.png" alt="" />
            <div class="product-list-items-hover-action">
              <a href="javascript:void(0)" title="Move to cart"><i class="bi bi-cart2"></i></a>
            </div>
          </div>
          <div class="product-list-items-tag">90% off</div>
          <div class="product-list-info">
            <a href="javascript:void(0)"> Pink Mirror Embroidered Anarkali... </a>
            <div class="product-list-price">₹ 1895 <span class="product-list-cutting-price">₹ 6,499.00</span></div>
            <div class="product-list-price-off">40% Off</div>
          </div>
        </div>
      </div>
      <!-- Product End -->
      <!-- Product Start -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
        <div class="product-list-items">
          <div class="product-list-items-img d-flex align-items-center justify-content-center">
            <img src="assets/images/no-img.png" alt="" />
            <div class="product-list-items-hover-action">
              <a href="javascript:void(0)" title="Move to cart"><i class="bi bi-cart2"></i></a>
            </div>
          </div>
          <div class="product-list-items-tag">90% off</div>
          <div class="product-list-info">
            <a href="javascript:void(0)"> Pink Mirror Embroidered Anarkali... </a>
            <div class="product-list-price">₹ 1895 <span class="product-list-cutting-price">₹ 6,499.00</span></div>
            <div class="product-list-price-off">40% Off</div>
          </div>
        </div>
      </div>
      <!-- Product End -->
      <!-- Product Start -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
        <div class="product-list-items">
          <div class="product-list-items-img d-flex align-items-center justify-content-center">
            <img src="assets/images/no-img.png" alt="" />
            <div class="product-list-items-hover-action">
              <a href="javascript:void(0)" title="Move to cart"><i class="bi bi-cart2"></i></a>
            </div>
          </div>
          <div class="product-list-items-tag">90% off</div>
          <div class="product-list-info">
            <a href="javascript:void(0)"> Pink Mirror Embroidered Anarkali... </a>
            <div class="product-list-price">₹ 1895 <span class="product-list-cutting-price">₹ 6,499.00</span></div>
            <div class="product-list-price-off">40% Off</div>
          </div>
        </div>
      </div>
      <!-- Product End -->
      <!-- Product Start -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
        <div class="product-list-items">
          <div class="product-list-items-img d-flex align-items-center justify-content-center">
            <img src="assets/images/no-img.png" alt="" />
            <div class="product-list-items-hover-action">
              <a href="javascript:void(0)" title="Move to cart"><i class="bi bi-cart2"></i></a>
            </div>
          </div>
          <div class="product-list-items-tag">90% off</div>
          <div class="product-list-info">
            <a href="javascript:void(0)"> Pink Mirror Embroidered Anarkali... </a>
            <div class="product-list-price">₹ 1895 <span class="product-list-cutting-price">₹ 6,499.00</span></div>
            <div class="product-list-price-off">40% Off</div>
          </div>
        </div>
      </div>
      <!-- Product End -->
      <!-- Product Start -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
        <div class="product-list-items">
          <div class="product-list-items-img d-flex align-items-center justify-content-center">
            <img src="assets/images/no-img.png" alt="" />
            <div class="product-list-items-hover-action">
              <a href="javascript:void(0)" title="Move to cart"><i class="bi bi-cart2"></i></a>
            </div>
          </div>
          <div class="product-list-items-tag">90% off</div>
          <div class="product-list-info">
            <a href="javascript:void(0)"> Pink Mirror Embroidered Anarkali... </a>
            <div class="product-list-price">₹ 1895 <span class="product-list-cutting-price">₹ 6,499.00</span></div>
            <div class="product-list-price-off">40% Off</div>
          </div>
        </div>
      </div>
      <!-- Product End -->
      <!-- Product Start -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
        <div class="product-list-items">
          <div class="product-list-items-img d-flex align-items-center justify-content-center">
            <img src="assets/images/no-img.png" alt="" />
            <div class="product-list-items-hover-action">
              <a href="javascript:void(0)" title="Move to cart"><i class="bi bi-cart2"></i></a>
            </div>
          </div>
          <div class="product-list-items-tag">90% off</div>
          <div class="product-list-info">
            <a href="javascript:void(0)"> Pink Mirror Embroidered Anarkali... </a>
            <div class="product-list-price">₹ 1895 <span class="product-list-cutting-price">₹ 6,499.00</span></div>
            <div class="product-list-price-off">40% Off</div>
          </div>
        </div>
      </div>
      <!-- Product End -->
    </div>
  </div>
</Section>
