<!-- Inner Page Banner Start -->
<section class="hero-design-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="m-0">StoreOne Privacy Policy</h1>
      </div>
    </div>
  </div>
</section>
<!-- Inner Page Banner End -->


<!-- Main Content Start -->

<section class="inside-pages-content page-website-info pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>What this Statement Covers</h2>
        <p>Storeone takes your privacy very seriously, in general, you can visit Storeone websites
          without telling us who you are and without revealing any information about yourself. There are
          times, however, when we may need information from you.


        </p>
        <p>Storeone does not rent, sell, or share personal information about you with other people or
          nonaffiliated companies except to provide products or services you’ve requested, when we have
          your permission, or under the following circumstances:



        </p>

        <h2>Personal Information We Collect </h2>
        <ul>
          <li>We provide the information to trusted partners who work on behalf of or with Storeone
            under extremely strict confidentiality agreements. These companies may use your personal
            information to help Storeone communicate with you about offers from Storeone and our
            marketing partners. However, these companies do not have any independent right to share this
            information.</li>
          <li>We have a parent’s permission to share the information if the user is a child under age 13.
          </li>
          <li>We respond to subpoenas, court orders, or legal process, or to establish or exercise our
            legal rights or defend against legal claims;</li>
          <li>We believe it is necessary to share information in order to investigate, prevent, or take
            action regarding illegal activities, suspected fraud, situations involving potential threats
            to the physical safety of any person, or as otherwise required by law.</li>
          <li>We transfer information about you if Storeone is acquired by or merged with another
            company.</li>

          <li>You may choose to give us personal information, such as your name and address or e-mail id
            that may be needed, for example, to correspond with you, to download our white papers or to
            provide you with a subscription. If you tell us that you do not want us to use this
            information as a basis for further contact with you, we will respect your wishes. We intend
            to protect the quality and integrity of your personally identifiable information.</li>
          <li>We will make a sincere effort to respond in a timely manner to your requests to correct
            inaccuracies in your personal information. To correct inaccuracies in your personal
            information please return the message containing the inaccuracies to the sender with details
            of the correction requested.

          </li>

          <li>We respond to subpoenas, court orders, or legal process, or to establish or exercise our
            legal rights or defend against legal claims;</li>
        </ul>
        <h2>Cookies, and other technologies</h2>

        <p>We sometimes collect anonymous information from visits to our sites to help us provide better
          customer service. For example, we keep track of the domains from which people visit and we also
          measure visitor activity on United Sol web sites, but we do so in ways that keep the information
          anonymous. United Sol or its affiliates or vendors may use this data to analyze trends and
          statistics and to help us provide better customer service. We maintain the highest levels of
          confidentiality for this information, our affiliates and vendors follow the same high levels of
          confidentiality. This anonymous information is used and analyzed only at an aggregate level to
          help us understand trends and patterns. None of this information is reviewed at an individual
          level. If you do not want your transaction details used in this manner, you can either disable
          your cookies or opt-out at the download or request page.

        </p>

      </div>
    </div>
  </div>
</section>

<!-- Main Content End -->
