<app-header></app-header>
<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Page name</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- Breadcrum End -->


<!-- <div class="col-lg-12 d-md-flex justify-content-between align-items-center mb-4">
                <div class="section-title text-center text-md-start m-0">StoreOne Category</div>
                <div class="product-list-search position-relative">
                    <input type="search" placeholder="Search..">
               <button type="submit"><i class="fa-light fa-magnifying-glass"></i></button>
       </div>
</div> -->
<!--
<div id="ProDetail" class="carousel carousel-product-details slide d-none" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#ProDetail" data-bs-slide-to="Pro-Detail-0" class="active"
      aria-current="true" aria-label="Slide-0">11</button>
    <button type="button" class="active" data-bs-target="#ProDetail" attr.data-bs-slide-to="Pro-Detail-{{i+1}}"
      attr.aria-label="Slide-{{i+1}}" *ngFor="let item of model.Files; let i=index">
      22
    </button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex align-items-center justify-content-center product-details-big-img">
        <a class="d-block w-100 text-center" [href]="model?.ImagePath" data-toggle="lightbox"
          data-gallery="example-gallery">
          <img [src]="model?.ImagePath" onerror="this.src='assets/images/no-img.png'">
        </a>
      </div>
    </div>
    <ng-container *ngFor="let item of model.Files; let i=index">
      <div class="carousel-item" [class.active]="i==0">
        <div class="d-flex align-items-center justify-content-center product-details-big-img">
          <a class="d-block w-100 text-center" [href]="item?.FilePath" data-toggle="lightbox"
            data-gallery="example-gallery">
            <img [src]="item?.FilePath" onerror="this.src='assets/images/no-img.png'">
          </a>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#ProDetail" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#ProDetail" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="tab-content position-relative" id="myTabContent">
  <div class="product-list-items-tag">New Product</div>
  <div class="tab-pane fade show active" id="Pro-Detail-0">
    <div class="d-flex align-items-center justify-content-center product-details-big-img">
      <a class="d-block w-100 text-center" [href]="model?.ImagePath" data-toggle="lightbox"
        data-gallery="example-gallery">
        <img [src]="model?.ImagePath" onerror="this.src='assets/images/no-img.png'">
      </a>
    </div>
  </div>
  <ng-container *ngFor="let item of model.Files; let i=index">
    <div class="tab-pane fade" id="Pro-Detail-{{i+1}}">
      <div class="d-flex align-items-center justify-content-center product-details-big-img">
        <a class="d-block w-100 text-center" [href]="item?.FilePath" data-toggle="lightbox"
          data-gallery="example-gallery">
          <img [src]="item?.FilePath" onerror="this.src='assets/images/no-img.png'">
        </a>
      </div>
    </div> n
  </ng-container>
</div>
<ul class="product-details-sm-img nav">
  <li>
    <a href="javascript:void(0)" class="active" id="ProDetail0" data-bs-toggle="tab"
      data-bs-target="#Pro-Detail-0"> <img [src]="model?.ImagePath"
        onerror="this.src='assets/images/no-img.png'" alt="" /> </a>
  </li>
  <li *ngFor="let item of model.Files; let i=index">
    <a href="javascript:void(0)" id="Pro-Detail{{i+1}}" data-bs-toggle="tab"
      attr.data-bs-target="#Pro-Detail-{{i+1}}">
      <img [src]="item?.FilePath" onerror="this.src='assets/images/no-img.png'" alt="" /> </a>
  </li>
</ul> -->


<!-- Navbar mega menu start -->
<div class="col-lg-3">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav1">
    Category 1
  </button>
  <ul class="megamenu-sub-list collapse" id="nav1" data-bs-parent="#NavCollections">
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
  </ul>
</div>

<div class="col-lg-3">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav2">
    Category 2
  </button>
  <ul class="megamenu-sub-list collapse" id="nav2" data-bs-parent="#NavCollections">
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
  </ul>
</div>

<div class="col-lg-3">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav3">
    Category 3
  </button>
  <ul class="megamenu-sub-list collapse" id="nav3" data-bs-parent="#NavCollections">
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
  </ul>
</div>

<div class="col-lg-3">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav4">
    Category 4
  </button>
  <ul class="megamenu-sub-list collapse" id="nav4" data-bs-parent="#NavCollections">
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
    <li><a class="dropdown-item" href="javascript:void(0)" href="#">111 1111</a></li>
  </ul>
</div>


<!-- Navbar mega menu end -->

<Section class="login-reister-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center section-title">Login</h3>
        <form class="mx-400 m-auto">
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="**********">
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input" id="check1">
              <label class="form-check-label ms-2" for="check1">I agree</label>
            </div>
            <a href="javascript:void(0)" class="font-13 text-dark">Forgot password ?</a>
          </div>

          <button type="submit" class="mt-4 btn btn-default p-2 text-uppercase d-block w-100">Sign in</button>

          <div class="text-center mt-3">Not register yet? <a href="javascript:void(0)"
              class="text-theme-primary font-w-500">Create an Account</a> </div>

        </form>
      </div>
    </div>
  </div>
</Section>

<app-footer></app-footer>

<!--
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="DropDown1"
                                    data-bs-toggle="dropdown">
                                    Category
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/store">All Product</a></li>
                                    <li><a class="dropdown-item" href="#">Category wise</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 3</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 4</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 5</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 6</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 7</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 8</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 9</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 10</a></li>
                                </ul>
                            </li> -->


<div class="table-responsive table-shadow">
  <table class="table cart-page-table table-v-align-middle m-0">
    <thead>
      <tr>
        <th width="100px"> &nbsp; </th>
        <th>Description</th>
        <th width="100px">Size</th>
        <th width="100px">Quantity</th>
        <th width="100px">Remove</th>
        <th width="100px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cartlist-item">
        <td>
          <div class="cartlist-item-img"><img src="assets/images/no-img.png" alt="" /></div>
        </td>
        <td class="cartlist-item-name"> Pink Bandhej Printed Kurti Pant Set Pink Bandhej Printed Kurti Pant Set Pink
          Bandhej Printed Kurti Pant Set</td>
        <td class="cartlist-item-size">M</td>
        <td class="cartlist-item-quantity">5</td>
        <td class="cartlist-item-action"> <a href="javascript:void(0)" data-title="Delete"><i class="bi bi-x"></i></a>
        </td>
        <td class="cartlist-item-price">₹ 450</td>
      </tr>
    </tbody>
  </table>
</div>




<div class="cart-sidebar-body-cart">
  <div class="cart-sidebar-body-cart-items d-flex py-2">
    <div class="cart-sidebar-body-cart-items-img d-flex align-items-center justify-content-center"> <img
        src="assets/images/no-img.png" alt="" /></div>
    <div class="cart-sidebar-body-cart-items-info">
      <a href="javascript:void(0)">
        <h1>Rayon Long Flared Anarkali Kurti</h1>
        <div class="d-flex justify-content-between text-muted font-13">
          <div> <strong>Size:</strong> L</div>
          <div> <strong>Qty:</strong> 6</div>
        </div>
        <h2>₹ 399</h2>
      </a>
      <div class="cart-sidebar-body-cart-items-action text-end">
        <a href="javascript:void(0)" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
          <i class="fa-regular fa-trash"></i> </a>
      </div>
    </div>
  </div>
  <div class="cart-sidebar-body-cart-items d-flex py-2">
    <div class="cart-sidebar-body-cart-items-img d-flex align-items-center justify-content-center"> <img
        src="assets/images/no-img.png" alt="" /></div>
    <div class="cart-sidebar-body-cart-items-info">
      <a href="javascript:void(0)">
        <h1>Rayon Bandhani Printed Kurti with Pant</h1>
        <div class="d-flex justify-content-between text-muted font-13">
          <div> <strong>Size:</strong> L</div>
          <div> <strong>Qty:</strong> 6</div>
        </div>
        <h2>₹ 399</h2>
      </a>
      <div class="cart-sidebar-body-cart-items-action text-end">
        <a href="javascript:void(0)" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
          <i class="fa-regular fa-trash"></i> </a>
      </div>
    </div>
  </div>
  <div class="cart-sidebar-body-cart-items d-flex py-2">
    <div class="cart-sidebar-body-cart-items-img d-flex align-items-center justify-content-center"> <img
        src="assets/images/no-img.png" alt="" /></div>
    <div class="cart-sidebar-body-cart-items-info">
      <a href="javascript:void(0)">
        <h1>Rayon Long Flared Anarkali Kurti</h1>
        <div class="d-flex justify-content-between text-muted font-13">
          <div> <strong>Size:</strong> L</div>
          <div> <strong>Qty:</strong> 6</div>
        </div>
        <h2>₹ 399</h2>
      </a>
      <div class="cart-sidebar-body-cart-items-action text-end">
        <a href="javascript:void(0)" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
          <i class="fa-regular fa-trash"></i> </a>
      </div>
    </div>
  </div>
  <div class="cart-sidebar-body-cart-items d-flex py-2">
    <div class="cart-sidebar-body-cart-items-img d-flex align-items-center justify-content-center"> <img
        src="assets/images/no-img.png" alt="" /></div>
    <div class="cart-sidebar-body-cart-items-info">
      <a href="javascript:void(0)">
        <h1>Rayon Bandhani Printed kurti pant set</h1>
        <div class="d-flex justify-content-between text-muted font-13">
          <div> <strong>Size:</strong> L</div>
          <div> <strong>Qty:</strong> 6</div>
        </div>
        <h2>₹ 399</h2>
      </a>
      <div class="cart-sidebar-body-cart-items-action text-end">
        <a href="javascript:void(0)" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
          <i class="fa-regular fa-trash"></i> </a>
      </div>
    </div>
  </div>
</div>


<!-- My account page start -->


<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">My account</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- Breadcrum End -->

<section class="inner-page-space my-account-page">
  <div class="container">
    <div class="row">

      <!-- Mobile Drawer Buttons Start -->
      <div class="mobile-drawer-btn-grp-card d-flex d-md-none justify-content-between mb-4">
        <a class="my-account-sidebar-btn" data-bs-toggle="offcanvas" href="#OrderMenu">
          <i class="bi bi-person-circle me-1"></i>
          <span> My Account</span>
        </a>
        <a class="my-account-sidebar-btn" data-bs-toggle="offcanvas" href="#PageFilter">
          <i class="fa-light fa-filter-list me-1"></i>
          <span>Show Filter</span>
        </a>
      </div>
      <!-- Mobile Drawer Buttons End -->

      <div class="col-md-4 col-lg-4 col-xl-3 pe-5">
        <div class="my-account-sidebar offcanvas offcanvas-start" tabindex="-1" id="OrderMenu">
          <div class="offcanvas-header d-flex d-lg-none pt-0 px-0">
            <h6 class="offcanvas-title"><i class="bi bi-person-circle me-1"></i>My Account</h6>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <ul>
            <li> <a href="javascript:void(0)" class="active"><i class="bi bi-person-circle me-2"></i>Profile</a> </li>
            <li> <a href="javascript:void(0)"><i class="fa-light fa-bag-shopping me-2"></i>Orders</a> </li>
            <li> <a href="javascript:void(0)"><i class="fa-light fa-location-dot  me-2"></i>Address</a> </li>
            <li> <a href="javascript:void(0)"><i class="fa-light fa-heart me-2"></i>Wishlist</a> </li>
            <li> <a href="javascript:void(0)"><i class="fa-light fa-right-from-bracket me-2"></i>Logout</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-lg-8 col-xl-9">

        <!-- My Accout Profile Start -->
        <div class="my-account-content my-account-profiles d-none">
          <div class="row">
            <form class="mx-400">
              <div class="col-lg-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="FullName" placeholder="Full name">
                  <label for="FullName">Full name</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="EmailAddress" placeholder="Email address">
                  <label for="EmailAddress">Email address</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="Mobile" placeholder="Mobile number">
                  <label for="Mobile">Mobile number</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="EmailAddress" placeholder="Address">
                  <label for="EmailAddress">Address</label>
                </div>
              </div>
              <div class="mt-3">
                <button type="submit" class="mt-4 btn btn-default p-2 text-uppercase d-block w-100"><i
                    class="fa-regular fa-check me-2"></i>Save Details</button>
              </div>
            </form>
          </div>
        </div>
        <!-- My Accout Profile End -->

        <!-- My Accout Orders Start -->
        <div class="my-account-content my-account-orders">
          <!-- Page Filter Start -->
          <div class="page-fliter offcanvas offcanvas-end" tabindex="-1" id="PageFilter">
            <div class="offcanvas-header d-flex d-lg-none pt-0 px-0">
              <h6 class="offcanvas-title"><i class="fa-light fa-filter-list me-1"></i> Filter</h6>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3 mb-md-0">
                <div class="page-fliter-items page-filter-search position-relative">
                  <input type="text" class="form-control" placeholder="Search in order" />
                  <a href="javascript:void(0)"><i class="fa-light fa-magnifying-glass"></i></a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3 mb-md-0">
                <div class="page-fliter-items">
                  <select class="form-select">
                    <option>--Status--</option>
                    <option>--Delivered--</option>
                    <option>--Pending--</option>
                    <option>--Cancelled--</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3 mb-md-0">
                <div class="form-floating mb-0">
                  <input type="text" class="form-control" id="Datepicker" placeholder="Date Picker">
                  <label for="Datepicker">Date Picker</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Page Filter End -->
          <div class="order-summary-list">
            <div class="order-summary-list-items order-summary-list-items-delivered">
              <div class="order-summary-list-items-header d-flex align-items-center justify-content-between">
                <div> <i class="bi bi-calendar-week me-1"></i> 20-03-2024 </div>
                <div class="order-summary-list-items-status text-success"><i class="bi bi-box-seam me-1"></i> Delivered
                </div>
              </div>
              <div class="order-summary-list-items-body d-flex">
                <div class="order-summary-list-img"><img src="assets/images/no-img.png" alt="" /></div>
                <div class="order-summary-list-info">
                  <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                  <div class="order-summary-list-info-price"> ₹ 450 </div>
                  <div class="d-flex mt-2">
                    <p class="mb-0 me-3">Qty: <strong class="d-block d-sm-inline">05</strong></p>
                    <p class="mb-0 me-3">Size: <strong class="d-block d-sm-inline">XXL</strong></p>
                    <p class="mb-0 me-3">Total Item Price: <strong class="d-block d-sm-inline">₹ 2,897</strong></p>
                  </div>
                </div>
              </div>
              <div class="order-summary-list-items-footer">
                <strong class="mb-1 d-block">Delivery Address</strong>
                <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
                  8952098741</p>
              </div>
            </div>
            <div class="order-summary-list-items order-summary-list-items-pending">
              <div class="order-summary-list-items-header d-flex align-items-center justify-content-between">
                <div> <i class="bi bi-calendar-week me-1"></i> 20-03-2024 </div>
                <div class="order-summary-list-items-status text-warning"><i class="bi bi-arrow-clockwise me-1"></i>
                  Pending</div>
              </div>
              <div class="order-summary-list-items-body d-flex">
                <div class="order-summary-list-img"><img src="assets/images/no-img.png" alt="" /></div>
                <div class="order-summary-list-info">
                  <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                  <div class="order-summary-list-info-price"> ₹ 450 </div>
                  <div class="d-flex mt-2">
                    <p class="mb-0 me-3">Qty: <strong class="d-block d-sm-inline">05</strong></p>
                    <p class="mb-0 me-3">Size: <strong class="d-block d-sm-inline">XXL</strong></p>
                    <p class="mb-0 me-3">Total Item Price: <strong class="d-block d-sm-inline">₹ 2,897</strong></p>
                  </div>
                </div>
              </div>
              <div class="order-summary-list-items-footer">
                <strong class="mb-1 d-block">Delivery Address</strong>
                <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
                  8952098741</p>
              </div>
            </div>
            <div class="order-summary-list-items order-summary-list-items-cancel">
              <div class="order-summary-list-items-header d-flex align-items-center justify-content-between">
                <div> <i class="bi bi-calendar-week me-1"></i> 20-03-2024 </div>
                <div class="order-summary-list-items-status text-danger"><i class="bi bi-x-circle me-1"></i> Cancelled
                </div>
              </div>
              <div class="order-summary-list-items-body d-flex">
                <div class="order-summary-list-img"><img src="assets/images/no-img.png" alt="" /></div>
                <div class="order-summary-list-info">
                  <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                  <div class="order-summary-list-info-price"> ₹ 450 </div>
                  <div class="d-flex mt-2">
                    <p class="mb-0 me-3">Qty: <strong class="d-block d-sm-inline">05</strong></p>
                    <p class="mb-0 me-3">Size: <strong class="d-block d-sm-inline">XXL</strong></p>
                    <p class="mb-0 me-3">Total Item Price: <strong class="d-block d-sm-inline">₹ 2,897</strong></p>
                  </div>
                </div>
              </div>
              <div class="order-summary-list-items-footer">
                <strong class="mb-1 d-block">Delivery Address</strong>
                <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
                  8952098741</p>
              </div>
            </div>
          </div>
          <ul class="pagination justify-content-center mt-5">
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- My Accout Orders End -->

        <!-- My Account Address Start -->
        <div class="my-account-content my-account-address d-none">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="mb-0">Saved Addresses</h4>
            <a class="btn-add-new-address" href="javascript:void(0)" data-bs-toggle="modal"
              data-bs-target="#Add-Update-Address"><i class="bi bi-plus-circle me-2"></i> Add new address</a>
          </div>

          <div class="custom-card">
            <div class="row">
              <div class="col-xl-12">
                <div class="custom-card-address-list">
                  <div class="custom-card-address-list-header mb-2 d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Rahul sharma</h5>
                    <div class="custom-card-address-list-action d-flex align-items-center">
                      <span class="me-3">Default Address</span>
                      <a href="javascript:void(0)" class="text-success ms-2" data-bs-toggle="modal"
                        data-bs-target="#Add-Update-Address"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Edit" class="fa-light fa-pen"></i> </a>
                      <a href="javascript:void(0)" class="text-danger ms-2" data-bs-toggle="modal"
                        data-bs-target="#DeleteAddress"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Delete" class="fa-regular fa-trash"></i> </a>
                    </div>
                  </div>
                  <div class="custom-card-address-list-items form-check">
                    <input class="form-check-input" type="radio" name="SaveAdd1" id="SaveAdd1">
                    <label class="form-check-label" for="SaveAdd1">
                      4-RA-5 Monilek Marg, Near Monilek Hospital
                      Jawahar Nagar
                      Jaipur, Raj, 302013
                      Mobile : 8952098741
                    </label>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="custom-card">
            <div class="row">
              <div class="col-xl-12">
                <div class="custom-card-address-list">
                  <div class="custom-card-address-list-header mb-2 d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Peter johnsan</h5>
                    <div class="custom-card-address-list-action d-flex align-items-center">
                      <a href="javascript:void(0)" class="text-success ms-2" data-bs-toggle="modal"
                        data-bs-target="#Add-Update-Address"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Edit" class="fa-light fa-pen"></i> </a>
                      <a href="javascript:void(0)" class="text-danger ms-2" data-bs-toggle="modal"
                        data-bs-target="#DeleteAddress"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Delete" class="fa-regular fa-trash"></i> </a>
                    </div>
                  </div>
                  <div class="custom-card-address-list-items form-check">
                    <input class="form-check-input" type="radio" name="SaveAdd2" id="SaveAdd2">
                    <label class="form-check-label" for="SaveAdd2">
                      4-RA-5 Monilek Marg, Near Monilek Hospital
                      Jawahar Nagar
                      Jaipur, Raj, 302013
                      Mobile : 8952098741
                    </label>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="custom-card">
            <div class="row">
              <div class="col-xl-12">
                <div class="custom-card-address-list">
                  <div class="custom-card-address-list-header mb-2 d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Nitesh mathur</h5>
                    <div class="custom-card-address-list-action d-flex align-items-center">
                      <a href="javascript:void(0)" class="text-success ms-2" data-bs-toggle="modal"
                        data-bs-target="#Add-Update-Address"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Edit" class="fa-light fa-pen"></i> </a>
                      <a href="javascript:void(0)" class="text-danger ms-2" data-bs-toggle="modal"
                        data-bs-target="#DeleteAddress"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Delete" class="fa-regular fa-trash"></i> </a>
                    </div>
                  </div>
                  <div class="custom-card-address-list-items form-check">
                    <input class="form-check-input" type="radio" name="SaveAdd3" id="SaveAdd3">
                    <label class="form-check-label" for="SaveAdd3">
                      4-RA-5 Monilek Marg, Near Monilek Hospital
                      Jawahar Nagar
                      Jaipur, Raj, 302013
                      Mobile : 8952098741
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Add or Update Address Modal Start -->
          <div class="modal fade modal-custom-design" id="Add-Update-Address" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header pb-0">
                  <h5 class="m-0">Add or update address</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-sharp fa-light fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body p-4 modal-form-update">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="First-name" placeholder="Enter full name*">
                        <label for="First-name">Enter full name*</label>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="Phone-number" placeholder="Phone number*">
                        <label for="Phone-number">Phone number*</label>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="Address1" placeholder="Address*">
                        <label for="Address1">Address*</label>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="Address2"
                          placeholder="Apartment, suite, etc. (optional)">
                        <label for="Address2">Apartment, suite, etc. (optional)</label>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="mb-4">
                        <select class="form-select">
                          <option>--State--</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="City" placeholder="City*">
                        <label for="City">City*</label>
                      </div>
                    </div>

                    <div class="col-xl-6">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="Postal-code" placeholder="Postal code*">
                        <label for="Postal-code">Postal code*</label>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="mb-0">
                        <select class="form-select">
                          <option>--Address Type--</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xl-12 mt-3">
                      <div class="form-check d-flex align-items-center">
                        <input type="checkbox" class="form-check-input" id="check22">
                        <label class="form-check-label ms-2" for="check22">Set as Default</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer pt-0">
                  <button type="button" class="btn btn-default px-3 py-1 me-2" data-bs-dismiss="modal"><i
                      class="bi bi-check2"></i> Save</button>
                  <button type="button" class="btn btn-default btn-border px-3 py-1 btn-cancel"
                    data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Add or Update Address Modal End -->

          <!-- Delete Address items Modal Start -->
          <div class="modal fade modal-custom-design" id="DeleteAddress" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header pb-0">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-sharp fa-light fa-xmark"></i>
                  </button>
                </div>
                <div class="modal-body p-4 modal-alert">
                  <h1 class="mb-0">
                    Are you sure want to delete this address from the address book ?
                  </h1>
                </div>
                <div class="modal-footer pt-0">
                  <button type="button" class="btn btn-default px-3 py-1 me-2" data-bs-dismiss="modal"><i
                      class="fa-regular fa-trash me-1"></i> Delete</button>
                  <button type="button" class="btn btn-default btn-cancel btn-border px-3 py-2"
                    data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Delete Address items Modal End -->
        </div>
        <!-- My Account Address End -->


      </div>
    </div>
  </div>
</section>




<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- Breadcrum End -->

<section class="inner-page-space checkout-page">
  <div class="container checkout-wizard" id="CheckoutSteps">
    <div class="row">
      <div class="col-xl-9 col-lg-12 mx-auto">
        <ul class="text-center overflow-hidden mb-5" id="progressbar">
          <li class="active" id="Address"><strong>Address</strong></li>
          <li id="Payment"><strong>Payment</strong></li>
          <li id="OrderSummary"><strong>Order Summary</strong></li>
        </ul>
        <!-- Shipping Address Start -->
        <fieldset class="checkout-address">
          <h5 class="mb-4">Welcome Manish !</h5>
          <div class="custom-card">
            <div class="row">
              <div class="col-sm-6 col-xl-12">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="First-name" placeholder="Enter full name*">
                  <label for="First-name">Enter full name*</label>
                </div>
              </div>
              <div class="col-sm-6 col-xl-6">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="Phone-number" placeholder="Phone number*">
                  <label for="Phone-number">Phone number*</label>
                </div>
              </div>
              <div class="col-sm-6 col-xl-6">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="Address1" placeholder="Address*">
                  <label for="Address1">Address*</label>
                </div>
              </div>
              <div class="col-sm-6 col-xl-12">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="Address2" placeholder="Apartment, suite, etc. (optional)">
                  <label for="Address2">Apartment, suite, etc. (optional)</label>
                </div>
              </div>
              <div class="col-sm-6 col-xl-6">
                <div class="mb-4">
                  <select class="form-select">
                    <option>--State--</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-xl-6">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="City" placeholder="City*">
                  <label for="City">City*</label>
                </div>
              </div>

              <div class="col-sm-6 col-xl-6">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="Postal-code" placeholder="Postal code*">
                  <label for="Postal-code">Postal code*</label>
                </div>
              </div>
              <div class="col-sm-6 col-xl-6">
                <div class="mb-4">
                  <select class="form-select">
                    <option>--Address Type--</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <a href="javascript:void(0)" class="btn btn-default px-4 btn-border"><i
                    class="fa-regular fa-check me-1"></i> Submit</a>
              </div>
            </div>
          </div>
          <div class="custom-card">
            <div class="row">
              <div class="col-xl-12">
                <div class="custom-card-address-list">
                  <div class="custom-card-address-list-header mb-2 d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Rahul sharma</h5>
                    <div class="custom-card-address-list-action d-flex align-items-center">
                      <span class="me-3">Default Address</span>
                      <a href="javascript:void(0)" class="text-success ms-2" data-bs-toggle="modal"
                        data-bs-target="#Add-Update-Address"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Edit" class="fa-light fa-pen"></i> </a>
                      <a href="javascript:void(0)" class="text-danger ms-2" data-bs-toggle="modal"
                        data-bs-target="#DeleteAddress"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Delete" class="fa-regular fa-trash"></i> </a>
                    </div>
                  </div>
                  <div class="custom-card-address-list-items form-check">
                    <input class="form-check-input" type="radio" name="SaveAdd1" id="SaveAdd1">
                    <label class="form-check-label" for="SaveAdd1">
                      4-RA-5 Monilek Marg, Near Monilek Hospital
                      Jawahar Nagar
                      Jaipur, Raj, 302013
                      Mobile : 8952098741
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-card">
            <div class="row">
              <div class="col-xl-12">
                <div class="custom-card-address-list">
                  <div class="custom-card-address-list-header mb-2 d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Nitesh mathur</h5>
                    <div class="custom-card-address-list-action d-flex align-items-center">
                      <a href="javascript:void(0)" class="text-success ms-2" data-bs-toggle="modal"
                        data-bs-target="#Add-Update-Address"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Edit" class="fa-light fa-pen"></i> </a>
                      <a href="javascript:void(0)" class="text-danger ms-2" data-bs-toggle="modal"
                        data-bs-target="#DeleteAddress"> <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                          title="Delete" class="fa-regular fa-trash"></i> </a>
                    </div>
                  </div>
                  <div class="custom-card-address-list-items form-check">
                    <input class="form-check-input" type="radio" name="SaveAdd1" id="SaveAdd1">
                    <label class="form-check-label" for="SaveAdd1">
                      4-RA-5 Monilek Marg, Near Monilek Hospital
                      Jawahar Nagar
                      Jaipur, Raj, 302013
                      Mobile : 8952098741
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a class="btn-add-new-address" href="javascript:void(0)" data-bs-toggle="modal"
            data-bs-target="#Add-Update-Address"><i class="bi bi-plus-circle me-2"></i> Add new address</a>
          <button type="button" name="next" class="next btn btn-default px-4 float-end">Save & Continue</button>
        </fieldset>
        <!-- Shipping Address End -->
        <!-- Payment Start -->
        <fieldset class="checkout-payment">
          <div>
            Payment
          </div>
          <button type="button" name="previous" class="previous btn btn-default btn-border px-4 me-3 "><i
              class="bi bi-chevron-left"></i> Previous</button>
          <button type="button" name="next" class="next btn btn-default px-4 float-end">Save & Continue</button>
        </fieldset>
        <!-- Payment End -->
        <!-- Order Summary Start -->
        <fieldset class="order-summary">
          <div class="order-summary-header text-center">
            <h1 class="mb-3"><i class="bi bi-check2-circle"></i> Woo Hoo! You Did it! <br />
              Your Order <span> #8262475 </span> has been placed! </h1>
            <p class="p-0">We sent an email to <a href="javascript:void(0)"> <strong> abby.kidman@gmail.com </strong>
              </a> with your order confirmation and receipt. If the email hasn’t
              arrived within a few minutes, please check your spam folder to see if the email was routed there.</p>
          </div>

          <div class="row order-summary-cart pt-4">
            <div class="col-sm-6 col-lg-6 mb-4 mb-sm-0">
              <div class="order-summary-cart-items">
                <h3><i class="bi bi-geo-alt me-1"></i> Shipping Address: </h3>
                <p class="m-0">Abby Kidman
                  3709 S Dennis Dr Ste 112
                  Tempe, AZ 85282
                  (520) 302-6936 </p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6">
              <div class="order-summary-cart-items">
                <div class="order-summary-cart-items-list mb-3">
                  <h3><i class="bi bi-calendar-week me-1"></i> Date:: 05/12/2022 </h3>
                </div>
                <div class="order-summary-cart-items-list mb-3">
                  <h3><i class="fa-light fa-credit-card me-1"></i> Payment Method: </h3>
                  <div class="order-summary-payment-option mt-3">
                    <img src="assets/images/paytm.png" alt="" />
                  </div>
                </div>
                <div class="order-summary-cart-items-list">
                  <h3><i class="fa-light fa-truck-fast me-1"></i> Shipping Method : </h3>
                  <p>Standard Shipping</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-xl-8 col-lg-8 col-md-7">
              <h4 class="mb-4">Order Details</h4>
              <div class="order-summary-list">
                <div class="order-summary-list-items">
                  <div class="order-summary-list-items-body d-flex">
                    <div class="order-summary-list-img"><img src="assets/images/no-img.png" alt="" /></div>
                    <div class="order-summary-list-info">
                      <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                      <div class="order-summary-list-info-price"> ₹ 450 </div>
                      <div class="d-flex mt-2">
                        <p class="mb-0 me-3">Qty: <strong class="d-block d-sm-inline">05</strong></p>
                        <p class="mb-0 me-3">Size: <strong class="d-block d-sm-inline">XXL</strong></p>
                        <p class="mb-0 me-3">Total Item Price: <strong class="d-block d-sm-inline">₹ 2,897</strong></p>
                      </div>
                    </div>
                  </div>
                  <div class="order-summary-list-items-footer">
                    <strong class="mb-1 d-block">Delivery Address</strong>
                    <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
                      8952098741</p>
                  </div>
                </div>
                <div class="order-summary-list-items">
                  <div class="order-summary-list-items-body d-flex">
                    <div class="order-summary-list-img"><img src="assets/images/no-img.png" alt="" /></div>
                    <div class="order-summary-list-info">
                      <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                      <div class="order-summary-list-info-price"> ₹ 450 </div>
                      <div class="d-flex mt-2">
                        <p class="mb-0 me-3">Qty: <strong class="d-block d-sm-inline">05</strong></p>
                        <p class="mb-0 me-3">Size: <strong class="d-block d-sm-inline">XXL</strong></p>
                        <p class="mb-0 me-3">Total Item Price: <strong class="d-block d-sm-inline">₹ 2,897</strong></p>
                      </div>
                    </div>
                  </div>
                  <div class="order-summary-list-items-footer">
                    <strong class="mb-1 d-block">Delivery Address</strong>
                    <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
                      8952098741</p>
                  </div>
                </div>
                <div class="order-summary-list-items">
                  <div class="order-summary-list-items-body d-flex">
                    <div class="order-summary-list-img"><img src="assets/images/no-img.png" alt="" /></div>
                    <div class="order-summary-list-info">
                      <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                      <div class="order-summary-list-info-price"> ₹ 450 </div>
                      <div class="d-flex mt-2">
                        <p class="mb-0 me-3">Qty: <strong class="d-block d-sm-inline">05</strong></p>
                        <p class="mb-0 me-3">Size: <strong class="d-block d-sm-inline">XXL</strong></p>
                        <p class="mb-0 me-3">Total Item Price: <strong class="d-block d-sm-inline">₹ 2,897</strong></p>
                      </div>
                    </div>
                  </div>
                  <div class="order-summary-list-items-footer">
                    <strong class="mb-1 d-block">Delivery Address</strong>
                    <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
                      8952098741</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 mt-4 mt-md-0">
              <div class="shopping-cart-sidebar">
                <div class="shopping-cart-summary">
                  <h4 class="mb-4">Cart Summary</h4>
                  <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
                    <p>Subtotal</p>
                    <p>₹ 11,000</p>
                  </div>
                  <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
                    <p>Shipping</p>
                    <p>Free</p>
                  </div>
                  <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
                    <p>Warranty</p>
                    <p>Free</p>
                  </div>
                  <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
                    <p>Tax</p>
                    <p>₹ 590</p>
                  </div>
                  <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
                    <strong> Total </strong><strong> ₹ 11,590 </strong>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-5 text-center">
            <button type="button" class="btn btn-default  px-4"><i class="fa-regular fa-house me-2"></i> Back to home
            </button>
          </div>
        </fieldset>
        <!-- Order Summary End -->
      </div>

      <!-- Add or Update Address Modal Start -->
      <div class="modal fade modal-custom-design" id="Add-Update-Address" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header pb-0">
              <h5 class="m-0">Add or update address</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fa-sharp fa-light fa-xmark"></i>
              </button>
            </div>
            <div class="modal-body p-4 modal-form-update">
              <div class="row">
                <div class="col-xl-12">
                  <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="First-name" placeholder="Enter full name*">
                    <label for="First-name">Enter full name*</label>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="Phone-number" placeholder="Phone number*">
                    <label for="Phone-number">Phone number*</label>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="Address1" placeholder="Address*">
                    <label for="Address1">Address*</label>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="Address2"
                      placeholder="Apartment, suite, etc. (optional)">
                    <label for="Address2">Apartment, suite, etc. (optional)</label>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="mb-4">
                    <select class="form-select">
                      <option>--State--</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="City" placeholder="City*">
                    <label for="City">City*</label>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="Postal-code" placeholder="Postal code*">
                    <label for="Postal-code">Postal code*</label>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="mb-0">
                    <select class="form-select">
                      <option>--Address Type--</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-12 mt-3">
                  <div class="form-check d-flex align-items-center">
                    <input type="checkbox" class="form-check-input" id="check22">
                    <label class="form-check-label ms-2" for="check22">Set as Default</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer pt-0">
              <button type="button" class="btn btn-default px-3 py-1 me-2" data-bs-dismiss="modal"><i
                  class="bi bi-check2"></i> Save</button>
              <button type="button" class="btn btn-default btn-border px-3 py-1 btn-cancel"
                data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Add or Update Address Modal End -->

      <!-- Delete Address items Modal Start -->

      <div class="modal fade modal-custom-design" id="DeleteAddress" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header pb-0">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fa-sharp fa-light fa-xmark"></i>
              </button>
            </div>
            <div class="modal-body p-4 modal-alert">
              <h1 class="mb-0">
                Are you sure want to delete this address from the address book ?
              </h1>
            </div>
            <div class="modal-footer pt-0">
              <button type="button" class="btn btn-default px-3 py-1 me-2" data-bs-dismiss="modal"><i
                  class="fa-regular fa-trash me-1"></i> Delete</button>
              <button type="button" class="btn btn-default btn-cancel btn-border px-3 py-2"
                data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Delete Address items Modal End -->


      <!-- <div class="col-xl-3 col-lg-4 mt-5 mt-lg-0 ">
        <div class="shopping-cart-sidebar">
          <div class="cart-sidebar-body-cart mb-4">
            <h5 class="mb-3">Order Details</h5>
            <div class="cart-sidebar-body-cart-items d-flex py-2">
              <div class="cart-sidebar-body-cart-items-img d-flex align-items-center justify-content-center"> <img
                  src="assets/images/no-img.png" alt="" /></div>
              <div class="cart-sidebar-body-cart-items-info">
                <a href="javascript:void(0)">
                  <h1>Rayon Long Flared Anarkali Kurti</h1>
                  <div class="d-flex justify-content-between text-muted font-13">
                    <div> <strong>Size:</strong> L</div>
                    <div> <strong>Qty:</strong> 6</div>
                  </div>
                  <h2>₹ 399</h2>
                </a>
              </div>
            </div>
            <div class="cart-sidebar-body-cart-items d-flex py-2">
              <div class="cart-sidebar-body-cart-items-img d-flex align-items-center justify-content-center"> <img
                  src="assets/images/no-img.png" alt="" /></div>
              <div class="cart-sidebar-body-cart-items-info">
                <a href="javascript:void(0)">
                  <h1>Rayon Bandhani Printed Kurti with Pant</h1>
                  <div class="d-flex justify-content-between text-muted font-13">
                    <div> <strong>Size:</strong> L</div>
                    <div> <strong>Qty:</strong> 6</div>
                  </div>
                  <h2>₹ 399</h2>
                </a>
              </div>
            </div>
          </div>
          <div class="shopping-cart-summary">
            <h5 class="mb-3">Cart Summary</h5>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Subtotal</p>
              <p>₹ 11,000</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Shipping</p>
              <p>Free</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Warranty</p>
              <p>Free</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Tax</p>
              <p>₹ 590</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <strong> Total </strong><strong> ₹ 11,590 </strong>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section>
