<app-header></app-header>
<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Page name</li>
                </ol>
            </div>
        </div>
    </div>
</nav>
<!-- Breadcrum End -->


<!-- <div class="col-lg-12 d-md-flex justify-content-between align-items-center mb-4">
                <div class="section-title text-center text-md-start m-0">StoreOne Category</div>
                <div class="product-list-search position-relative">
                    <input type="search" placeholder="Search..">
               <button type="submit"><i class="bi bi-search"></i></button>
       </div>
</div> -->



<Section class="login-reister-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center section-title">Sign in</h3>
                <form class="mx-400 m-auto">
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="**********">
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check d-flex align-items-center">
                            <input type="checkbox" class="form-check-input" id="check1">
                            <label class="form-check-label ms-2" for="check1">I agree</label>
                        </div>
                        <a href="javascript:void(0)" class="font-13 text-dark">Forgot password ?</a>
                    </div>

                    <button type="submit" class="mt-4 btn btn-default p-2 text-uppercase d-block w-100">Sign in</button>

                    <div class="text-center mt-3">Not register yet? <a href="javascript:void(0)" class="text-theme-primary font-w-500">Create an Account</a> </div>

                </form>
            </div>
        </div>
    </div>
</Section>

<app-footer></app-footer>