/* RESPONSIVE START */

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

}

@media screen and (min-width:1120px) {}

@media screen and (max-width:1450px) {
    /* .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1350px;
    } */
    .carousel-caption h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:992px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
    .navbar-nav li a {
        padding: 10px 20px !important;
        color: #fff !important;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    }
    .navbar-nav li:last-child a {
        border: none;
    }
    .navbar-nav li.active a,
    .navbar-nav li.active a {
        color: #85afff !important;
    }
    .topbar a {
        font-size: 12px;
        margin-left: 4px;
    }
    .navbar-collapse {
        position: fixed;
        top: 0px;
        right: 0;
        padding: 15px;
        width: 35%;
        height: 100%;
        overflow: auto;
        z-index: 9999999;
        padding: 0px;
    }
    .navbar-collapse.collapsing {
        right: -75%;
        transition: height 0s ease;
    }
    .navbar-collapse.show {
        right: 0;
        transition: right 300ms ease-in-out;
    }
    .navbar-collapse {
        background: var(--secondary-color);
    }
    .navbar-toggler.collapsed~.navbar-collapse {
        transition: right 500ms ease-in-out;
    }
    .navbar-toggler {
        padding: 0px;
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler-icon {
        width: auto;
        height: auto;
        background-image: none !important;
    }
    .navbar-toggler-icon i {
        font-size: 30px;
        color: #000;
    }
}

@media screen and (min-width:767px) {}

@media screen and (max-width:1500px) {}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1078px) {}

@media screen and (max-width:992px) {}

@media (max-width: 1024px) {
    .product-list-items-img {
        height: 235px;
    }
    .product-list-info h3 {
        font-size: 16px;
    }
    .product-list-info p {
        font-size: 15px;
    }
}
@media screen and (min-width:767px)
{
    footer .collapse:not(.show) {
        display: block;
    }
    footer .accordion-button::after
    {
        display: none;
    }
    .aside-category {
      display: block !important;
      transform: none;
      position: static;
      width: auto;
      visibility: visible;
  }

}
@media screen and (max-width:767px) {
  .aside-category {
    box-shadow: none;
    background: #fff;
    border-radius: 0px;
    width: 80%;
    display: inline-block;
    overflow: auto;
}
    .open-advance-filter {
        max-width: 88%;
    }
    .navbar-collapse {
        width: 50%;
    }
    .section-title {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 35px !important;
    }
    footer h4 {
        margin-top: 30px;
    }


    footer .container {
        padding: 25px 20px;
    }
    footer h4, footer .accordion-button {
        font-size: 17px;
        margin: 0px;
    }
    .home-category-d-1 .home-category-items-img {
        height: auto;
    }
    .home-category-d-1 .home-category-items-img img {
        max-height: 200px;
    }
    .home-category-d-1 .home-category-items-caption {
        font-size: 16px;
    }
    .product-list-items-img {
        height: auto;
        overflow: hidden;
    }
    .product-list-info h3 {
        font-size: 16px;
    }
    .product-list-info p {
        font-size: 14px;
    }
    .product-list-search input, .product-list-search input:focus {
        min-width: 100%;
    }
}

@media screen and (max-width:575px) {
    .navbar-collapse {
        width: 75%;
    }
}


/* RESPONSIVE END */
