 <!-- <div class="form-container">
  <div class="form-form">
    <div class="login-logo">
      <a href="javascript:void(0)">
        <img src="assets/images/brand-logo.png" alt="StoreOne" />
      </a>
    </div>
    <div class="form-form-wrap">
      <div class="form-container">
        <div class="form-content">
          <form class="text-left" (ngSubmit)="onSubmit()">
            <div class="form">
              <h1 class="">Log In to <span>Seller Portal</span></h1>
              <div id="username-field" class="field-wrapper input">
                <label for="username">USERNAME</label>
                <i class="bi bi-person-circle icon-login-form"></i>
                <input id="username" name="username" type="text" [(ngModel)]="model.Email" class="form-control"
                  placeholder="Email-Id ">
              </div>
              <div id="password-field" class="field-wrapper input mb-2">
                <div class="d-flex justify-content-between">
                  <label for="password">PASSWORD</label>
                </div>
                <i class="bi bi-shield-lock icon-login-form"></i>
                <input id="password" name="password" type="{{isShowPass ? 'text':'password'}}"
                  [(ngModel)]="model.Password" class="form-control" placeholder="Password">
                <i (click)="isShowPass=!isShowPass" class="fas"
                  [ngClass]="{'fa-eye-slash' : isShowPass, 'fa-eye' : !isShowPass}"></i>
              </div>
              <div class="d-sm-flex justify-content-between">
                <div class="field-wrapper">
                  <button type="submit" class="btn btn-primary" value=""><i
                      class="fas fa-check mr-2 text-success"></i>Log In</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div> -->


<form class="h-100" (ngSubmit)="onSubmit()">
  <section class="page-login-register h-100">
    <div class="container-fluid h-100">
      <div class="row align-items-center h-100">
        <div class="col-md-6 page-login-register-left mb-auto">
          <a href="javascript:void(0)" class="login-register-logo">
            <img src="assets/images/logo.png" alt="" />
          </a>
        </div>
        <div
          class="col-md-6 page-login-register-right h-100 d-flex flex-column align-items-center justify-content-center">
          <div class="page-login-register-right-form">
            <h2>Login to <span> Seller Portal </span></h2>
            <div class="mb-4 position-relative">
              <i class="bi bi-person-circle icon-login-form"></i>
              <input id="username" name="username" type="text" [(ngModel)]="model.Email" class="form-control"
              placeholder="Email-Id ">
            </div>
            <div class="mb-4 position-relative">
              <i class="bi bi-shield-lock icon-login-form"></i>
              <input id="password" name="password" type="{{isShowPass ? 'text':'password'}}"
              [(ngModel)]="model.Password" class="form-control" placeholder="Password">
              <div class="pas-eye">
            <i (click)="isShowPass=!isShowPass" class="fas"
              [ngClass]="{'fa-eye-slash' : isShowPass, 'fa-eye' : !isShowPass}"></i>
            </div>
            </div>
            <div class="mt-2">
              <button type="submit" class="btn theme-btn text-uppercase w-100">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
