body {
    background: #000;
}

.login-logo {
    // margin-bottom: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.login-logo img {
    max-width: 60px;
}

.forgot-pass-link {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.form-content .form h1 {
    margin-bottom: 25px;
}

.form-content .form h1 span {
    font-weight: 700;
    color: #A10965;
}

.form-form .form-container .form-content {
    background: url(../../../../assets/img/pay_bg.png);
}
form i {
  margin-left: -30px;
  cursor: pointer;
}

@media (max-width: 991px) {
    .login-logo {
        position: static;
        text-align: center;
        margin: 15px 0px;
    }
    .form-form .form-container .form-content {
        padding: 0px;
        box-shadow: none;
        background: transparent;
    }
    .form-form .form-form-wrap {
        height: auto;
    }
}
