<div class="form-container">
  <div class="form-form">
    <div class="login-logo">
      <a href="javascript:void(0)">
        <img src="assets/img/brand-logo.png" alt="StoreOne" />
      </a>
    </div>
    <div class="form-form-wrap">
      <div class="form-container">
        <div class="form-content">
          <form class="text-left" (ngSubmit)="onSubmit()">
            <div class="form">
              <h1 class="">Log In to <span>Seller Portal</span></h1>
              <div id="username-field" class="field-wrapper input">
                <label for="username">USERNAME</label>
                <i class="bi bi-person-circle icon-login-form"></i>
                <input id="username" name="username" type="text" [(ngModel)]="model.Email" class="form-control"
                  placeholder="Email-Id ">
              </div>
              <div id="password-field" class="field-wrapper input mb-2">
                <div class="d-flex justify-content-between">
                  <label for="password">PASSWORD</label>
                </div>
                <i class="bi bi-shield-lock icon-login-form"></i>
                <input id="password" name="password" type="{{isShowPass ? 'text':'password'}}"
                  [(ngModel)]="model.Password" class="form-control" placeholder="Password">
                <i (click)="isShowPass=!isShowPass" class="fas"
                  [ngClass]="{'fa-eye-slash' : isShowPass, 'fa-eye' : !isShowPass}"></i>
              </div>
              <div class="d-sm-flex justify-content-between">
                <div class="field-wrapper">
                  <button type="submit" class="btn btn-primary" value=""><i
                      class="fas fa-check mr-2 text-success"></i>Log In</button>
                </div>
              </div>
            </div>
          </form>
          <p class="terms-conditions text-center mb-0 mt-5">© 2023 All Rights Reserved. <a href="javascript:void(0);"> Jaipur Clothing</a> </p>

        </div>
      </div>
    </div>
  </div>

</div>
