<!--  BEGIN CONTENT AREA  -->
<div class="layout-px-spacing">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">

            <div class="page-not-found text-center">
                <div class="page-not-found-img"> <img src="assets/img/not-found.png" alt="First Store"></div>
                <h1>Ooops!</h1>
                <p>The page you are looking for was not found.</p>
                <a href="#" class="btn btn-primary mt-3">Go Back</a>
            </div>

        </div>
    </div>

</div>

<!--  END CONTENT AREA  -->
