<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- Breadcrum End -->

<section class="inner-page-space cart-page">
  <div class="container">
    <div class="row">
		<!-- Empty Cart Page Start -->
      <div class="cart-page-empty d-none">
        <i class="fa-thin fa-cart-circle-plus text-success"></i>
            <p>Your basket is currently empty.</p>
            <a href="javascript:void(0)" class="btn btn-default px-4 text-uppercase btn-border">Continue Shopping <i class="bi bi-arrow-right ms-1"></i></a>
        </div>
		<!-- Empty Cart Page End -->
      <div class="col-xl-9 col-lg-8 pe-2 pe-lg-5">
        <div class="cart-page-list">
          <h5 class="mb-2"><i class="bi bi-cart3 me-1"></i> MY Cart : <strong *ngIf="cartModel.length>0">
              {{cartModel.length}} </strong></h5>
          <ng-container *ngFor="let item of cartModel;let indx=index ">
            <div class="cart-list-items">
              <div class="d-flex">
                <div class="cart-list-items-img"><img [src]="item?.Product?.ImagePath"
                    onerror="this.src='assets/images/no-img.png'" alt="" /></div>
                <div class="cart-list-items-description">
                  <div class="d-flex align-items-start justify-content-between">
                    <h3><a href="javascript:void(0)" [routerLink]="getDetailUrl(item?.Product)"
                        class="cart-sidebar-body-cart-items-info-title"> {{item.Product.Name}}</a> </h3>
                    <a class="cart-list-items-action" (click)="deleteCartItem(item)" href="javascript:void(0)"><i
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                        class="fa-regular fa-trash"></i></a>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-2">
                    <div class="d-flex align-items-center flex-wrap">
                      <div class="d-flex align-items-center product-list-select-control">
                        <strong class="me-1 d-none d-sm-block text-muted font-w-500">Size :</strong>
                        <ng-select [clearable]="false" (change)="getUpdatedPrice(item.SizeId,item.ProductId)"
                          placeholder="Size" [searchable]="true" id="{{'Size_'}}" [(ngModel)]="item.SizeId"
                          (blur)="UpdateCartProduct(item)">
                          <ng-container *ngFor="let itm of sizeModel">
                            <ng-option *ngIf="checkSizeExist(item.SizeId,item.ProductId,itm.Value)"
                              [value]="itm.Value">{{itm.Text}}</ng-option>
                          </ng-container>
                        </ng-select>
                      </div>
                      <div class="product-list-qty d-flex ms-2 ms-sm-4">
                        <strong class="me-1 d-none d-sm-block text-muted font-w-500">Qty :</strong>
                        <button type="button" class="product-list-qty-btn" [disabled]="item.Quantity==1"
                          (click)="item.Quantity=item.Quantity-1" (blur)="UpdateCartProduct(item)"><i
                            class="fa-sharp fa-light fa-minus"></i></button>
                        <input type="text" readonly placeholder="Quantity" [(ngModel)]="item.Quantity">
                        <button type="button" class="product-list-qty-btn"
                          [disabled]="item.Quantity==10 || item.Quantity==getMaxCartQuantity(item.SizeId,item.ProductId)"
                          (click)="item.Quantity=item.Quantity+1" (blur)="UpdateCartProduct(item)"><i
                            class="fa-sharp fa-light fa-plus"></i></button>
                      </div>
                    </div>
                    <div class="cart-list-items-price"> ₹ {{getSellingPrice(item.SizeId,item.ProductId)}} <span
                        *ngIf="getSellingPrice(item.SizeId,item.ProductId)!=getMRPrice(item.SizeId,item.ProductId)">₹
                        {{getMRPrice(item.SizeId,item.ProductId)}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 mt-5 mt-lg-0">
        <div class="shopping-cart-sidebar">
          <div class="cart-discount-code mb-4">
            <h5 class="mb-3">Discount Code</h5>
            <div class="d-flex">
              <div class="form-floating">
                <input type="text" id="PromoCode" placeholder="Enter promo code" class="form-control" />
                <label for="ConfirmrNewPas">Promo Code</label>
              </div>
              <button type="button" class="btn btn-default"> Apply </button>
            </div>
          </div>
          <div class="shopping-cart-summary">
            <h5 class="mb-3">Cart Summary</h5>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>MRP</p>
              <p>₹{{TotalMRP}}</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Shipping</p>
              <p>Free</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Discount on MRP</p>
              <p>₹ -{{TotalMRP-TotalAmount}}</p>
            </div>
            <!-- <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Coupon Discount</p>
              <p>₹590</p>
            </div> -->
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <strong> Total Amount </strong><strong> ₹ {{TotalAmount}} </strong>
            </div>
          </div>
          <div class="shopping-cart-summary-action mt-4">
            <button type="button" class="btn btn-default px-3 text-uppercase w-100 py-2"
              [routerLink]="['/shop/checkout']"><i class="fa-light fa-credit-card me-2"></i>Continue
              checkout</button>
          </div>
          <div class="shopping-cart-pay-option d-flex align-items-center justify-content-center mt-2">
            <img src="assets/images/paytm.png" style="max-width:50px;" />
            <img src="assets/images/phonepay.svg" />
            <img src="assets/images/gpay.svg" />
            <img src="assets/images/visa.svg" />
            <img src="assets/images/master-card.svg" />
            <!-- <img src="assets/images/paypal.svg"/> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
