<!-- Page Header Start-->
<div class="page-new-header">
  <div class="page-new-header-title">
    Customer Detail
  </div>
  <div class="page-new-header-action">
    <button routerLink="../../edit/{{00}}" class="page-new-header-action-items" data-title="Edit"> <i
        class="bi bi-pencil"></i></button>
    <button routerLink="/admin/Customer" class="page-new-header-action-items" data-title="Back to list"> <i
        class="bi bi-arrow-return-left"></i> </button>
  </div>
</div>
<!-- Page Header End-->


<div class="content-box">

  <div class="widget-content p-3 form-grp-w-border">
    <h2> <i class="bi bi-person-bounding-box"></i> Personal Details</h2>
    <!-- <div class="page-profile d-flex align-items-center justify-content-center mx-auto mb-3"><img
      src="assets/images/user-default.jpg"></div> -->
    <div class="table-responsive">
      <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0">
        <tbody>
          <tr>
            <td style="width: 18%;"> <strong> Name: </strong> </td>
            <td style="width: 32%;">{{this.model?.FirstName}} {{this.model?.LastName}}</td>
            <td style="width: 18%;"><strong> Date of birth: </strong> </td>
            <td style="width: 32%;">{{this.model?.Dob}}</td>
          </tr>

          <tr>
            <td><strong> Email: </strong> </td>
            <td>{{this.model?.Email}}</td>
            <td><strong> Mobile number: </strong> </td>
            <td>{{this.model?.Mobile}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="widget-content p-3 form-grp-w-border">
    <h2> <i class="bi bi-geo-alt"></i> Address</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="card-d-1">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="m-0">Address 1</h3>
            <span class="badge badge-success border-round px-3">Default</span>
          </div>
          <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
            8952098741</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="card-d-1">
          <h3>Address 2</h3>
          <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
            8952098741</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="card-d-1">
          <h3>Address 3</h3>
          <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
            8952098741</p>
        </div>
      </div>
    </div>
  </div>

  <div class="widget-content p-3 form-grp-w-border">
    <h2> <i class="bi bi-shop-window"></i> Orders</h2>

    <div class="table-responsive table-shadow">
      <table class="custom-mat-table">
        <thead>
          <tr>
            <th style="width: 20px;">S. no</th>
            <th style="width: 200px;">Product image</th>
            <th>Product name</th>
            <th style="width: 100px;">Price</th>
            <th style="width: 50px;">Qty</th>
            <th style="width: 100px;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>
              <div class="lsit-category-img d-flex align-items-center justify-content-center">
                <img src="assets/images/no-img.svg">
              </div>
            </td>
            <td>Pink Bandhej Printed Kurti Pant Set.</td>
            <td>₹ 450</td>
            <td>04</td>
            <td class="table-action-btn">
              <a href="javascript:void(0)" class="table-action-btn-view" data-bs-toggle="tooltip" data-placement="bottom"
                title="View"><i class="bi bi-eye"></i></a>
              <a href="javascript:void(0)" class="table-action-btn-delete" data-bs-toggle="tooltip" data-placement="bottom"
                title="Remove"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>02</td>
            <td>
              <div class="lsit-category-img d-flex align-items-center justify-content-center">
                <img src="assets/images/no-img.svg">
              </div>
            </td>
            <td>Pink Bandhej Printed Kurti Pant Set.</td>
            <td>₹ 450</td>
            <td>04</td>
            <td class="table-action-btn">
              <a href="javascript:void(0)" class="table-action-btn-view" data-bs-toggle="tooltip" data-placement="bottom"
                title="View"><i class="bi bi-eye"></i></a>
              <a href="javascript:void(0)" class="table-action-btn-delete" data-bs-toggle="tooltip" data-placement="bottom"
                title="Remove"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>03</td>
            <td>
              <div class="lsit-category-img d-flex align-items-center justify-content-center">
                <img src="assets/images/no-img.svg">
              </div>
            </td>
            <td>Pink Bandhej Printed Kurti Pant Set.</td>
            <td>₹ 450</td>
            <td>04</td>
            <td class="table-action-btn">
              <a href="javascript:void(0)" class="table-action-btn-view" data-bs-toggle="tooltip" data-placement="bottom"
                title="View"><i class="bi bi-eye"></i></a>
              <a href="javascript:void(0)" class="table-action-btn-delete" data-bs-toggle="tooltip" data-placement="bottom"
                title="Remove"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>04</td>
            <td>
              <div class="lsit-category-img d-flex align-items-center justify-content-center">
                <img src="assets/images/no-img.svg">
              </div>
            </td>
            <td>Pink Bandhej Printed Kurti Pant Set.</td>
            <td>₹ 450</td>
            <td>04</td>
            <td class="table-action-btn">
              <a href="javascript:void(0)" class="table-action-btn-view" data-bs-toggle="tooltip" data-placement="bottom"
                title="View"><i class="bi bi-eye"></i></a>
              <a href="javascript:void(0)" class="table-action-btn-delete" data-bs-toggle="tooltip" data-placement="bottom"
                title="Remove"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
          <tr>
            <td>05</td>
            <td>
              <div class="lsit-category-img d-flex align-items-center justify-content-center">
                <img src="assets/images/no-img.svg">
              </div>
            </td>
            <td>Pink Bandhej Printed Kurti Pant Set.</td>
            <td>₹ 450</td>
            <td>04</td>
            <td class="table-action-btn">
              <a href="javascript:void(0)" class="table-action-btn-view" data-bs-toggle="tooltip" data-placement="bottom"
                title="View"><i class="bi bi-eye"></i></a>
              <a href="javascript:void(0)" class="table-action-btn-delete" data-bs-toggle="tooltip" data-placement="bottom"
                title="Remove"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>
