<!-- Page Header Start-->
<div class="page-new-header">
  <div class="page-new-header-title">
    Customer Detail
  </div>
  <div class="page-new-header-action">
    <button routerLink="../../edit/{{00}}" class="page-new-header-action-items" data-title="Edit"> <i
        class="fa-light fa-pen"></i></button>
    <button routerLink="/admin/Customer" class="page-new-header-action-items" data-title="Back to list"> <i
        class="fa-sharp fa-light fa-arrow-left"></i> </button>
  </div>
</div>
<!-- Page Header End-->


<div class="content-box">
  <div class="row">
    <div class="col-lg-12">
      Customer Detail Comming soon...<br/>
      Personal Details <br/>
      Address<br/>
      Orders
    </div>
  </div>
</div>
