<!-- Footer Start -->
<footer class="footer-light" id="Footer">
  <div class="container">
    <div class="row">
        <ul class="footer-benefits d-flex flex-wrap justify-content-center">
          <li>
            <img src="assets/images/services_free_shipping.svg" alt=""/>
            <p>FREE SHIPPING</p>
          </li>
          <li>
            <img src="assets/images/services_cash_on_delivery.svg" alt=""/>
            <p>CASH ON DELIVERY</p>
          </li>
          <li>
            <img src="assets/images/services_safe_payment.svg" alt=""/>
            <p>SAFE PAYMENT</p>
          </li>
          <li>
            <img src="assets/images/services_onetime_delivery.svg" alt=""/>
            <p>ONTIME DELIVERY</p>
          </li>
          <li>
            <img src="assets/images/sevices_made_in_india.svg" alt=""/>
            <p>MADE IN INDIA</p>
          </li>
        </ul>
      <div class="col-lg-12">
        <div class="footer-newsletter text-center d-flex align-items-center justify-content-center flex-wrap mb-5">
          <h3 class="mb-3 mb-md-0">Sign up for emails and get exclusive offers!</h3>
          <input type="text" placeholder="Enter Your Email Address"/>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
      <div class="col-md-3 mb-3 mb-md-0">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Footer1">
          Top Categories
        </button>
        <ul class="footer-link collapse mt-2 mt-md-0" id="Footer1" data-bs-parent="#Footer">
          <li *ngFor="let itms of this.ddlCategory"> <a routerLink="./store/{{itms.Text.split(' ').join('_')}}"
              href="javascript:void(0)" [queryParams]="{id : itms.Value}">{{itms.Text |titlecase}}</a></li>

        </ul>
      </div>
      <div class="col-md-3 mb-3 mb-md-0" *ngIf="cmsPageMenu?.length>0">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Footer2">
          Other Links
        </button>
        <ul class="footer-link collapse mt-2 mt-md-0" id="Footer2" data-bs-parent="#Footer">
          <li *ngFor="let itm of cmsPageMenu"> <a [routerLink]="['/page/'+itm.Text]" [queryParams]="{id : itm.Value}"
              href="javascript:void(0)"> {{itm.Text | titlecase}}</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3 mb-md-0">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Footer3">
          Experience Our App
        </button>
        <div class="footer-app collapse mt-3 mt-md-0" id="Footer3" data-bs-parent="#Footer">
          <a href="javascript:void(0)" class="d-block"> <img src="assets/images/play-store.png" /> </a>
          <a href="javascript:void(0)" class="d-block"> <img src="assets/images/ios-store.png" /> </a>
        </div>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Footer4">
          Help & Support
        </button>
        <div class="collapse" id="Footer4" data-bs-parent="#Footer">
          <div class="footer-contact d-flex d-md-block d-flex flex-column  mt-3 mt-md-0">
            <ul>
              <li> <a href="https://wa.me/00000-00000" target="_blank"><i class="bi bi-whatsapp me-2"></i>
                  <span>+91 00000-00000</span>
                </a></li>
              <li> <a href="tel:00000-00000"><i class="bi bi-telephone me-2"></i>
                  <span> +91 00000-00000</span>
                </a></li>
              <li> <a href="Firststore@gmail.com" target="_blank"><i class="bi bi-envelope me-2"></i>
                  <span>Firststore@gmail.com</span>
                </a></li>
              <li>
                <a href="#" target="_blank">
                  <i class="bi bi-geo-alt me-2"></i>
                  <span>Jaipur, raj, india</span>
                </a>
              </li>
            </ul>
          </div>
          <ul class="footer-social pt-3">
            <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->

<!-- Footer Copyright Start -->
<section class="footer-copyright footer-copyright-dark">
  <p class="m-0 text-center">Copyright © 2022 <a href="#" target="_blank">Jaipur Clothing</a>. All rights reserved.
  </p>
</section>
<!-- Footer Copyright End -->

<a id="back-to-top" href="#" role="button" class="btn btn-light back-to-top" style="display: none;"><i
    class="bi bi-chevron-up"></i></a>
