<!-- Footer Start -->
<footer class="footer-dark" id="accordionExample">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mb-md-0">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Footer1">
          Our Category
        </button>
        <ul class="footer-link collapse mt-2 mt-md-0" id="Footer1" data-bs-parent="#accordionExample">
          <li> <a href="javascript:void(0)">Category name 1</a></li>
          <li> <a href="javascript:void(0)">Category name 2</a></li>
          <li> <a href="javascript:void(0)">Category name 3</a></li>
          <li> <a href="javascript:void(0)">Category name 4</a></li>
          <li> <a href="javascript:void(0)">Category name 5</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3 mb-md-0">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Footer2">
          Other Links
        </button>
        <ul class="footer-link collapse mt-2 mt-md-0" id="Footer2" data-bs-parent="#accordionExample">
          <li> <a href="javascript:void(0)">About us</a></li>
          <li> <a href="javascript:void(0)">Terms & Condition</a></li>
          <li> <a href="javascript:void(0)">Privacy Policy</a></li>
          <li> <a href="javascript:void(0)">Website Policy</a></li>
          <li> <a href="javascript:void(0)">Contact us</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3 mb-md-0">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Footer3">
          Experience Our App
        </button>
        <div class="footer-app collapse mt-3 mt-md-0" id="Footer3" data-bs-parent="#accordionExample">
          <a href="javascript:void(0)"> <img src="assets/images/play-store.png" /> </a>
          <a href="javascript:void(0)"> <img src="assets/images/ios-store.png" /> </a>
        </div>
      </div>

      <div class="col-md-3 mb-3 mb-md-0">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Footer4">
          Help & Support
        </button>
        <div class="collapse" id="Footer4" data-bs-parent="#accordionExample">
          <div class="footer-contact d-flex d-md-block d-flex flex-column  mt-3 mt-md-0">
            <ul>
              <li> <a href="https://wa.me/00000-00000" target="_blank"><i class="bi bi-whatsapp me-2"></i>
                  <span>+91 00000-00000</span>
                </a></li>
              <li> <a href="tel:00000-00000"><i class="bi bi-telephone me-2"></i>
                  <span> +91 00000-00000</span>
                </a></li>
              <li> <a href="Firststore@gmail.com" target="_blank"><i class="bi bi-envelope me-2"></i>
                  <span>Firststore@gmail.com</span>
                </a></li>
              <li>
                <a href="#" target="_blank">
                  <i class="bi bi-geo-alt me-2"></i>
                  <span>Jaipur, raj, india</span>
                </a>
              </li>
            </ul>
          </div>
          <ul class="footer-social pt-3">
            <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->

<!-- Footer Copyright Start -->
<section class="footer-copyright footer-copyright-dark">
  <p class="m-0 text-center">Copyright © 2022 <a href="#" target="_blank">First Store</a>. All rights reserved.</p>
</section>
<!-- Footer Copyright End -->

<a id="back-to-top" href="#" role="button" class="btn btn-light back-to-top" style="display: none;"><i
    class="fas fa-chevron-up"></i></a>
