<div class="product-list-items">
  <span *ngIf="Product.Discount>0" class="product-discount-label">{{Product.Discount}}% Off</span>
   <div class="product-list-items-tag" *ngIf="Product.CaptionTag">{{Product.CaptionTag}}</div>
  <div class="product-list-items-img d-flex align-items-center justify-content-center flex-column position-relative">
    <a href="javascript:void(0)" routerLink="{{getUrl()}}">
      <img [src]="Product.ImagePath" onerror="this.src='assets/images/no-img.png'" alt="" />
    </a>
    <!-- #Hover items start-->
    <div class="product-list-items-hover-action">
      <a href="javascript:void(0)" (click)="updateWishlist()" title="Wishlist"><i class="bi"
          [ngClass]="{'bi-heart-fill Wishlist-active':!this.loading.WishList && Product.IsWhishList,'bi-heart':!this.loading.WishList && !Product.IsWhishList ,'bi-hourglass-split':this.loading.WishList}"></i></a>
      <!-- <a href="javascript:void(0)" title="Add to cart"><i class="bi"
          [ngClass]="{'bi-cart3':!this.loading.AddToCart,'bi-hourglass-split':this.loading.AddToCart}"></i></a> -->
    </div>
    <!-- #Hover items End-->
  </div>
  <div class="product-list-info">
    <a href="javascript:void(0)" title="{{Product.Name}}" routerLink="{{getUrl()}}">
      {{Product.Name}} </a>
    <div class="product-list-price">₹ {{Product.SellingPrice}} <span *ngIf="Product.Discount>0"
        class="product-list-cutting-price">₹
        {{Product.Price}}</span></div>
    <!-- <div *ngIf="Product.Discount>0" class="product-list-price-off d-block d-md-none">{{Product.Discount}}% Off</div> -->
  </div>
</div>
