<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

  <nav id="sidebar">
    <div class="shadow-bottom"></div>
    <ul class="list-unstyled menu-categories" id="accordionExample">
      <li class="menu" routerLinkActive="menu-active">
        <a routerLink="/admin" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <i class="bi bi-house-door"></i>
            <span>Dashboard</span>
          </div>
          <span class="shape1"></span>
          <span class="shape2"></span>
        </a>
      </li>


      <li class="menu">
        <a href="#Dropdown-menu-2" data-toggle="collapse" data-active="true" aria-expanded="true"
          class="dropdown-toggle">
          <div class="">
            <i class="bi bi-view-list"></i>
            <span>Product</span>
          </div>
          <div>
            <i class="bi bi-chevron-down"></i>
          </div>
          <span class="shape1"></span>
          <span class="shape2"></span>
        </a>
        <ul class="collapse submenu list-unstyled" id="Dropdown-menu-2" data-parent="#accordionExample">
          <li>
            <a routerLink="./product"> <i class="bi bi-list-check"></i> List </a>
          </li>
          <li>
            <a routerLink="./product/add"> <i class="bi bi-plus-circle"></i> Add New </a>
          </li>
        </ul>
      </li>

      <li class="menu">
        <a href="#Dropdown-menu-3" data-toggle="collapse" data-active="true" aria-expanded="true"
          class="dropdown-toggle">
          <div class="">
            <i class="bi bi-box-seam"></i>
            <span>Master</span>
          </div>
          <div>
            <i class="bi bi-chevron-down"></i>
          </div>
          <span class="shape1"></span>
          <span class="shape2"></span>
        </a>
        <ul class="collapse submenu list-unstyled" id="Dropdown-menu-3" data-parent="#accordionExample">
          <li *ngFor="let itm of dropDown.ddlLookupTypeMaster">
            <a routerLink="./master/{{itm.Text}}/{{itm.Value}}"> <i class="bi bi-bookmarks"></i> {{itm.Text}} </a>
          </li>

        </ul>
      </li>

    </ul>
  </nav>

</div>
<!--  END SIDEBAR  -->
