<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

  <nav id="sidebar">
    <div class="shadow-bottom"></div>
    <ul class="list-unstyled menu-categories" id="accordionExample">
      <li class="menu" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/admin" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <i class="bi bi-house-door"></i>
            <span>Dashboard</span>
          </div>
          <span class="shape1"></span>
          <span class="shape2"></span>
        </a>
      </li>

      <li class="menu" routerLinkActive="menu-active">
        <a href="#Dropdown-menu-2" data-toggle="collapse" data-active="true" aria-expanded="true"
          class="dropdown-toggle">
          <div class="">
            <i class="bi bi-columns-gap"></i>
            <span>Product</span>
          </div>
          <div>
            <i class="bi bi-chevron-down"></i>
          </div>
          <span class="shape1"></span>
          <span class="shape2"></span>
        </a>
        <ul class="collapse submenu list-unstyled" id="Dropdown-menu-2" data-parent="#accordionExample">
          <li routerLinkActive="sub-menu-active">
            <a routerLink="./product/list"> <i class="bi bi-list-check"></i> List </a>
          </li>
          <li routerLinkActive="sub-menu-active">
            <a routerLink="./product/add"> <i class="bi bi-plus-circle"></i> Add New </a>
          </li>
        </ul>
      </li>

      <li class="menu" routerLinkActive="menu-active">
        <a href="#Dropdown-menu-3" data-toggle="collapse" data-active="true" aria-expanded="true"
          class="dropdown-toggle">
          <div class="">
            <i class="bi bi-box-seam"></i>
            <span>Master</span>
          </div>
          <div>
            <i class="bi bi-chevron-down"></i>
          </div>
          <span class="shape1"></span>
          <span class="shape2"></span>
        </a>
        <ul class="collapse submenu list-unstyled" id="Dropdown-menu-3" data-parent="#accordionExample">
          <li *ngFor="let itm of dropDown.ddlLookupTypeMaster" routerLinkActive="sub-menu-active">
            <a routerLink="./master/{{itm.Text}}/{{itm.Value}}"> <i class="bi bi-bookmarks"></i> {{itm.Text| titlecase}}
            </a>
          </li>

        </ul>
      </li>

      <li class="menu" routerLinkActive="menu-active">
        <a href="#Dropdown-menu-4" data-toggle="collapse" data-active="true" aria-expanded="true"
          class="dropdown-toggle">
          <div class="">
            <i class="bi bi-file-earmark-break"></i>
            <span>CMS Page</span>
          </div>
          <div>
            <i class="bi bi-chevron-down"></i>
          </div>
          <span class="shape1"></span>
          <span class="shape2"></span>
        </a>
        <ul class="collapse submenu list-unstyled" id="Dropdown-menu-4" data-parent="#accordionExample">
          <li routerLinkActive="sub-menu-active">
            <a routerLink="./master/cms-page"> <i class="bi bi-list-check"></i> List </a>
          </li>

        </ul>
      </li>

      <li class="menu" routerLinkActive="menu-active">
        <a href="#Dropdown-menu-5" data-toggle="collapse" data-active="true" aria-expanded="true"
          class="dropdown-toggle">
          <div class="">
            <i class="bi bi-body-text"></i>
            <span>General Entry</span>
          </div>
          <div>
            <i class="bi bi-chevron-down"></i>
          </div>
          <span class="shape1"></span>
          <span class="shape2"></span>
        </a>
        <ul class="collapse submenu list-unstyled" id="Dropdown-menu-5" data-parent="#accordionExample">
          <li routerLinkActive="sub-menu-active">
            <a routerLink="./master/general-entry"> <i class="bi bi-view-stacked"></i> List </a>
          </li>
          <li routerLinkActive="sub-menu">
            <a routerLink="./master/general-entry-category"><i class="bi bi-gear-wide-connected"></i> Category Master
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

</div>
<!--  END SIDEBAR  -->
