<div class="sidebar">
  <div id="accordionExample">

    <div class="sidebar-item" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact: true}">
      <button class="sidebar-item-button arrow-none" routerLink="/admin">
        <i class="fa-light fa-gauge-high"></i> Dashboard
      </button>
    </div>

    <div class="sidebar-item" routerLinkActive="menu-active">
      <button class="sidebar-item-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#SidebarItem1">
        <i class="fa-light fa-objects-column"></i> Product
      </button>
      <div id="SidebarItem1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <ul class="sidebar-submenu">
          <li routerLinkActive="sub-menu-active"> <a href="javascript:void(0)" routerLink="./product/list"><i class="bi bi-list-check"></i> List</a>
          </li>
          <li routerLinkActive="sub-menu-active"> <a href="javascript:void(0)" routerLink="./product/add"><i class="bi bi-plus-circle"></i> Add
              New</a> </li>
        </ul>
      </div>
    </div>

    <div class="sidebar-item" routerLinkActive="menu-active">
      <button class="sidebar-item-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#SidebarItem2">
        <i class="fa-light fa-recycle"></i> Master
      </button>
      <div id="SidebarItem2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <ul class="sidebar-submenu">
          <li *ngFor="let itm of dropDown.ddlLookupTypeMaster" routerLinkActive="sub-menu-active">
            <a href="javascript:void(0)" routerLink="./master/{{itm.Text}}/{{itm.Value}}">
              <i class="bi bi-window"></i> {{itm.Text| titlecase}}
            </a>
          </li>
          <li routerLinkActive="sub-menu-active">
            <a routerLink="./master/general-entry-category"><i class="bi bi-gear-wide-connected"></i> General Entry
              Category
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="sidebar-item" routerLinkActive="menu-active">
      <button class="sidebar-item-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#SidebarItem3">
        <i _ngcontent-iup-c45="" class="fa-light fa-user"></i> User
      </button>
      <div id="SidebarItem3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <ul class="sidebar-submenu">
          <li routerLinkActive="sub-menu-active"> <a href="javascript:void(0)" routerLink="/admin/user"><i class="bi bi-list-check"></i> List</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="sidebar-item" routerLinkActive="menu-active">
      <button class="sidebar-item-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#SidebarItem4">
        <i _ngcontent-uay-c218="" class="fa-light fa-users"></i> Customers
      </button>
      <div id="SidebarItem4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <ul class="sidebar-submenu">
          <li routerLinkActive="sub-menu-active"> <a href="javascript:void(0)" routerLink="/admin/customer"><i class="bi bi-list-check"></i> List</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="sidebar-item" routerLinkActive="menu-active">
      <button class="sidebar-item-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#SidebarItem5">
        <i class="fa-light fa-memo"></i> CMS Page
      </button>
      <div id="SidebarItem5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <ul class="sidebar-submenu">
          <li routerLinkActive="sub-menu-active"> <a href="javascript:void(0)" routerLink="./master/cms-page"><i class="bi bi-list-check"></i> List</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="sidebar-item" routerLinkActive="menu-active">
      <button class="sidebar-item-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#SidebarItem6">
        <i class="fa-light fa-nfc-pen"></i> General Entry
      </button>
      <div id="SidebarItem6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <ul class="sidebar-submenu">
          <li routerLinkActive="sub-menu-active"> <a href="javascript:void(0)" routerLink="./master/general-entry"><i class="bi bi-list-check"></i> List</a>
          </li>
          <li routerLinkActive="sub-menu-active"> <a href="javascript:void(0)" routerLink="./master/general-entry/add"><i class="bi bi-plus-circle"></i> Add New</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
