<!-- Banner Slider Start -->
<div id="HomeSlider" class="carousel slide header-fix-space" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#HomeSlider" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#HomeSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#HomeSlider" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item text-center active">
      <img src="assets/images/slider2.jpg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Everything You Need To Sell Products Online</h1>
        <!-- <p>Some representative placeholder content for the first slide.</p> -->
        <a routerLink="/store" href="javascript:void()" class="btn btn-default px-4 text-uppercase">Shop Now</a>
      </div>
    </div>
    <div class="carousel-item text-center">
      <img src="assets/images/slider2.jpg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Everything You Need To Sell Products Online</h1>
        <!-- <p>Some representative placeholder content for the first slide.</p> -->
        <a routerLink="/store" href="javascript:void()" class="btn btn-default px-4 text-uppercase">Shop Now</a>
      </div>
    </div>
    <div class="carousel-item text-center">
      <img src="assets/images/slider2.jpg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Everything You Need To Sell Products Online</h1>
        <!-- <p>Some representative placeholder content for the first slide.</p> -->
        <a routerLink="/store" href="javascript:void()" class="btn btn-default px-4 text-uppercase">Shop Now</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#HomeSlider" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#HomeSlider" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Banner Slider End -->


<!-- Home Deals Start -->
<section class="deals-opt-d-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center section-title"> Deals & Offers </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <a href="javascript:void()" class="card-deals-opt-d-1-items">
          <div class="card-deals-opt-d-1-items-img"></div>
          <div class="card-deals-opt-d-1-items-info">
            <h3>Deal Of The Day</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <a href="javascript:void()" class="card-deals-opt-d-1-items">
          <div class="card-deals-opt-d-1-items-img"></div>
          <div class="card-deals-opt-d-1-items-discount">
            <strong>20%</strong>
            <span>Off</span>
          </div>
          <div class="card-deals-opt-d-1-items-info">
            <h3>Deal Of The Day</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <a href="javascript:void()" class="card-deals-opt-d-1-items">
          <div class="card-deals-opt-d-1-items-img"></div>
          <div class="card-deals-opt-d-1-items-info">
            <h3>Deal Of The Day</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Home Deals End -->


<!-- Home Category Start -->
<Section class="home-category-d-1 py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center section-title">Shop by Category</div>

      <ng-container *ngFor="let itm of model">
        <!-- Home Category Start -->
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-4 font-fam-newsreader">
          <a href="javascript:void()" [routerLink]="'/store/'+itm.Name.split(' ').join('_')"
            [queryParams]="{id: itm.Id}" class="home-category-items text-center">
            <div class="home-category-items-img d-flex align-items-center">
              <img [src]="itm.ImagePath" onerror='this.src="assets/images/no-img.svg"' alt="" />
            </div>
            <div class="home-category-items-caption">{{itm.Name}}</div>
          </a>
        </div>
        <!-- Home Category End -->
      </ng-container>


    </div>
  </div>
</Section>
<!-- Home Category End -->
