<!-- Page Header Title start -->
<div class="widget-header">
  <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
    <div>
      <h1>{{pageName | titlecase}}</h1>
      <!-- Breadcrumb Start -->
      <nav class="custom-breadcrum">
        <ol class="breadcrumb justify-content-center justify-content-sm-start">
          <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="../" href="javascript:void()">CMS Page</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{pageName | titlecase}}</li>
        </ol>
      </nav>
      <!-- Breadcrumb End -->
    </div>
    <button class="btn btn-dark btn-sm mt-2 mt-sm-0"> <i class="bi bi-chevron-left"></i> Back to list</button>
  </div>
</div>
<!-- Page Header Title end -->


<div class="p-4 row m-0">
  <div class="cmis-page-create-from">
    <form [formGroup]="formgrp" (ngSubmit)="SaveData()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Display order</label>
          <input type="text" [(ngModel)]="model.SortedOrder" (keypress)="_commonService.NumberOnly($event)"
            [minlength]="1" [maxLength]="6" formControlName="SortedOrder"
            [ngClass]="{ 'is-invalid': f.SortedOrder.errors && f.SortedOrder.touched}" class="form-control" id="input4"
            placeholder="Display Order">
          <div class="invalid-feedback"
            *ngIf="(formgrp.get('SortedOrder')?.hasError('required') && formgrp.get('SortedOrder')?.touched)">
            Enter Display Order </div>
          <div class="invalid-feedback"
            *ngIf="!formgrp.get('SortedOrder')?.hasError('required') && ((formgrp.get('SortedOrder')?.hasError('maxlength') || formgrp.get('SortedOrder')?.hasError('minlength')) && formgrp.get('SortedOrder')?.touched) || (formgrp.get('SortedOrder')?.hasError('maxlength') || formgrp.get('SortedOrder')?.hasError('minlength'))">
            Display Order length must be 1-6 digit. </div>
        </div>

        <div class="form-group col-md-12">
          <label>Heading</label>
          <!-- <angular-editor [(ngModel)]="model.Heading" formControlName="Heading" [config]="editorConfig"
          placeholder="Heading" [ngClass]="{ 'is-invalid': f.Heading.errors && f.Heading.touched}" id="Heading">
        </angular-editor> -->
          <textarea [(ngModel)]="model.Heading" formControlName="Heading" placeholder="Heading" class="form-control"
            rows="5" [ngClass]="{ 'is-invalid': f.Heading.errors && f.Heading.touched}" id="Heading"></textarea>

          <div class="invalid-feedback"
            *ngIf="(formgrp.get('Heading')?.hasError('required') && formgrp.get('Heading')?.touched)">
            Please enter Heading</div>
        </div>
        <div class="form-group col-md-12">
          <label>Content</label>
          <angular-editor class="angular-fix-min-height" [(ngModel)]="model.Content" formControlName="Content"
            [config]="editorConfig" placeholder="Content"
            [ngClass]="{ 'is-invalid': f.Content.errors && f.Content.touched}" id="Content">
          </angular-editor>
          <div class="invalid-feedback"
            *ngIf="(formgrp.get('Content')?.hasError('required') && formgrp.get('Content')?.touched)">
            Please enter Content</div>
        </div>
      </div>
      <div class="form-footer-btn-grp widget-content widget-content pt-0 text-center">
        <button type="submit" class="btn btn-success mr-3"> <i class="fas fa-check mr-1"></i> Save</button>
        <button type="button" class="btn btn-outline-danger" (click)="onCancel()"> <i class="fas fa-times mr-1"></i>
          Cancel</button>
      </div>
    </form>
  </div>

  <div class="cmis-page-preview" *ngIf="postModel?.length">
    <div class="cmis-page-preview-header"> <i class="bi bi-eye"></i> Preview </div>
    <div class="cmis-page-preview-body">
      <ng-container *ngFor="let item of postModel">
        <div class="cmis-page-preview-items">
          <ng-container *ngIf="item.Id!==model.Id">
            <div class="cmis-page-preview-items-action-info">
              <h3 [innerHtml]="item.Heading"></h3>
              <p class="m-0" [innerHtml]="item.Content"></p>
            </div>
            <div class="cmis-page-preview-items-action mt-3 text-right pr-2">
              <a href="javascript:void()" class="cmis-page-preview-items-action-btn text-dark" (click)="editItem(item)"
                data-title="Edit"><i class="bi bi-pencil-square"></i></a>
              <a href="javascript:void()" class="cmis-page-preview-items-action-btn text-danger"
                (click)="deleteItem(item)" data-title="Delete"><i class="bi bi-trash"></i></a>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
