<!-- Page Header Start-->
<div class="page-new-header">
  <div class="page-new-header-title">
    Product Detail
  </div>
  <div class="page-new-header-action">
    <button routerLink="../../edit/{{model.Id}}" class="page-new-header-action-items" data-title="Edit"> <i
        class="bi bi-pencil"></i></button>
    <button (click)="backToPrevious()" class="page-new-header-action-items" data-title="Back to list"> <i
        class="fa-sharp fa-light fa-arrow-left"></i> </button>
  </div>
</div>
<!-- Page Header End-->


<div class="content-box">

  <div class="row product-details">
    <div class="col-lg-5">
      <div class="product-detail-img-tab">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade text-center show active" id="PD-0"><img
              onerror="this.src='assets/images/no-img.svg'" [src]="this.model.ImagePath" /></div>
          <div class="tab-pane fade text-center" id="PD-{{i+1}}" *ngFor="let itm of model.Files; let i=index"><img
              onerror="this.src='assets/images/no-img.svg'" [src]="itm.FilePath" alt="StoreOne" /></div>
        </div>

        <ul class="nav nav-tabs border-0 mt-3 justify-content-center" id="myTab">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#PD-0">
              <img onerror="this.src='assets/images/no-img.svg'" [src]="this.model.ImagePath" alt="StoreOne" />
            </a>
          </li>
          <li class="nav-item" *ngFor="let itm of model.Files; let i=index">
            <a class="nav-link" data-bs-toggle="tab" href="#PD-{{i+1}}"><img
                onerror="this.src='assets/images/no-img.svg'" [src]="itm.ThumbnailPath" alt="StoreOne" /></a>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-lg-7 mt-4 mt-lg-0">
      <div class="product-details-right-info">
        <h2>{{this.model.Name | titlecase}}</h2>
        <div class="d-flex align-items-center">
        <h3 class="m-0">₹ {{model.SellingPrice}} </h3>
        <h5 class="mb-0 mx-2"><s>₹ {{model.Price}}</s></h5>
        <p class="m-0 text-danger">{{DiscountValue}}</p>
      </div>
        <div class="table-responsive mt-2">
          <table class="table table-borderless table-data-info table-font-15 table-v-align-top m-0">
            <tbody>
              <tr *ngIf="model?.Category">
                <td width="110px"><strong> Category: </strong></td>
                <td>{{model.Category | titlecase}}</td>
              </tr>
              <tr *ngIf="model?.SubCategory">
                <td><strong> Sub Category: </strong></td>
                <td>{{model.SubCategory | titlecase}}</td>
              </tr>
              <tr *ngIf="model?.UniqueId">
                <td><strong> SKU ID: </strong></td>
                <td>{{model.UniqueId | titlecase}}</td>
              </tr>
              <tr *ngIf="model?.Occasion">
                <td><strong> Occasion: </strong></td>
                <td>{{model.Occasion | titlecase}}</td>
              </tr>
              <tr *ngIf="model?.Fabric">
                <td><strong> Fabric: </strong></td>
                <td>{{model.Fabric | titlecase}}</td>
              </tr>
              <tr *ngIf="model?.Length">
                <td><strong> Length: </strong></td>
                <td>{{model.Length | titlecase}}</td>
              </tr>
              <tr *ngIf="model?.Color">
                <td><strong> Color: </strong></td>
                <td>{{model.Color | titlecase}}</td>
              </tr>
              <tr *ngIf="model?.Pattern">
                <td><strong> Pattern: </strong></td>
                <td>{{model.Pattern | titlecase}}</td>
              </tr>
              <tr *ngIf="model?.CaptionTag">
                <td><strong> Tag/Label: </strong></td>
                <td>{{model.CaptionTag | titlecase}}</td>
              </tr>
              <!-- <tr *ngIf="model?.ShippingCharge">
                <td><strong> Shipping Charge: </strong></td>
                <td>₹ {{model.ShippingCharge }}</td>
              </tr> -->


            </tbody>
          </table>
        </div>
        <div class="mt-3" *ngIf="model?.Desc">
          <strong class="mb-2 d-block font-16"> Description: </strong>
          <p class="m-0" [innerHTML]="model?.Desc"></p>
        </div>
        <div class="mt-3" *ngIf="model?.Summary">
          <strong class="mb-2 d-block font-16"> Additional Information: </strong>
          <p class="m-0" [innerHTML]="model?.Summary"></p>
        </div>

        <div class="mt-3" *ngIf="model?.MetaTitle">
          <strong class="mb-2 d-block font-16"> Meta Title: </strong>
          <p class="m-0" [innerHTML]="model?.MetaTitle"></p>
        </div>

        <div class="mt-3" *ngIf="model?.MetaDesc">
          <strong class="mb-2 d-block font-16"> Meta Description: </strong>
          <p class="m-0" [innerHTML]="model?.MetaDesc"></p>
        </div>

        <div class="mt-3" *ngIf="model?.Keyword">
          <strong class="mb-2 d-block font-16"> Keyword: </strong>
          <p class="m-0" [innerHTML]="model?.Keyword"></p>
        </div>

        <div class="mt-4" *ngIf="this.model.Stocks">
          <fieldset class="border border-radius p-2 w-100">
            <div class="d-flex mb-1 mt--25 fieldset-header">
            <legend class="w-auto text-black bg-white px-2 m-0">Stock</legend>
          </div>
            <div class="table-responsive">
              <table class="custom-mat-table table-header-light">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Size</th>
                    <th>Unit Price</th>
                    <th>Selling Price</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.model.Stocks;let index=index">
                    <td>{{index+1}}</td>
                    <td>{{item?.Size}}</td>
                    <td>{{item?.UnitPrice}}</td>
                    <td>{{item?.SellingPrice}}</td>
                    <td>{{item?.Quantity}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>

        </div>


      </div>
    </div>

  </div>

  <!-- <table class="table  table-borderless table-data-info table-font-17 table-v-align-top m-0 d-none">
    <tbody>
      <tr>
        <td><strong> Main Image </strong> </td>
        <td colspan="3">
          <div class="d-flex align-items-center">
            <a href="javascript:void()" class="small-media-items big-size-media-items position-relative">
              <div class="small-media-items-img"> <img onerror="this.src='assets/images/300x300.jpg'"
                  [src]="this.model.ImagePath" /> </div>
            </a>

          </div>
        </td>
      </tr>

      <tr>
        <td style="width: 18%;"> <strong>Name: </strong> </td>
        <td style="width: 32%;">{{this.model.Name | titlecase}}</td>
        <td style="width: 18%;"><strong> Price: </strong> </td>
        <td style="width: 32%;">₹ {{model.Price}}</td>
      </tr>

      <tr>
        <td><strong> Category: </strong> </td>
        <td>{{model.Category | titlecase}}</td>
        <td><strong>Sub Category: </strong> </td>
        <td>{{model.SubCategory | titlecase}}</td>
      </tr>

      <tr>
        <td><strong> Tag/Label: </strong> </td>
        <td colspan="3">{{model.CaptionTag | titlecase}}</td>
      </tr>

      <tr>
        <td><strong> Other Images </strong> </td>
        <td colspan="3">
          <div class="d-flex align-items-center mt-1 upload-content-list">

            <a href="javascript:void()" class="small-media-items position-relative" *ngFor="let itm of model.Files">
              <div class="small-media-items-img"> <img onerror="this.src='assets/images/300x300.jpg'"
                  [src]="itm.FilePath" /> </div>
            </a>

          </div>
        </td>
      </tr>


      <tr>
        <td><strong> Description: </strong> </td>
        <td colspan="3" [innerHTML]="model.Desc">

        </td>
      </tr>

      <tr>
        <td><strong> Additional Information: </strong> </td>
        <td colspan="3" [innerHTML]="model.Summary">
        </td>
      </tr>

    </tbody>
  </table> -->

</div>
