<div class="custom-modal">
  <div class="modal-content">

    <div class="modal-header p-3">
      <h5 class="modal-title m-0">{{data.Heading | titlecase}}</h5>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="px-3 pt-3 pb-0">
      <form [formGroup]="formgrp" (ngSubmit)="onSubmit()">
        <div class="form-row">


          <div class="form-group col-md-12">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="model.Name" formControlName="Name"
              [ngClass]="{ 'is-invalid': f.Name.errors && f.Name.touched}" placeholder="Name">
            <div class="invalid-feedback"
              *ngIf="(formgrp.get('Name')?.hasError('required') && formgrp.get('Name')?.touched)">
              Please Enter <strong>Name</strong>...!</div>
          </div>

          <div class="form-group col-md-12">
            <label>Image</label>

            <input type="hidden" name="ImagePath" [(ngModel)]="model.ImagePath" formControlName="ImagePath">

            <app-file-selector  [MaxFileLength]="1"
              (FilesChanged)="onDocumentAttach($event)" [CurrentFileLength]="model?.ImagePath ? 1: 0"
              [ngClass]="{ 'is-invalid': f.ImagePath.errors && f.ImagePath.touched}">
            </app-file-selector>

            <div class="invalid-feedback"
              *ngIf="(formgrp.get('ImagePath')?.hasError('required') && formgrp.get('ImagePath')?.touched)">
              Please Add Photo </div>

            <ng-container *ngIf="model.ImagePath && !isFileAttached  && model.Id>0">

              <div class="dropzone dropzone-light file-upload-details">
                <div class="dz-details">
                  <div class="dz-filename"><span data-dz-name="">{{getFileName}}</span>
                  </div>
                </div>
                <a [href]="model.ImagePath" target="_blank">
                  <i data-toggle="tooltip" data-placement="bottom" title="View"
                    class="bi bi-eye file-upload-details-remove"></i>
                </a>

                <i (click)="RemoveDocument(model.ImagePath)" data-toggle="tooltip" data-placement="bottom"
                  title="Remove" class="fas fa-trash-alt text-danger file-upload-details-remove"></i>
              </div>
            </ng-container>


          </div>

          <div class="form-group col-md-12">
            <label>Sort Order (1-999999)</label>

            <input type="text" [(ngModel)]="model.SortedOrder" (keypress)="_commonService.NumberOnly($event)"
              [minlength]="1" [maxLength]="6" formControlName="SortedOrder"
              [ngClass]="{ 'is-invalid': f.SortedOrder.errors && f.SortedOrder.touched}" class="form-control"
              id="input4" placeholder="Sort Order">
            <div class="invalid-feedback"
              *ngIf="(formgrp.get('SortedOrder')?.hasError('required') && formgrp.get('SortedOrder')?.touched)">
              Enter Sort Order </div>
            <div class="invalid-feedback"
              *ngIf="!formgrp.get('SortedOrder')?.hasError('required') && ((formgrp.get('SortedOrder')?.hasError('maxlength') || formgrp.get('SortedOrder')?.hasError('minlength')) && formgrp.get('SortedOrder')?.touched) || (formgrp.get('SortedOrder')?.hasError('maxlength') || formgrp.get('SortedOrder')?.hasError('minlength'))">
              Sort Order length must be 1-6 digit. </div>


          </div>
        </div>
        <div class="modal-footer border-0 pt-0">
          <button type="submit"  class="btn btn-success"> <i class="fas fa-check mr-1"></i>
            Submit</button>
          <button type="button" (click)="onClose()" class="btn btn-outline-danger" aria-label="Close"><i
              class="fas fa-times mr-1"></i> Cancel</button>
        </div>
      </form>
    </div>

  </div>
</div>
