<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add to cart</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- Breadcrum End -->

<section class="inner-page-space cart-page">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 pe-2 pe-lg-5">
        <div class="cart-page-list">
          <h5 class="mb-2"><i class="bi bi-bag me-1"></i> MY Cart Items : <strong> 5 </strong></h5>
          <div class="cart-list-items">
            <div class="d-flex">
              <div class="cart-list-items-img"><img src="assets/images/no-img.png" alt="StoreOne" /></div>
              <div class="cart-list-items-description">
                <div class="d-flex align-items-start justify-content-between">
                  <div>
                    <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                    <div class="mt-2">Size: <strong class="text-uppercase">XL</strong></div>
                  </div>
                  <a class="cart-list-items-action" data-bs-toggle="modal" data-bs-target="#DeleteCartItems"
                    href="javascript:void()"><i data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"
                      class="bi bi-x"></i></a>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                  <div class="cart-list-qty d-flex">
                    <button type="button" class="cart-list-qty-btn">-</button>
                    <input type="text" placeholder="1">
                    <button type="button" class="cart-list-qty-btn">+</button>
                  </div>
                  <div class="cart-list-items-price"> ₹ 450 </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cart-list-items">
            <div class="d-flex">
              <div class="cart-list-items-img"><img src="assets/images/no-img.png" alt="StoreOne" /></div>
              <div class="cart-list-items-description">
                <div class="d-flex align-items-start justify-content-between">
                  <div>
                  <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                  <div class="mt-2">Size: <strong class="text-uppercase">XL</strong></div>
                </div>
                  <a class="cart-list-items-action" data-bs-toggle="modal" data-bs-target="#DeleteCartItems"
                    href="javascript:void()"><i data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"
                      class="bi bi-x"></i></a>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                  <div class="cart-list-qty d-flex">
                    <button type="button" class="cart-list-qty-btn">-</button>
                    <input type="text" placeholder="1">
                    <button type="button" class="cart-list-qty-btn">+</button>
                  </div>
                  <div class="cart-list-items-price"> ₹ 450 </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cart-list-items">
            <div class="d-flex">
              <div class="cart-list-items-img"><img src="assets/images/no-img.png" alt="StoreOne" /></div>
              <div class="cart-list-items-description">
                <div class="d-flex align-items-start justify-content-between">
                  <div>
                    <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                    <div class="mt-2">Size: <strong class="text-uppercase">XL</strong></div>
                  </div>
                  <a class="cart-list-items-action" data-bs-toggle="modal" data-bs-target="#DeleteCartItems"
                    href="javascript:void()"><i data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"
                      class="bi bi-x"></i></a>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                  <div class="cart-list-qty d-flex">
                    <button type="button" class="cart-list-qty-btn">-</button>
                    <input type="text" placeholder="1">
                    <button type="button" class="cart-list-qty-btn">+</button>
                  </div>
                  <div class="cart-list-items-price"> ₹ 450 </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cart-list-items">
            <div class="d-flex">
              <div class="cart-list-items-img"><img src="assets/images/no-img.png" alt="StoreOne" /></div>
              <div class="cart-list-items-description">
                <div class="d-flex align-items-start justify-content-between">
                  <div>
                    <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
                    <div class="mt-2">Size: <strong class="text-uppercase">XL</strong></div>
                  </div>
                  <a class="cart-list-items-action" data-bs-toggle="modal" data-bs-target="#DeleteCartItems"
                    href="javascript:void()"><i data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"
                      class="bi bi-x"></i></a>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                  <div class="cart-list-qty d-flex">
                    <button type="button" class="cart-list-qty-btn">-</button>
                    <input type="text" placeholder="1">
                    <button type="button" class="cart-list-qty-btn">+</button>
                  </div>
                  <div class="cart-list-items-price"> ₹ 450 </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xl-3 col-lg-4 mt-5 mt-lg-0">
        <div class="shopping-cart-sidebar">
          <div class="cart-discount-code mb-4">
            <h5 class="mb-3">Discount Code</h5>
            <div class="d-flex">
              <div class="form-floating">
                <input type="text" id="PromoCode" placeholder="Enter promo code" class="form-control" />
                <label for="ConfirmrNewPas">Promo Code</label>
              </div>
              <button type="button" class="btn btn-default"> Apply </button>
            </div>
          </div>
          <div class="shopping-cart-summary">
            <h5 class="mb-3">Cart Summary</h5>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Subtotal</p>
              <p>₹ 11,000</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Shipping</p>
              <p>Free</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Warranty</p>
              <p>Free</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <p>Tax</p>
              <p>₹ 590</p>
            </div>
            <div class="shopping-cart-summary-items d-flex justify-content-between mb-2">
              <strong> Total </strong><strong> ₹ 11,590 </strong>
            </div>
          </div>
          <div class="shopping-cart-summary-action mt-4">
            <button type="button" class="btn btn-default px-3 text-uppercase w-100 py-2"
              [routerLink]="['/design/checkout']"><i class="bi bi-credit-card-2-front me-2"></i>Continue
              checkout</button>
          </div>
          <div class="shopping-cart-pay-option d-flex align-items-center justify-content-center mt-2">
            <img src="assets/images/paytm.png" style="max-width:50px;" />
            <img src="assets/images/phonepay.svg" />
            <img src="assets/images/gpay.svg" />
            <img src="assets/images/visa.svg" />
            <img src="assets/images/master-card.svg" />
            <!-- <img src="assets/images/paypal.svg"/> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Delete cart items Modal Start -->
<div class="modal fade modal-custom-design" id="DeleteCartItems" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i class="bi bi-x"></i>
        </button>
      </div>
      <div class="modal-body p-4 modal-alert">
        <h1 class="mb-0">
          Are you sure want to delete this cart items from the shopping cart ?
        </h1>
      </div>
      <div class="modal-footer pt-0">
        <button type="button" class="btn btn-default px-3 py-1" data-bs-dismiss="modal"><i class="bi bi-trash me-1"></i>
          Delete</button>
        <button type="button" class="btn btn-default btn-cancel btn-border px-3 py-2" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete cart items Modal End -->
