<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add to cart</li>
              </ol>
          </div>
      </div>
  </div>
</nav>
<!-- Breadcrum End -->

<section class="inner-page-space cart-page">
    <div class="container">
      <div class="row">
        <div class="col-xl-9">
         <div class="cart-page-list">
          <div class="cart-page-list-items">
            <div class="d-flex">
              <div class="cart-page-list-items-img"><img src="assets/images/no-img.svg" alt="StoreOne" /></div>
              <div class="cart-page-list-items-description">
                <div class="d-flex align-items-start justify-content-between">
               <h3> Pink Bandhej Printed Kurti Pant Set  Pink Bandhej Printed Kurti Pant Set  Pink Bandhej Printed Kurti Pant Set  Pink Bandhej Printed Kurti Pant Set </h3>
                <a class="cart-page-list-items-action" href="javascript:void()"><i class="bi bi-x"></i></a>
              </div>
                <div class="d-flex align-items-start justify-content-between mt-4">
                  <div class="cart-page-list-qty d-flex">
                  <button type="button" class="cart-page-list-qty-btn">-</button>
                  <input type="text" placeholder="1">
                  <button type="button" class="cart-page-list-qty-btn">+</button>
                  </div>
                  <div class="cart-page-list-items-price"> ₹ 450 </div>
                </div>
              </div>
            </div>



          </div>
         </div>
        </div>
        <div class="col-xl-3">dad</div>
      </div>
    </div>
</section>
