  <!-- About hero Start -->
  <section class="about-hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-start" data-aos="fade-right" data-aos-duration="1500">
                <h1>Designed to mould to your Business Potential
                </h1>
                <p class="m-0">The source of our ideas and inspirations is You, our dear customer! Based on your
                    inputs the core
                    Storeone product underwent rigorous iterations and refinements so it can be flexible yet
                    stable enough to mould to any business model.</p>
            </div>
            <div class="col-lg-6 text-center text-lg-end mt-5 mt-lg-0" data-aos="fade-left"
                data-aos-duration="1500">
                <img src="assets/images/ecommerce-shop-mac.png" alt="Storeone" />
            </div>
        </div>
    </div>
</section>
<!-- About hero End -->


<!-- Main Content Start -->

<section class="inside-pages-content page-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto text-center page-about-big-info" data-aos="fade-up"
                data-aos-duration="1500">
                <h1>We power innovative ecommerce brands who want to sell creatively, anywhere.</h1>
                <p class="m-0">Storeone helps merchants around the world build unique shopping experiences that
                    stand
                    out in a
                    crowded space, without cobbling multiple tech solutions together or spending a fortune on a
                    custom platform. Whatever your creative design, unique business model or ground breaking vision,
                    you can build it on Storeone.
                </p>
            </div>

            <div class="col-lg-12">
                <div class="row align-items-center page-about-benefits">
                    <div class="col-lg-6 text-center text-lg-start">
                        <div class="page-about-benefits-img" data-aos="fade-right" data-aos-duration="1500">
                            <img src="assets/images/ecommerce-shop-market-vector.png" alt="Storeone" />
                        </div>
                    </div>
                    <div class="col-lg-6 sticky-top text-center text-lg-start">
                        <div class="page-about-benefits-info mt-4 mt-lg-0" data-aos="fade-left"
                            data-aos-duration="1500">
                            <h1>Sell anywhere</h1>
                            <p>Use one platform to sell products to anyone, anywhere—in person with Point of Sale
                                and online through your website, social media, and online marketplaces.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 py-5">
                <div class="row align-items-center page-about-benefits">
                    <div class="col-lg-6 sticky-top order-1 order-lg-0 text-center text-lg-start">
                        <div class="page-about-benefits-info mt-4 mt-lg-0" data-aos="fade-right"
                            data-aos-duration="1500">
                            <h1>Market your business</h1>
                            <p>Storeone gives you the power to easily sell anywhere, to anyone — across the internet
                                and around the world. Control everything from a single platform with centralized
                                inventory, order management, and pricing. It doesn’t get any simpler than this.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 order-0 order-lg-1">
                        <div class="page-about-benefits-img text-center text-lg-end" data-aos="fade-left"
                            data-aos-duration="1500">
                            <img src="assets/images/grow-faster-2.png" alt="Storeone" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row align-items-center page-about-benefits">
                    <div class="col-lg-6 text-center text-lg-start">
                        <div class="page-about-benefits-img" data-aos="fade-right" data-aos-duration="1500">
                            <img src="assets/images/stock-management.png" alt="Storeone" />
                        </div>
                    </div>
                    <div class="col-lg-6 sticky-top">
                        <div class="page-about-benefits-info text-center text-lg-start mt-4 mt-lg-0"
                            data-aos="fade-left" data-aos-duration="1500">
                            <h1>Manage your store from a single platform</h1>
                            <p>Control everything from a single dashboard with centralized inventory, order
                                management, pricing, and more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Main Content End -->


