<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- Breadcrum End -->

<section class="register-area checkout-page">
  <!-- MultiStep Form -->
  <div class="container register-wizard" id="RegisterWizard">
    <div class="row justify-content-center mt-0">
      <div class="col-sm-12 text-center">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
          <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
              <li class="active" id="account"><strong>Address</strong></li>
              <li id="personal"><strong>Payment</strong></li>
              <li id="payment"><strong>Order Summary</strong></li>
            </ul>
            <!-- fieldsets -->
            <fieldset class="step1">

              <h4 class="mb-2">Beeling Address </h4>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group text-left">
                    <label class="form-control-label">First Name</label>
                    <input class="form-control" type="text" name="#" id="$">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group text-left">
                    <label class="form-control-label">Last Name</label>
                    <input class="form-control" type="text" name="#" id="#">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group text-left">
                    <label class="form-control-label">Company Name</label>
                    <input class="form-control" type="text" name="#" id="$">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group text-left">
                    <label class="form-control-label">Address</label>
                    <input class="form-control" type="text" name="#" id="#">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group text-left">
                    <label class="form-control-label">Phone Number</label>
                    <input class="form-control" type="text" name="#" id="$">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group text-left">
                    <label class="form-control-label">Email ID</label>
                    <input class="form-control" type="text" name="#" id="#">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group text-left">
                    <label class="form-control-label">Add a Note</label>
                    <textarea class="form-control" rows="4"></textarea>
                  </div>
                </div>


              </div>

              <input type="button" name="next" class="next action-button btn  btn-yellow  mt-4" value="Next: Order Summary" />
            </fieldset>
            <fieldset>
              <h4 class="mb-2">Order Summary </h4>

              <div class="table-responsive">
                <table class="table text-left">
                  <thead>
                    <tr>
                      <th class=" bg-light">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                      </th>
                      <th class=" bg-light">
                        <div class="py-2 text-uppercase">Price</div>
                      </th>
                      <th class=" bg-light  text-center">
                        <div class="py-2 text-uppercase">Quantity</div>
                      </th>

                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td>
                        <div class="p-2">
                          <img src="img/book4.png" alt="iBRAIN" width="70" class="img-fluid rounded shadow-sm">
                          <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Trigonometry Revision Workbook</a></h5>
                          </div>
                        </div>
                      </td>
                      <td class=" align-middle"><strong>$79.00</strong></td>
                      <td class=" align-middle text-center"><strong>3</strong></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="p-2">
                          <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Trigonometry Revision Workbook</a></h5>
                          </div>
                        </div>
                      </td>
                      <td class=" align-middle"><strong>$79.00</strong></td>
                      <td class=" align-middle text-center"><strong>3</strong></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="p-2">
                          <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Trigonometry Revision Workbook</a></h5>
                          </div>
                        </div>
                      </td>
                      <td class=" align-middle"><strong>$79.00</strong></td>
                      <td class=" align-middle text-center"><strong>3</strong></td>
                    </tr>


                  </tbody>
                </table>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>$390.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$10.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                  <h5 class="font-weight-bold">$400.00</h5>
                </li>
              </ul>
              <input type="button" name="previous" class="previous action-button-previous btn  btn-black  mt-4" value="Previous" />
              <input type="button" name="next" class="next action-button btn  btn-yellow  mt-4" value="Final Step: Payment Method
              " />
            </fieldset>
            <fieldset>
              <h4 class="mb-2">Payment Method </h4>



              <div class="d-block mt-4">
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                  <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                  <label class="custom-control-label" for="debit">Debit card</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                  <label class="custom-control-label" for="paypal">Other</label>
                </div>
              </div>
              <div class="row text-left">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>


              </div>


              <input type="button" name="previous" class="previous action-button-previous btn  btn-black  mt-4" value="Previous" />
              <input type="button" name="next" class="next action-button btn  btn-yellow  mt-4" value="Make Payment" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



