<!-- Related Product Start -->
<div class="col-lg-12 mt-5 section-related" *ngIf="this.totalRecords>0">
  <div class="col-lg-12 text-center section-title"> You might be interested in</div>
  <ng-container *ngIf="!isLoading">
    <section class="slider-items-4 product-list-slider">
      <ng-container *ngFor="let item of productModel">
        <div [routerLink]="'/product/'+item?.Category?.split(' ').join('_')+'/'+item?.Id" class="product-list-items">

          <div class="product-list-items-img d-flex align-items-center justify-content-center">
            <img [src]="item?.ImagePath" onerror="this.src='assets/images/no-img.svg'" alt="" />
          </div>
          <div class="product-list-info">
            <h3>{{item?.Name}}</h3>
            <p>₹ {{item?.Price}}</p>
          </div>

        </div>
      </ng-container>
    </section>
  </ng-container>


</div>
<!-- Related Product End -->
