<!-- CTA Start -->
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" data-aos="fade-up" data-aos-duration="1500">
        <h1>More Freedom. More Sales. <br />
          Less Friction.</h1>
        <h5>Run your ecommerce website</h5>
        <h3>Ready To Take The Next Step Towards
          Ecommerce Your Way?</h3>
        <a class="btn btn-round btn-border text-white px-4 py-2 text-uppercase mt-4" href="javascript:void()">Let’s
          go!</a>
      </div>
    </div>
  </div>
</section>
<!-- CTA End -->

<section class="mini-footer-link py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="javascript:void()" routerLink="/about-us">About Us</a>
        <a href="javascript:void()" routerLink="/pricing">Pricing</a>
        <a href="javascript:void()" routerLink="/request-demo">Request for Demo</a>
        <a href="javascript:void()" routerLink="/policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</section>

<!-- Footer Copyright Start -->
<section class="footer-copyright footer-copyright-light">
  <p class="m-0 text-center">Copyright © 2022 <a href="#" target="_blank">StoreOne</a>. All rights reserved.
  </p>
</section>
<!-- Footer Copyright End -->

<a id="back-to-top" href="#" role="button" class="btn btn-light back-to-top" style="display: none;"><i class="bi bi-chevron-up"></i></a>
