<header>
  <nav class="navbar navbar-expand-lg navbar-light py-2 py-lg-3">
      <div class="container">
          <a class="navbar-brand m-0 p-0" href="javascript:void()"  routerLink="/home">
              <!-- <img src="images/logo-icon.png" alt="StoreOne" /> -->
              <span>StoreOne</span>
          </a>
          <button id="ChangeToggle" class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#MenuNavbar">
              <span class="navbar-toggler-icon" id="navbar-hamburger">
                  <i class="bi bi-list"></i>
              </span>
          </button>
          <div class="collapse navbar-collapse" id="MenuNavbar">
              <ul class="navbar-nav align-items-start align-items-lg-center m-auto w-100 p-3 p-lg-0">
                  <a class="d-block w-100 d-lg-none mobile-nav-close" href="javascript:void()"
                      data-bs-toggle="collapse" data-bs-target="#MenuNavbar"> <i class="bi bi-x-lg"></i></a>
                  <li class="nav-item m-0 ms-lg-auto">
                    <a class="nav-link" href="javascript:void()" routerLink="/home" [routerLinkActive]="['active']"> Home</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="javascript:void()" routerLink="/about-us" [routerLinkActive]="['active']">About us</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="javascript:void()" routerLink="/pricing" [routerLinkActive]="['active']">Pricing</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="javascript:void()" routerLink="/request-demo" [routerLinkActive]="['active']">Demo Schedule</a> </li>
                  <li class="nav-item  m-0 ms-lg-auto"> <a
                          class="btn btn-shadow btn-round btn-border px-4 mt-3 mt-lg-0 w-100"
                          href="javascript:void()" routerLink="/product/free-demo">Try for free</a> </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
<!-- <ngx-nav-bar></ngx-nav-bar> -->

