


<div class="my-account-content my-account-orders">
  <!-- Page Filter Start -->
  <div class="page-fliter offcanvas offcanvas-bottom" tabindex="-1" id="PageFilter">
    <div class="offcanvas-header d-flex d-md-none pt-0 px-0">
      <h6 class="offcanvas-title"><i class="bi bi-funnel me-1"></i> Filter</h6>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3 mb-md-0">
        <div class="page-fliter-items page-filter-search position-relative">
          <input type="text" class="form-control" placeholder="Search in order" />
          <a href="javascript:void()"><i class="bi bi-search"></i></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3 mb-md-0">
        <div class="page-fliter-items">
          <select class="form-select">
            <option>--Status--</option>
            <option>--Delivered--</option>
            <option>--Pending--</option>
            <option>--Cancelled--</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3 mb-md-0">
        <div class="form-floating mb-0">
          <input type="text" class="form-control" id="Datepicker" placeholder="Date Picker">
          <label for="Datepicker">Date Picker</label>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Filter End -->
  <div class="order-summary-list">
    <div class="order-summary-list-items order-summary-list-items-delivered">
      <div class="order-summary-list-items-header d-flex align-items-center justify-content-between">
        <div> <i class="bi bi-calendar-week me-1"></i> 20-03-2024 </div>
        <div class="order-summary-list-items-status text-success"><i class="bi bi-box-seam me-1"></i> Delivered
        </div>
      </div>
      <div class="order-summary-list-items-body d-flex p-3">
        <div class="order-summary-list-img"><img src="assets/images/no-img.png" alt="" /></div>
        <div class="order-summary-list-info">
          <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
          <div class="order-summary-list-info-price"> ₹ 450 </div>
          <div class="d-flex mt-2">
            <p class="mb-0 me-3">Qty: <strong class="d-block d-sm-inline">05</strong></p>
            <p class="mb-0 me-3">Size: <strong class="d-block d-sm-inline">XXL</strong></p>
            <p class="mb-0 me-3">Total Item Price: <strong class="d-block d-sm-inline">₹ 2,897</strong></p>
          </div>
        </div>
      </div>
      <div class="order-summary-list-items-footer">
        <strong class="mb-1 d-block">Delivery Address</strong>
        <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
          8952098741</p>
      </div>
    </div>
    <div class="order-summary-list-items order-summary-list-items-pending">
      <div class="order-summary-list-items-header d-flex align-items-center justify-content-between">
        <div> <i class="bi bi-calendar-week me-1"></i> 20-03-2024 </div>
        <div class="order-summary-list-items-status text-warning"><i class="bi bi-arrow-clockwise me-1"></i>
          Pending</div>
      </div>
      <div class="order-summary-list-items-body d-flex p-3">
        <div class="order-summary-list-img"><img src="assets/images/no-img.png" alt="" /></div>
        <div class="order-summary-list-info">
          <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
          <div class="order-summary-list-info-price"> ₹ 450 </div>
          <div class="d-flex mt-2">
            <p class="mb-0 me-3">Qty: <strong class="d-block d-sm-inline">05</strong></p>
            <p class="mb-0 me-3">Size: <strong class="d-block d-sm-inline">XXL</strong></p>
            <p class="mb-0 me-3">Total Item Price: <strong class="d-block d-sm-inline">₹ 2,897</strong></p>
          </div>
        </div>
      </div>
      <div class="order-summary-list-items-footer">
        <strong class="mb-1 d-block">Delivery Address</strong>
        <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
          8952098741</p>
      </div>
    </div>
    <div class="order-summary-list-items order-summary-list-items-cancel">
      <div class="order-summary-list-items-header d-flex align-items-center justify-content-between">
        <div> <i class="bi bi-calendar-week me-1"></i> 20-03-2024 </div>
        <div class="order-summary-list-items-status text-danger"><i class="bi bi-x-circle me-1"></i> Cancelled
        </div>
      </div>
      <div class="order-summary-list-items-body d-flex p-3">
        <div class="order-summary-list-img"><img src="assets/images/no-img.png" alt="" /></div>
        <div class="order-summary-list-info">
          <h3> Pink Bandhej Printed Kurti Pant Set.</h3>
          <div class="order-summary-list-info-price"> ₹ 450 </div>
          <div class="d-flex mt-2">
            <p class="mb-0 me-3">Qty: <strong class="d-block d-sm-inline">05</strong></p>
            <p class="mb-0 me-3">Size: <strong class="d-block d-sm-inline">XXL</strong></p>
            <p class="mb-0 me-3">Total Item Price: <strong class="d-block d-sm-inline">₹ 2,897</strong></p>
          </div>
        </div>
      </div>
      <div class="order-summary-list-items-footer">
        <strong class="mb-1 d-block">Delivery Address</strong>
        <p class="m-0">4-RA-5 Monilek Marg, Near Monilek Hospital Jawahar Nagar Jaipur, Raj, 302013 Mobile :
          8952098741</p>
      </div>
    </div>
  </div>
  <ul class="pagination justify-content-center mt-5">
    <li class="page-item">
      <a class="page-link" href="javascript:void(0)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
