<app-no-records *ngIf="totalRecords==0 && (!indexModel.Search || indexModel.Search=='') else ShowRecord"
  [data]="noRecordData"></app-no-records>
<ng-template #ShowRecord>
  <div>

    <!-- Page Header Start-->
    <div class="page-new-header">
      <div class="page-new-header-title">
        {{pageName}}
      </div>
      <div class="page-new-header-action">
        <button (click)="selectedRecord=''; ViewMode='Add'" data-bs-toggle="offcanvas" href="#PageSidebar"
          data-title="Add" class="page-new-header-action-items"> <i class="bi bi-plus-lg"></i></button>
        <div class="page-new-header-action-search">
          <button type="button" (click)="onSearch()" class="btn-filter-search"><i
              class="fa-light fa-magnifying-glass"></i></button>
          <input type="search" (keydown.backspace)="onClear()" (keydown.delete)="onClear()" (keydown.enter)="onSearch()"
            class="form-control" placeholder="Search..." [(ngModel)]="indexModel.Search" />
        </div>
      </div>
    </div>
    <!-- Page Header End-->

    <!-- Main Page Content Start -->

    <div class="table-responsive table-shadow">
      <table class="custom-mat-table" mat-table [dataSource]="dataSource" matSort role="grid"
        (matSortChange)="sortData($event)">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef style="width: 50px;">#</th>
          <td mat-cell *matCellDef="let element; let i = index;">
            {{(indexModel.Page-1)*indexModel.PageSize +(i+1)}}</td>
        </ng-container>

        <ng-container matColumnDef="ImagePath">
          <th mat-header-cell *matHeaderCellDef style="width: 120px;">Image</th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <div class="lsit-category-img d-flex align-items-center justify-content-center">
              <img [src]="element?.ImagePath" onerror="this.src='assets/images/no-img.svg'">
            </div>
          </td>
        </ng-container>

        <ng-container [matColumnDef]="column!.Value" *ngFor="let column of ViewdisplayedColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:130px;"> {{column!.Text}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column!.Value]}} </td>
        </ng-container>

        <ng-container matColumnDef="Flags">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Flags </th>
          <td mat-cell *matCellDef="let element" class="gen-entry-flags">
            <ng-container *ngIf="!element.IsSystemEntry; else viewFlagOnly">
              <a class="d-inline-block mb-2 me-2" (click)="onFlagStatus(element!.Id,'IsShowInMain')"
                title="Update Status">
                <span *ngIf="element!.IsShowInMain" class="d-inline-block btn btn-sm btn-warning">
                  <i class="bi bi-check-circle"></i>&nbsp;Show In Home
                </span>
                <span *ngIf="!element!.IsShowInMain" class="d-inline-block btn btn-sm btn-outline-warning"><i
                    class="bi bi-check-circle "></i>&nbsp;Show In Home</span>
              </a>

              <a class="d-inline-block mb-2 me-2" (click)="onFlagStatus(element!.Id,'IsShowDataInMain')"
                title="Update Status">
                <span *ngIf="element!.IsShowDataInMain" class="d-inline-block btn btn-sm btn-success"><i
                    class="bi bi-check-circle"></i>&nbsp;Show data in Main</span>
                <span *ngIf="!element!.IsShowDataInMain" class="d-inline-block btn btn-sm btn-outline-success"><i
                    class="bi bi-check-circle "></i>&nbsp;Show data in Main</span>
              </a>

              <a class="d-inline-block mb-2 me-2" (click)="onFlagStatus(element!.Id,'IsSingleEntry')"
                title="Update Status">
                <span *ngIf="element!.IsSingleEntry" class="d-inline-block btn btn-sm btn-primary"><i
                    class="bi bi-check-circle"></i>&nbsp;Single Entry</span>
                <span *ngIf="!element!.IsSingleEntry" class="d-inline-block btn btn-sm btn-outline-primary"><i
                    class="bi bi-check-circle "></i>&nbsp;Single Entry</span>
              </a>

              <a class="d-inline-block mb-2 me-2" (click)="onFlagStatus(element!.Id,'IsShowThumbnail')"
                title="Update Status">
                <span *ngIf="element!.IsShowThumbnail" class="d-inline-block btn btn-sm btn-info"><i
                    class="bi bi-check-circle"></i>&nbsp;Show Thumbnail</span>
                <span *ngIf="!element!.IsShowThumbnail" class="d-inline-block btn btn-sm btn-outline-info"><i
                    class="bi bi-check-circle "></i>&nbsp;Show Thumbnail</span>
              </a>

              <a class="d-inline-block mb-2 me-2" (click)="onFlagStatus(element!.Id,'IsShowUrl')" title="Update Status">
                <span *ngIf="element!.IsShowUrl" class="d-inline-block btn btn-sm btn-secondary"><i
                    class="bi bi-check-circle"></i>&nbsp;Show URL</span>
                <span *ngIf="!element!.IsShowUrl" class="d-inline-block btn btn-sm btn-outline-secondary"><i
                    class="bi bi-check-circle "></i>&nbsp;Show URL</span>
              </a>
            </ng-container>
            <ng-template #viewFlagOnly>
              <a class="d-inline-block mb-2 me-2" title="Update Status">
                <span *ngIf="element!.IsShowInMain" class="d-inline-block btn btn-sm btn-warning">
                  <i class="bi bi-check-circle"></i>&nbsp;Show In Home
                </span>
                <span *ngIf="!element!.IsShowInMain" class="d-inline-block btn btn-sm btn-outline-warning"><i
                    class="bi bi-check-circle "></i>&nbsp;Show In Home</span>
              </a>

              <a class="d-inline-block mb-2 me-2" title="Update Status">
                <span *ngIf="" class="d-inline-block btn btn-sm "
                  [ngClass]="{'btn-success': element!.IsShowDataInMain,'btn-outline-success':!element!.IsShowDataInMain}"><i
                    class="bi bi-check-circle"></i>&nbsp;Show data in Main</span>

              </a>

              <a class="d-inline-block mb-2 me-2" title="Update Status">
                <span *ngIf="element!.IsSingleEntry" class="d-inline-block btn btn-sm btn-primary"><i
                    class="bi bi-check-circle"></i>&nbsp;Single Entry</span>
                <span *ngIf="!element!.IsSingleEntry" class="d-inline-block btn btn-sm btn-outline-primary"><i
                    class="bi bi-check-circle "></i>&nbsp;Single Entry</span>
              </a>

              <a class="d-inline-block mb-2 me-2" title="Update Status">
                <span *ngIf="element!.IsShowThumbnail" class="d-inline-block btn btn-sm btn-info"><i
                    class="bi bi-check-circle"></i>&nbsp;Show Thumbnail</span>
                <span *ngIf="!element!.IsShowThumbnail" class="d-inline-block btn btn-sm btn-outline-info"><i
                    class="bi bi-check-circle "></i>&nbsp;Show Thumbnail</span>
              </a>

              <a class="d-inline-block mb-2 me-2" title="Update Status">
                <span *ngIf="element!.IsShowUrl" class="d-inline-block btn btn-sm btn-secondary"><i
                    class="bi bi-check-circle"></i>&nbsp;Show URL</span>
                <span *ngIf="!element!.IsShowUrl" class="d-inline-block btn btn-sm btn-outline-secondary"><i
                    class="bi bi-check-circle "></i>&nbsp;Show URL</span>
              </a>
            </ng-template>

          </td>
        </ng-container>

        <ng-container matColumnDef="IsActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50px;">Status </th>
          <td mat-cell *matCellDef="let element" class="table-action-btn">

            <ng-container *ngIf="element.IsSystemEntry;else editStatus">
              <a title="Active Status">
                <i *ngIf="element!.IsActive" class="fas fa-check-circle text-success"></i>
                <i *ngIf="!element!.IsActive" class="fas fa-ban text-danger"></i>
              </a>
            </ng-container>

            <ng-template #editStatus>
              <a (click)="OnActiveStatus(element!.Id)" title="Update Active Status">
                <i *ngIf="element!.IsActive" class="fas fa-check-circle text-success"></i>
                <i *ngIf="!element!.IsActive" class="fas fa-ban text-danger"></i>
              </a>
            </ng-template>


          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef style="width: 120px;"> Action </th>
          <td mat-cell *matCellDef="let row" class="table-action-btn">
            <a href="javascript:void(0)" class="table-action-btn-view" (click)="selectedRecord=row.Id;ViewMode='Detail'"
              data-bs-toggle="offcanvas" href="#PageSidebar" data-title="View Detail"><i class="bi bi-eye"></i>
            </a>
            <a *ngIf="!row.IsSystemEntry" (click)="selectedRecord=row.Id; ViewMode='Edit'" data-title="Edit"
              data-bs-toggle="offcanvas" href="#PageSidebar" class="table-action-btn-edit"><i class="bi bi-pencil"></i>
            </a>

            <a *ngIf="!row.IsSystemEntry" class="table-action-btn-delete" (click)="updateDeleteStatus(row.Id)"
              data-title="Delete"> <i class="bi bi-trash"></i> </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="no-record-found text-center" *ngIf="totalRecords==0">
        <img src="assets/images/record-not-found.svg" alt="" />
        <p class="mb-0"> Sorry, No Record Found </p>
      </div>
    </div>

    <ul class="pagination" *ngIf="indexModel.PageSize<totalRecords">
      <mat-paginator #paginator [length]="totalRecords" [pageSize]="indexModel.PageSize"
        (page)="onPaginateChange($event)" showFirstLastButtons *ngIf="totalRecords!=0">
      </mat-paginator>
    </ul>
  </div>

  <!-- Main Page Content End -->

  <div class="offcanvas offcanvas-end pagesidebar-content" tabindex="-1" id="PageSidebar" data-bs-keyboard="false">
    <div class="offcanvas-header pt-2 pb-2 pe-3 pe-sm-4">
      <h5 class="offcanvas-title"><span [ngSwitch]="ViewMode">
          <p *ngSwitchCase="'Add'" class="m-0">
            Add General Entry Category
          </p>
          <p *ngSwitchCase="'Edit'" class="m-0">
            Edit General Entry Category
          </p>
          <p *ngSwitchDefault class="m-0">
            General Entry Category Detail
          </p>
        </span></h5>
      <div class="d-flex align-items-center">
        <button *ngIf="!IsSystemEntry && ViewMode!='Add'" (click)="changeViewMode()"
          class="page-new-header-action-items ms-0 me-2" data-title="{{ViewMode}}"> <i class=""
            [ngClass]="{'bi bi-eye':ViewMode=='Edit' ,'bi bi-pencil':ViewMode=='Detail' }"></i></button>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
    </div>
    <div class="offcanvas-body pagesidebar-content-body">
      <app-general-entry-category-master-add-edit [ngClass]="{'d-none':  ViewMode=='Detail'}"
        (OnSave)="reloadData($event)" [Id]="selectedRecord"></app-general-entry-category-master-add-edit>
      <app-general-entry-category-master-detail [refreshData]="isDataRefresh"
        [ngClass]="{'d-none': ViewMode=='Edit'|| ViewMode=='Add'}"
        [Id]="selectedRecord"></app-general-entry-category-master-detail>

    </div>
  </div>
</ng-template>
