<app-no-records *ngIf="totalRecords==0 && (!indexModel.Search || indexModel.Search=='') else ShowRecord"
  [data]="noRecordData"></app-no-records>
<ng-template #ShowRecord>
  <div>
    <!-- Page Header Title start -->
    <div class="widget-header">
      <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
        <div>
          <h1>{{pageName}}</h1>
          <!-- Breadcrumb Start -->
          <nav class="custom-breadcrum">
            <ol class="breadcrumb justify-content-center justify-content-sm-start">
              <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{pageName | titlecase}}</li>
            </ol>
          </nav>
          <!-- Breadcrumb End -->
        </div>
        <button routerLink="./add" class="btn btn-dark btn-sm mt-2 mt-sm-0"> <i class="bi bi-plus-lg"></i>
          Add
        </button>

      </div>
    </div>
    <!-- Page Header Title end -->

    <!-- Main Page Content Start -->

    <div class="px-3">
      <div id="zero-config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

        <div class="dt--top-section">
          <div class="row position-relative">
            <div class="col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center">
              <div class="dataTables_length" id="zero-config_length"><label>Results :
                  <select name="zero-config_length" (change)="getList()" aria-controls="zero-config"
                    class="form-control">
                    <option value="101">All</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                  </select></label></div>
            </div>
            <div class="col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3">
              <div id="zero-config_filter" class="dataTables_filter"><label>
                  <button type="button" (click)="onSearch()" class="btn-filter-search"><i
                      class="bi bi-search"></i></button>
                  <input type="text" (keydown.backspace)="onClear()" (keydown.delete)="onClear()"
                    (keydown.enter)="onSearch()" class="form-control" placeholder="Search..."
                    [(ngModel)]="indexModel.Search" aria-controls="zero-config" />
                  <a href="javascript:void()" (click)="onClear()" class="btn-search-text-remove"><i
                      class="bi bi-x"></i></a>
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="table-responsive table-shadow">
          <table class="custom-mat-table" mat-table [dataSource]="dataSource" matSort
            class="mat-elevation-z8 table table-striped dataTable table-header" style="width: 100%;" role="grid"
            aria-describedby="zero-config_info" (matSortChange)="sortData($event)">
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element; let i = index;">
                {{(indexModel.Page-1)*indexModel.PageSize +(i+1)}}</td>
            </ng-container>

            <ng-container matColumnDef="ImagePath">
              <th mat-header-cell *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let element; let i = index;">
                <div class="lsit-category-img d-flex align-items-center justify-content-center">
                  <img src="{{element.ImagePath}}" onerror="this.src='assets/img/no-img.svg'">
                </div>
              </td>
            </ng-container>

            <ng-container [matColumnDef]="column!.Value" *ngFor="let column of ViewdisplayedColumns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:130px;"> {{column!.Text}} </th>
              <td mat-cell *matCellDef="let element"> {{element[column!.Value]}} </td>
            </ng-container>

            <ng-container matColumnDef="Flags">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:130px;">Flags </th>
              <td mat-cell *matCellDef="let element" class="table-action-btn">
                <a class="d-block mb-2 mx-0" (click)="onFlagStatus(element!.Id,'IsShowInMain')" title="Update Status">
                  <span *ngIf="element!.IsShowInMain" class="d-inline-block w-100 badge badge-warning">
                    <i class="bi bi-check-circle"></i>&nbsp;Show In Home
                  </span>
                  <span *ngIf="!element!.IsShowInMain" class="d-inline-block w-100 badge btn-outline-warning"><i
                      class="bi bi-check-circle "></i>&nbsp;Show In Home</span>
                </a>

                <a class="d-block mb-2 mx-0" (click)="onFlagStatus(element!.Id,'IsShowDataInMain')"
                  title="Update Status">
                  <span *ngIf="element!.IsShowDataInMain" class="d-inline-block w-100 badge badge-success"><i
                      class="bi bi-check-circle"></i>&nbsp;Show data in Main</span>
                  <span *ngIf="!element!.IsShowDataInMain" class="d-inline-block w-100 badge btn-outline-success"><i
                      class="bi bi-check-circle "></i>&nbsp;Show data in Main</span>
                </a>

                <a class="d-block mb-2 mx-0" (click)="onFlagStatus(element!.Id,'IsSingleEntry')" title="Update Status">
                  <span *ngIf="element!.IsSingleEntry" class="d-inline-block w-100 badge btn-primary"><i
                      class="bi bi-check-circle"></i>&nbsp;Single Entry</span>
                  <span *ngIf="!element!.IsSingleEntry" class="d-inline-block w-100 badge btn-outline-primary"><i
                      class="bi bi-check-circle "></i>&nbsp;Single Entry</span>
                </a>

                <a class="d-block mb-2 mx-0" (click)="onFlagStatus(element!.Id,'IsShowThumbnail')" title="Update Status">
                  <span *ngIf="element!.IsShowThumbnail" class="d-inline-block w-100 badge btn-info"><i
                      class="bi bi-check-circle"></i>&nbsp;Show Thumbnail</span>
                  <span *ngIf="!element!.IsShowThumbnail" class="d-inline-block w-100 badge btn-outline-info"><i
                      class="bi bi-check-circle "></i>&nbsp;Show Thumbnail</span>
                </a>

                <a class="d-block mx-0" (click)="onFlagStatus(element!.Id,'IsShowUrl')" title="Update Status">
                  <span *ngIf="element!.IsShowUrl" class="d-inline-block w-100 badge btn-secondary"><i
                      class="bi bi-check-circle"></i>&nbsp;Show URL</span>
                  <span *ngIf="!element!.IsShowUrl" class="d-inline-block w-100 badge btn-outline-secondary"><i
                      class="bi bi-check-circle "></i>&nbsp;Show URL</span>
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="IsActive">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
              <td mat-cell *matCellDef="let element" class="table-action-btn">

                <ng-container *ngIf="element.IsSystemEntry;else editStatus">
                  <a title="Active Status">
                    <i *ngIf="element!.IsActive" class="fas fa-check-circle text-success"></i>
                    <i *ngIf="!element!.IsActive" class="fas fa-ban text-danger"></i>
                  </a>
                </ng-container>

                <ng-template #editStatus>
                  <a (click)="OnActiveStatus(element!.Id)" title="Update Active Status">
                    <i *ngIf="element!.IsActive" class="fas fa-check-circle text-success"></i>
                    <i *ngIf="!element!.IsActive" class="fas fa-ban text-danger"></i>
                  </a>
                </ng-template>


              </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th width="150" mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let row" class="table-action-btn">
                <a href="javascript:void(0)" class="table-action-btn-view" routerLink="./detail/{{+row.Id}}" data-title="View Detail"><i
                    class="bi bi-eye"></i>
                </a>
                <a href="javascript:void(0)" class="table-action-btn-edit" routerLink="./edit/{{+row.Id}}" data-title="Edit"><i
                    class="bi bi-pencil-square"></i>
                </a>

                <a *ngIf="!row.IsSystemEntry" class="table-action-btn-delete" (click)="updateDeleteStatus(row.Id)"
                  data-title="Delete"> <i class="bi bi-trash"></i> </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div class="no-record-found text-center" *ngIf="totalRecords==0">
            <img src="assets/img/record-not-found.png" alt="" />
            <p class="mb-0"> Sorry, No Record Found </p>
          </div>
        </div>
        <div class="dt--bottom-section d-sm-flex justify-content-sm-between text-center">
          <div class="dt--pagination">
            <div class="dataTables_paginate paging_simple_numbers" id="zero-config_paginate">
              <ul class="pagination">
                <mat-paginator #paginator [length]="totalRecords" [pageSize]="indexModel.PageSize"
                  (page)="onPaginateChange($event)" showFirstLastButtons *ngIf="totalRecords!=0">
                </mat-paginator>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Page Content End -->
  </div>
</ng-template>
