<!-- Page Header Title start -->
<div class="widget-header">
  <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
    <div>
      <h1>{{model.Id > 0 ? 'Update Product':'Add New Product'}}</h1>
      <!-- Breadcrumb Start -->
      <nav class="custom-breadcrum">
        <ol class="breadcrumb justify-content-center justify-content-sm-start">
          <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void()" routerLink="/admin/product">Product List</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{model.Id > 0 ? 'Update Product':'Add New Product'}}
          </li>
        </ol>
      </nav>
      <!-- Breadcrumb End -->
    </div>
    <button class="btn btn-dark btn-sm mt-2 mt-sm-0" routerLink="/admin/product"> <i class="bi bi-chevron-left"></i>
      Back to
      list</button>

  </div>
</div>
<!-- Page Header Title end -->

<div class="custom-form p-3 p-md-3">
  <form [formGroup]="formgrp" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <!-- Done -->
      <div class="form-group col-md-4">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="model.Name" formControlName="Name"
          [ngClass]="{ 'is-invalid': f.Name.errors && f.Name.touched}" placeholder="Name">
        <div class="invalid-feedback"
          *ngIf="(formgrp.get('Name')?.hasError('required') && formgrp.get('Name')?.touched)">
          Please enter <strong>Name</strong>...!</div>
      </div>
      <div class="form-group col-md-4">
        <label>Price</label>

        <input type="number" [(ngModel)]="model.Price" (keypress)="_commonService.NumberOnly($event)" [minlength]="1"
          [maxLength]="10" formControlName="Price" [ngClass]="{ 'is-invalid': f.Price.errors && f.Price.touched}"
          class="form-control" id="input4" placeholder="Price">
        <div class="invalid-feedback"
          *ngIf="(formgrp.get('Price')?.hasError('required') && formgrp.get('Price')?.touched)">
          Please enter Price...! </div>
        <div class="invalid-feedback"
          *ngIf="!formgrp.get('Price')?.hasError('required') && ((formgrp.get('Price')?.hasError('maxlength') || formgrp.get('Price')?.hasError('minlength')) && formgrp.get('Price')?.touched) || (formgrp.get('Price')?.hasError('maxlength') || formgrp.get('Price')?.hasError('minlength'))">
          Price length must be 1-10 digit. </div>
      </div>

      <div class="form-group col-md-4">
        <label>Shipping Charge</label>

        <input type="number" [(ngModel)]="model.ShippingCharge" (keypress)="_commonService.NumberOnly($event)"
          [minlength]="1" [maxLength]="10" formControlName="ShippingCharge"
          [ngClass]="{ 'is-invalid': f.ShippingCharge.errors && f.ShippingCharge.touched}" class="form-control"
          id="input4" placeholder="ShippingCharge">
        <div class="invalid-feedback"
          *ngIf="(formgrp.get('ShippingCharge')?.hasError('required') && formgrp.get('ShippingCharge')?.touched)">
          Please enter Shipping Charge...! </div>
        <div class="invalid-feedback"
          *ngIf="!formgrp.get('ShippingCharge')?.hasError('required') && ((formgrp.get('ShippingCharge')?.hasError('maxlength') || formgrp.get('ShippingCharge')?.hasError('minlength')) && formgrp.get('ShippingCharge')?.touched) || (formgrp.get('ShippingCharge')?.hasError('maxlength') || formgrp.get('ShippingCharge')?.hasError('minlength'))">
          Shipping Charge length must be 1-10 digit. </div>
      </div>

      <div class="form-group col-md-4">
        <label>Tag/Label</label>

        <ng-select [items]="dropDown.ddlCaptionTag" formControlName="Caption" [searchable]="true" bindLabel="Text"
          bindValue="Value" placeholder="Select Tag" [ngClass]="{ 'is-invalid': f.Caption.errors && f.Caption.touched}"
          [(ngModel)]="model.CaptionTagId">
        </ng-select>
        <div class="invalid-feedback"
          *ngIf="(formgrp.get('Caption')?.hasError('required') && formgrp.get('Caption')?.touched)">
          Please select <strong>Caption</strong>...!</div>
      </div>
      <div class="form-group col-md-4">
        <label>Select Category</label>
        <ng-select [items]="dropDown.ddlCategory" formControlName="Category" [searchable]="true" bindLabel="Text"
          bindValue="Value" placeholder="Select category" (ngModelChange)="getSubLookUpDropDown($event)"
          [ngClass]="{ 'is-invalid': f.Category.errors && f.Category.touched}" [(ngModel)]="model.CategoryId">
        </ng-select>
        <div class="invalid-feedback"
          *ngIf="(formgrp.get('Category')?.hasError('required') && formgrp.get('Category')?.touched)">
          Please select <strong>Category</strong>...!</div>
      </div>
      <div class=" form-group col-md-4">
        <label>Select Sub Category</label>
        <ng-select [items]="dropDown.ddlSublookup" formControlName="SubCategory" [searchable]="true" bindLabel="Text"
          bindValue="Value" placeholder="Select Sub-category"
          [ngClass]="{ 'is-invalid': f.SubCategory.errors && f.SubCategory.touched}" [(ngModel)]="model.SubCategoryId">
        </ng-select>

        <div class="invalid-feedback"
          *ngIf="(formgrp.get('SubCategory')?.hasError('required') && formgrp.get('SubCategory')?.touched)">
          Please select <strong>Sub Category</strong>...!</div>
      </div>
      <div class="form-group col-md-6 mb-0">
        <label>Product main image</label>
        <input type="hidden" name="ImagePath" [(ngModel)]="model.ImagePath" formControlName="ImagePath">
        <app-file-selector [MaxFileLength]="1" (FilesChanged)="onDocumentAttach($event)"
          [CurrentFileLength]="model?.ImagePath ? 1: 0"
          [ngClass]="{ 'is-invalid': f.ImagePath.errors && f.ImagePath.touched}">
        </app-file-selector>
        <div class="invalid-feedback"
          *ngIf="(formgrp.get('ImagePath')?.hasError('required') && formgrp.get('ImagePath')?.touched)">
          Please Product main image...!</div>

        <ng-container *ngIf="model.ImagePath && !isFileAttached  && model.Id>0">
          <span [ngSwitch]="getFileType(model.ImagePath)">

            <a *ngSwitchCase="'image'" href="javascript:void()" class="small-media-items position-relative mb-3">
              <div class="small-media-items-img"> <img [src]="model.ImagePath"
                  onerror="this.src='assets/img/300x300.jpg'" /> </div>
              <div class="small-media-items-action">
                <a href="javascript:void()" (click)="RemoveDocument(model.ImagePath)" title="Delete"><i
                    class="bi bi-trash"></i></a>
                <a [href]="model.ImagePath" target="_blank">
                  <i data-toggle="tooltip" data-placement="bottom" title="View" class="bi bi-eye"></i>
                </a>
              </div>
            </a>
            <a *ngSwitchCase="'doc'" href="javascript:void()"
              class="small-media-items small-media-items-pdf text-danger position-relative mb-3">
              <div class="small-media-items-img"><i class="bi bi-file-earmark-pdf"></i></div>
              <div class="small-media-items-action">
                <a href="javascript:void()" (click)="RemoveDocument(model.ImagePath)" title="Delete"><i
                    class="bi bi-trash"></i></a>
                <a href="javascript:void()" [href]="model.ImagePath" title="View"><i class="bi bi-eye"></i></a>
              </div>
            </a>

            <a *ngSwitchCase="'video'" href="javascript:void()"
              class="small-media-items small-media-items-video position-relative mb-3">
              <div class="small-media-items-img"> <i class="bi bi-camera-video"></i> </div>
              <div class="small-media-items-action">
                <a href="javascript:void()" (click)="RemoveDocument(model.ImagePath)" title="Delete"><i
                    class="bi bi-trash"></i></a>
                <a href="javascript:void()" [href]="model.ImagePath" title="View"><i class="bi bi-eye"></i></a>
              </div>
            </a>
            <p *ngSwitchDefault>

            </p>
          </span>


        </ng-container>


      </div>

      <!-- Pending -->
      <div class="form-group col-md-6 mb-0">
        <label>Other images</label>
        <div class="dropzone dropzone-light upload-btn-wrapper w-100">
          <input type="hidden" name="productFile" [(ngModel)]="productFile" formControlName="productFile">
          <app-file-selector [MaxFileLength]="5" (FilesChanged)="onProductFileAttach($event)"
            [CurrentFileLength]="(this.ProductFiles.length +(this.model.Files?.length??0))"
            [ngClass]="{ 'is-invalid': f.productFile.errors && f.productFile.touched}">
          </app-file-selector>
          <div class="invalid-feedback"
            *ngIf="(formgrp.get('productFile')?.hasError('required') && formgrp.get('productFile')?.touched)">
            Please Add image...!</div>
        </div>

        <div class="d-flex align-items-center mt-1 upload-content-list" *ngIf="ProductFiles">
          <ng-container *ngFor="let itm of ProductFiles">
            <span [ngSwitch]="getFileType(itm.FilePath)">

              <a *ngSwitchCase="'image'" href="javascript:void()" class="small-media-items position-relative mb-3">
                <div class="small-media-items-img"> <img [src]="itm.FilePath"
                    onerror="this.src='assets/img/300x300.jpg'" /> </div>
                <div class="small-media-items-action">
                  <a href="javascript:void()" (click)="deleteProdcutFile(itm.Id)" title="Delete"><i
                      class="bi bi-trash"></i></a>
                  <a [href]="itm.FilePath" target="_blank">
                    <i data-toggle="tooltip" data-placement="bottom" title="View" class="bi bi-eye"></i>
                  </a>
                </div>
              </a>
              <a *ngSwitchCase="'doc'" href="javascript:void()"
                class="small-media-items small-media-items-pdf text-danger position-relative mb-3">
                <div class="small-media-items-img"><i class="bi bi-file-earmark-pdf"></i></div>
                <div class="small-media-items-action">
                  <a href="javascript:void()" (click)="deleteProdcutFile(itm.Id)" title="Delete"><i
                      class="bi bi-trash"></i></a>
                  <a [href]="itm.FilePath" target="_blank">
                    <i data-toggle="tooltip" data-placement="bottom" title="View" class="bi bi-eye"></i>
                  </a>
                </div>
              </a>

              <a *ngSwitchCase="'video'" href="javascript:void()"
                class="small-media-items small-media-items-video position-relative mb-3">
                <div class="small-media-items-img"> <i class="bi bi-camera-video"></i> </div>
                <div class="small-media-items-action">
                  <a href="javascript:void()" (click)="deleteProdcutFile(itm.Id)" title="Delete"><i
                      class="bi bi-trash"></i></a>
                  <a [href]="itm.FilePath" target="_blank">
                    <i data-toggle="tooltip" data-placement="bottom" title="View" class="bi bi-eye"></i>
                  </a>
                </div>
              </a>
              <p *ngSwitchDefault>

              </p>
            </span>
          </ng-container>

        </div>
      </div>

      <div class="form-group col-md-12">
        <label>Description</label>
        <angular-editor [(ngModel)]="model.Desc" formControlName="Description" [config]="editorConfig"
          placeholder="Description" [ngClass]="{ 'is-invalid': f.Description.errors && f.Description.touched}"
          id="Description"></angular-editor>


        <div class="invalid-feedback"
          *ngIf="(formgrp.get('Description')?.hasError('required') && formgrp.get('Description')?.touched)">
          Please enter Discription</div>
      </div>

      <div class="form-group col-md-12">
        <label>Additional Information</label>
        <angular-editor [(ngModel)]="model.Summary" formControlName="Summary" [config]="editorConfig"
          [ngClass]="{ 'is-invalid': f.Summary.errors && f.Summary.touched}" id="Summary" rows="5"
          placeholder="Additional Information">
        </angular-editor>

        <div class="invalid-feedback"
          *ngIf="(formgrp.get('Summary')?.hasError('required') && formgrp.get('Summary')?.touched)">
          Please enter Summary...!</div>
      </div>

      <div class="form-group col-md-12">
        <label>Keyword</label>
        <textarea [(ngModel)]="model.Keyword" formControlName="Keyword" placeholder="Keyword" class="form-control"
          [ngClass]="{ 'is-invalid': f.Keyword.errors && f.Keyword.touched}" id="Keyword"></textarea>
         <div class="invalid-feedback"
          *ngIf="(formgrp.get('Keyword')?.hasError('required') && formgrp.get('Keyword')?.touched)">
          Please enter Discription</div>
      </div>
    </div>

    <div class="form-footer-btn-grp widget-content widget-content pt-3 text-center">
      <button type="submit" class="btn btn-success mr-3"> <i class="fas fa-check mr-1"></i> {{model.Id > 0 ? 'Save
        Product' : 'Add Product'}}</button>
      <button type="button" class="btn btn-outline-danger"> <i class="fas fa-times mr-1"></i> Cancel</button>
    </div>
  </form>
</div>
