<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Categorie name</li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<!-- Breadcrum End -->



<!-- Product List Start -->
<Section class="product-page mt-4 mt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <app-product-filter [(filterModel)]="indexModel"></app-product-filter>
      </div>

      <div class="col-lg-9 col-md-8 mt-4 mt-md-0">

        <div class="row ms-0 ms-lg-3">
          <div class="col-lg-12">
            <div
              class="product-collection-header-filter d-flex align-items-center justify-content-between mb-4 font-13">
              <div class="d-none d-md-block">Showing 1–12 of <strong> 20 </strong> results</div>
              <div>
                <h4 class="m-0 font-w-400 product-collection-header-title">Products</h4>
              </div>
              <div class="d-flex">
                <div class="product-sortby-filter me-3">
                  <select class="select-sm">
                    <option>Sort by:</option>
                    <option>Price (L to H)</option>
                    <option>Price (H to L)</option>
                  </select>
                </div>
                <!-- <div class="product-show-count d-none d-md-block">
                <label class="me-1">Show:</label>
                <select class="select-sm">
                  <option>6</option>
                  <option>12</option>
                  <option>18</option>
                  <option>24</option>
                </select>
              </div> -->
              </div>
            </div>
          </div>
          <!-- Product Start -->

          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4" *ngFor="let item of model | paginate: { itemsPerPage: indexModel.PageSize , currentPage: indexModel.Page,totalItems: totalRecords }">
            <a href="javascript:void(0)" routerLink="/product/{{item.Name.split(' ').join('-')}}/{{item.Id}}"
              class="product-list-items">
              <div class="product-list-items-tag" *ngIf="item.CaptionTag">{{item.CaptionTag}}</div>
              <div
                class="product-list-items-img d-flex align-items-center justify-content-center flex-column position-relative">
                <img [src]="item.ImagePath" onerror="this.src='assets/images/no-img.svg'" alt="" />
                <div class="product-list-hover">
                  <button type="button" class="product-list-hover-items" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Enquiry"><i class="bi bi-whatsapp"></i></button>
                </div>
              </div>
              <div class="product-list-info">
                <h3>{{item.Name}}</h3>
                <p>₹ {{item.Price}}</p>
              </div>
            </a>
          </div>
          <!-- Product End -->

          <div class="col-lg-12 mt-4">
            <nav>
              <pagination-controls class="pagination justify-content-center" (pageChange)="indexModel.Page= $event;getList()"></pagination-controls>

              <!-- <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a></li>
              </ul> -->
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
</Section>
<!-- Product List End -->
