<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product name</li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<!-- Breadcrum End -->



<!-- Product List Start -->
<Section class="product-page mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-md-flex justify-content-between align-items-center mb-4">
        <div class="section-title text-center text-md-start m-0">First Store Category</div>
        <div class="product-list-search position-relative">
          <input type="search" placeholder="Search..">
          <button type="submit"><i class="bi bi-search"></i></button>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="product-category-sidebar">
          <a class="d-inline-flex align-items-center d-md-none product-category-btn text-center" data-bs-toggle="offcanvas" href="#Btn-Toogle1">
            <i class="bi bi-list-nested me-2"></i>
            <span>Category</span>
          </a>
          <div class="aside-category offcanvas offcanvas-start" tabindex="-1" id="Btn-Toogle1">
            <div class="offcanvas-header d-flex d-md-none pt-0 px-0">
              <h5 class="offcanvas-title">Current Category Name</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <a href="javascript:void(0)" class="active">Category name 1</a>
            <a href="javascript:void(0)">Category name 2</a>
            <a href="javascript:void(0)">Category name 3</a>
            <a href="javascript:void(0)">Category name 4</a>
            <a href="javascript:void(0)">Category name 5</a>
            <a href="javascript:void(0)">Category name 6</a>
            <a href="javascript:void(0)">Category name 7</a>
            <a href="javascript:void(0)">Category name 8</a>
            <a href="javascript:void(0)">Category name 9</a>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 mt-4 mt-md-0">
        <div class="row ms-0 ms-lg-3">
          <!-- Product Start -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 ">
            <a href="product-details.html" class="product-list-items">
              <div class="product-list-items-img d-flex align-items-center justify-content-center">
                <img src="assets/images/add-img1.png" alt="" />
              </div>
              <div class="product-list-info">
                <h3>Product name</h3>
                <p>₹ 975</p>
              </div>
            </a>
          </div>
          <!-- Product End -->

          <!-- Product Start -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 ">
            <a href="product-details.html" class="product-list-items">
              <div class="product-list-items-img d-flex align-items-center justify-content-center">
                <img src="assets/images/add-img1.png" alt="" />
              </div>
              <div class="product-list-info">
                <h3>Product name</h3>
                <p>₹ 975</p>
              </div>
            </a>
          </div>
          <!-- Product End -->
          <!-- Product Start -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 ">
            <a href="product-details.html" class="product-list-items">
              <div class="product-list-items-img d-flex align-items-center justify-content-center">
                <img src="assets/images/add-img1.png" alt="" />
              </div>
              <div class="product-list-info">
                <h3>Product name</h3>
                <p>₹ 975</p>
              </div>
            </a>
          </div>
          <!-- Product End -->
          <!-- Product Start -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 ">
            <a href="product-details.html" class="product-list-items">
              <div class="product-list-items-img d-flex align-items-center justify-content-center">
                <img src="assets/images/add-img1.png" alt="" />
              </div>
              <div class="product-list-info">
                <h3>Product name</h3>
                <p>₹ 975</p>
              </div>
            </a>
          </div>
          <!-- Product End -->
          <!-- Product Start -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 ">
            <a href="product-details.html" class="product-list-items">
              <div class="product-list-items-img d-flex align-items-center justify-content-center">
                <img src="assets/images/add-img1.png" alt="" />
              </div>
              <div class="product-list-info">
                <h3>Product name</h3>
                <p>₹ 975</p>
              </div>
            </a>
          </div>
          <!-- Product End -->

          <!-- Product Start -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 ">
            <a href="product-details.html" class="product-list-items">
              <div class="product-list-items-img d-flex align-items-center justify-content-center">
                <img src="assets/images/add-img1.png" alt="" />
              </div>
              <div class="product-list-info">
                <h3>Product name</h3>
                <p>₹ 975</p>
              </div>
            </a>
          </div>
          <!-- Product End -->
          <!-- Product Start -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 ">
            <a href="product-details.html" class="product-list-items">
              <div class="product-list-items-img d-flex align-items-center justify-content-center">
                <img src="assets/images/add-img1.png" alt="" />
              </div>
              <div class="product-list-info">
                <h3>Product name</h3>
                <p>₹ 975</p>
              </div>
            </a>
          </div>
          <!-- Product End -->
          <!-- Product Start -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 ">
            <a href="product-details.html" class="product-list-items">
              <div class="product-list-items-img d-flex align-items-center justify-content-center">
                <img src="assets/images/add-img1.png" alt="" />
              </div>
              <div class="product-list-info">
                <h3>Product name</h3>
                <p>₹ 975</p>
              </div>
            </a>
          </div>
          <!-- Product End -->

        </div>
      </div>
    </div>
  </div>
</Section>
<!-- Product List End -->
