<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Categorie name</li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<!-- Breadcrum End -->



<!-- Product List Start -->
<Section class="product-page mt-4 mt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="product-filter-sidebar">
          <a class="d-inline-flex align-items-center d-md-none product-filter-btn text-center"
            data-bs-toggle="offcanvas" href="#Btn-Toogle1">
            <i class="bi bi-funnel me-1"></i>
            <span>Show Filter</span>
          </a>
          <div class="product-filter  offcanvas offcanvas-start" tabindex="-1" id="Btn-Toogle1">
            <div class="offcanvas-header d-flex d-md-none pt-0 px-0">
              <h6 class="offcanvas-title text-muted">Filter</h6>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>

            <!-- Filter Search Start -->
            <div class="product-filterItems product-list-search position-relative mb-4">
              <input type="search" placeholder="Search.." class="w-100">
              <button type="submit"><i class="bi bi-search"></i></button>
            </div>
             <!-- Filter Search End -->

             <!-- Filter Category os sub Category Start -->
            <div class="product-filterItems product-filterItems-w-checkbox mb-4">
              <div class="product-filterItems-header mb-2">
                <h6 class="m-0 text-uppercase">Categories</h6>
              </div>
              <div class="product-filterItems-body">
                <div class="d-flex align-items-center mb-1">
                  <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="Check1">
                    <label class="form-check-label ms-2" for="Check1">
                      Bedsheets
                    </label>
                  </div>
                  <span class="ms-auto">241</span>
                </div>
                <div class="d-flex align-items-center mb-1">
                  <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="Check2">
                    <label class="form-check-label ms-2" for="Check2">
                      Fitted Sheets
                    </label>
                  </div>
                  <span class="ms-auto">268</span>
                </div>
                <div class="d-flex align-items-center mb-1">
                  <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="Check3">
                    <label class="form-check-label ms-2" for="Check3">
                      Comforter & Quilts
                    </label>
                  </div>
                  <span class="ms-auto">98</span>
                </div>
                <div class="d-flex align-items-center mb-1">
                  <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="Check4">
                    <label class="form-check-label ms-2" for="Check4">
                      Solids & Whites
                    </label>
                  </div>
                  <span class="ms-auto">598</span>
                </div>

                <div class="accordion accordion-w-0-border product-list-accordion-filter" id="accordionExample">
                  <div class="accordion-item py-1 border-0">
                    <button class="accordion-button p-0 bg-transparent font-14 font-w-500 text-dark collapsed" type="button"
                      data-bs-toggle="collapse" data-bs-target="#collapseOne">
                      Bedsheets
                    </button>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body px-0 py-1">
                        <div class="d-flex align-items-center mb-1">
                          <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="Check5">
                            <label class="form-check-label ms-2" for="Check5">
                              Bedsheets
                            </label>
                          </div>
                          <span class="ms-auto">241</span>
                        </div>
                        <div class="d-flex align-items-center mb-1">
                          <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="Check6">
                            <label class="form-check-label ms-2" for="Check6">
                              Fitted Sheets
                            </label>
                          </div>
                          <span class="ms-auto">268</span>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="accordion-item py-1 border-0">
                    <button class="accordion-button p-0 bg-transparent font-14 font-w-500 text-dark collapsed"
                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                      Comforter & Quilts
                    </button>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body px-0 py-1">
                        <div class="d-flex align-items-center mb-1">
                          <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="Check7">
                            <label class="form-check-label ms-2" for="Check7">
                              Comforter & Quilts
                            </label>
                          </div>
                          <span class="ms-auto">98</span>
                        </div>
                        <div class="d-flex align-items-center mb-1">
                          <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="Check8">
                            <label class="form-check-label ms-2" for="Check8">
                              Solids & Whites
                            </label>
                          </div>
                          <span class="ms-auto">598</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item py-1 border-0">
                    <button class="accordion-button p-0 bg-transparent font-14 font-w-500 text-dark collapsed"
                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                      Solids & Whites
                    </button>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body px-0 py-1">
                        <div class="d-flex align-items-center mb-1">
                          <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="Check9">
                            <label class="form-check-label ms-2" for="Check9">
                              Bedsheets
                            </label>
                          </div>
                          <span class="ms-auto">241</span>
                        </div>
                        <div class="d-flex align-items-center mb-1">
                          <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="Check10">
                            <label class="form-check-label ms-2" for="Check10">
                              Fitted Sheets
                            </label>
                          </div>
                          <span class="ms-auto">268</span>
                        </div>
                        <div class="d-flex align-items-center mb-1">
                          <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="Check11">
                            <label class="form-check-label ms-2" for="Check11">
                              Bedsheets
                            </label>
                          </div>
                          <span class="ms-auto">241</span>
                        </div>
                        <div class="d-flex align-items-center mb-1">
                          <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="Check12">
                            <label class="form-check-label ms-2" for="Check12">
                              Fitted Sheets
                            </label>
                          </div>
                          <span class="ms-auto">268</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
             <!-- Filter Category os sub Category End -->

            <!-- Filter Size Start -->
            <div class="product-filterItems product-filterItems-w-checkbox mb-4">
              <div class="product-filterItems-header mb-2">
                <h6 class="m-0 text-uppercase">Size</h6>
              </div>
              <div class="product-filterItems-body">
                <div class="d-flex align-items-center mb-1">
                  <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="SizeCheck1">
                    <label class="form-check-label ms-2" for="SizeCheck1">
                      Small
                    </label>
                  </div>
                  <span class="ms-auto">241</span>
                </div>
                <div class="d-flex align-items-center mb-1">
                  <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="SizeCheck2">
                    <label class="form-check-label ms-2" for="SizeCheck2">
                      Medium
                    </label>
                  </div>
                  <span class="ms-auto">268</span>
                </div>
                <div class="d-flex align-items-center mb-1">
                  <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="SizeCheck3">
                    <label class="form-check-label ms-2" for="SizeCheck3">
                      Large
                    </label>
                  </div>
                  <span class="ms-auto">98</span>
                </div>
                <div class="d-flex align-items-center mb-1">
                  <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="SizeCheck4">
                    <label class="form-check-label ms-2" for="SizeCheck4">
                     Extra Large
                    </label>
                  </div>
                  <span class="ms-auto">598</span>
                </div>
              </div>
            </div>
            <!-- Filter Size End -->

            <!-- Filter Price Start -->
            <div class="product-filterItems mb-4">
              <div class="product-filterItems-header mb-2">
                <h6 class="m-0 text-uppercase">Price</h6>
              </div>
              <div class="d-flex justify-content-between">
                <label class="form-label mb-0">Rs. 0.00</label>
                <label class="form-label mb-0">Rs. 10,000</label>
              </div>
              <input type="range" class="form-range" min="0" max="5" id="customRange1">
            </div>
            <!-- Filter Price End -->


          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 mt-4 mt-md-0">

        <div class="row ms-0 ms-lg-3">
          <div class="col-lg-12">
            <div
              class="product-collection-header-filter d-flex align-items-center justify-content-between mb-4 font-13">
              <div class="d-none d-md-block">Showing 1–12 of <strong> 20 </strong> results</div>
              <div>
                <h4 class="m-0 font-w-400 product-collection-header-title">Products</h4>
              </div>
              <div class="d-flex">
                <div class="product-sortby-filter me-3">
                  <select class="select-sm">
                    <option>Sort by:</option>
                    <option>Price (L to H)</option>
                    <option>Price (H to L)</option>
                  </select>
                </div>
                <!-- <div class="product-show-count d-none d-md-block">
                <label class="me-1">Show:</label>
                <select class="select-sm">
                  <option>6</option>
                  <option>12</option>
                  <option>18</option>
                  <option>24</option>
                </select>
              </div> -->
              </div>
            </div>
          </div>
          <!-- Product Start -->

          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-4" *ngFor="let item of model">
            <a href="javascript:void(0)" routerLink="/product/{{item.Name.split(' ').join('-')}}/{{item.Id}}"
              class="product-list-items">
              <div class="product-list-items-tag" *ngIf="item.CaptionTag">{{item.CaptionTag}}</div>
              <div
                class="product-list-items-img d-flex align-items-center justify-content-center flex-column position-relative">
                <img [src]="item.ImagePath" onerror="this.src='assets/images/no-img.svg'" alt="" />
                <div class="product-list-hover">
                  <button type="button" class="product-list-hover-items" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Enquiry"><i class="bi bi-whatsapp"></i></button>
                </div>
              </div>
              <div class="product-list-info">
                <h3>{{item.Name}}</h3>
                <p>₹ {{item.Price}}</p>
              </div>
            </a>
          </div>
          <!-- Product End -->

          <div class="col-lg-12 mt-4">
            <nav>
              <!-- <pagination-controls (pageChange)="indexModel.Page= $event"></pagination-controls> -->

              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a></li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
</Section>
<!-- Product List End -->
