<!-- Hero Banner Start -->
<section class="home-hero-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="home-hero-banner-content text-center text-white">
          <div>
            <h1 class="mb-2">Everything You Need To Sell Products Online</h1>
            <p class="ont-light">All the ecommerce features you need, and more. With Storeone, develop your commerce
              online and grow your business.

            </p>
          </div>
        </div>
        <div class="home-hero-banner-img text-center mt-4 mt-md-5" data-aos="fade-up" data-aos-duration="1500">
          <img src="assets/images/home-hero.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Banner End -->


<!-- Home About 1 Start -->
<section class="home-about-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title" data-aos="fade-up" data-aos-duration="1500">Why do you need a great<br />
          looking website?</h1>
        <p class="mb-0" data-aos="fade-up" data-aos-duration="1500">Most people search about a brand or
          business online and this online presence builds the credibility of the brand and its existence.
          Therefore, having a website is essential.</p>
        <p class="mb-0" data-aos="fade-up" data-aos-duration="1500">To leave an impact on your visitors and encourage
          them to buy your products you need to offer a
          quality User Experience to the visitors.</p>
      </div>
    </div>
  </div>
</section>
<!-- Home About 1 End -->

<!-- Why Choose us Start  -->

<section class="why-choose">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-title text-center" data-aos="fade-up" data-aos-duration="1500">Unleash Growth
          With <br />
          Next-Gen Ecommerce</h1>
      </div>

      <div class="col-md-3 mb-4 mb-lg-0">
        <div class="why-choose-items text-center" data-aos="fade-up" data-aos-duration="1500">
          <img src="assets/images/icon-phone.svg" alt="" />
          <h5 class="mt-3 mb-2">Modern Design</h5>
          <p class="my-0">Our product website looks great on mobile phone</p>
        </div>
      </div>

      <div class="col-md-3 mb-4 mb-lg-0">
        <div class="why-choose-items text-center" data-aos="fade-up" data-aos-duration="1500">
          <img src="assets/images/click.svg" alt="" />
          <h5 class="mt-3 mb-2">Flexibility</h5>
          <p class="my-0">Customize Ecommerce Solutions Quickly And Easily For Market Demands</p>
        </div>
      </div>

      <div class="col-md-3 mb-4 mb-lg-0">
        <div class="why-choose-items text-center" data-aos="fade-up" data-aos-duration="1500">
          <img src="assets/images/icon-shipping.svg" alt="" />
          <h5 class="mt-3 mb-2">Fast Loading Time</h5>
          <p class="my-0">Angular project always very fast loading components</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="why-choose-items text-center" data-aos="fade-up" data-aos-duration="1500">
          <img src="assets/images/icon-marketing.svg" alt="" />
          <h5 class="mt-3 mb-2">Faster time to market</h5>
          <p class="my-0">Roll Out Or Pivot To Your Unique Business Model Faster Than Your Competition</p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Why Choose us End  -->


<!-- Features Start -->
<section class="home-features">
  <div class="container-fluid p-0">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="home-features-img">
          <img src="assets/images/technology-app-development-wireless-e-commerce.png" alt="StoreOne" />
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <div class="home-features-info" data-aos="fade-left" data-aos-duration="1500">
          <h1>Start Your Business
            Journey With Storeone</h1>
          <h5>Try Storeone for free, and explore all the tools and services you need to start, run, and
            grow your business.</h5>
          <a class="btn btn-shadow btn-round btn-border px-3 px-xl-5 py-2 py-xl-3 text-uppercase"
            href="javascript:void()">Start free trial</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features End -->

<!-- Features Start -->
<section class="home-features mt-5 mt-lg-0">
  <div class="container-fluid p-0">
    <div class="row align-items-center">
      <div class="col-lg-6 order-1 order-lg-0 py-4 py-lg-0">
        <div class="home-features-info m-auto" data-aos="fade-right" data-aos-duration="1500">
          <ul>
            <li><i class="bi bi-check2"></i> Sell everywhere</li>
            <li><i class="bi bi-check2"></i> Market your business</li>
            <li><i class="bi bi-check2"></i> Manage everything</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 order-0 order-lg-1">
        <div class="home-features-img">
          <img src="assets/images/ecommerce-store.png" alt="StoreOne" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features End -->
