<!-- Page Header Title start -->
<div class="widget-header">
    <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
        <div>
            <h1>Category List</h1>
            <!-- Breadcrumb Start -->
            <nav class="custom-breadcrum">
                <ol class="breadcrumb justify-content-center justify-content-sm-start">
                    <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Category List</li>
                </ol>
            </nav>
            <!-- Breadcrumb End -->
        </div>
        <button class="btn btn-dark btn-sm mt-2 mt-sm-0"> <i class="bi bi-plus-lg"></i> Add Category</button>

    </div>
</div>
<!-- Page Header Title end -->

<!-- Main Page Content Start -->
<div class="px-3">
    <div class="dataTables_wrapper container-fluid dt-bootstrap4">
        <div class="dt--top-section">
            <div class="row">
                <div class="col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center">
                    <div class="dataTables_length"><label>Results : <select name="zero-config_length" aria-controls="zero-config"
                class="form-control">
                <option value="7">7</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select></label></div>
                </div>
                <div class="col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3">
                    <div class="dataTables_filter"><label>
              <i class="bi bi-search"></i>
              <input type="search" class="form-control" placeholder="Search..." aria-controls="zero-config"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped dataTable table-header w-100">
                <thead>
                    <tr role="row">
                        <th style="width: 20px;">S. no
                        </th>
                        <th style="width: 200px;">Category image</th>
                        <th>Category name</th>
                        <th style="width: 100px;">Visibility</th>
                        <th style="width: 100px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row">
                        <td>01</td>
                        <td>
                            <div class="lsit-category-img d-flex align-items-center justify-content-center">
                                <img src="assets/img/no-img.svg">
                            </div>
                        </td>
                        <td>Product Category</td>
                        <td>
                            <label class="switch s-icons s-outline s-outline-success m-0">
                              <input type="checkbox" checked>
                              <span class="slider round"></span>
                          </label>
                        </td>
                        <td class="table-action-btn">
                            <a href="javascript:void()" class="table-action-btn-view" data-toggle="tooltip" data-placement="bottom" title="View"><i class="bi bi-eye"></i></a>
                            <a href="javascript:void()" class="table-action-btn-edit" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="bi bi-pencil-square"></i></a>
                            <a href="javascript:void()" class="table-action-btn-delete" data-toggle="tooltip" data-placement="bottom" title="Remove"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    <tr role="row">
                        <td>02</td>
                        <td>
                            <div class="lsit-category-img d-flex align-items-center justify-content-center">
                                <img src="assets/img/no-img.svg">
                            </div>
                        </td>
                        <td>Caption tags</td>
                        <td>
                            <label class="switch s-icons s-outline s-outline-success m-0">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        </td>
                        <td class="table-action-btn">
                            <a href="javascript:void()" class="table-action-btn-view" data-toggle="tooltip" data-placement="bottom" title="View"><i class="bi bi-eye"></i></a>
                            <a href="javascript:void()" class="table-action-btn-edit" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="bi bi-pencil-square"></i></a>
                            <a href="javascript:void()" class="table-action-btn-delete" data-toggle="tooltip" data-placement="bottom" title="Remove"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    <tr role="row">
                        <td>03</td>
                        <td>
                            <div class="lsit-category-img d-flex align-items-center justify-content-center">
                                <img src="assets/img/no-img.svg">
                            </div>
                        </td>
                        <td>Gender</td>
                        <td>
                            <label class="switch s-icons s-outline s-outline-success m-0">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        </td>
                        <td class="table-action-btn">
                            <a href="javascript:void()" class="table-action-btn-view" data-toggle="tooltip" data-placement="bottom" title="View"><i class="bi bi-eye"></i></a>
                            <a href="javascript:void()" class="table-action-btn-edit" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="bi bi-pencil-square"></i></a>
                            <a href="javascript:void()" class="table-action-btn-delete" data-toggle="tooltip" data-placement="bottom" title="Remove"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>

            </table>
        </div>


        <div class="dt--bottom-section d-sm-flex justify-content-sm-between text-center px-0">
            <div class="dt--pages-count  mb-sm-0 mb-3">
                <div class="dataTables_info" role="status" aria-live="polite">Showing page 1 of 4
                </div>
            </div>
            <div class="dt--pagination">
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled"><a href="javascript:void()" class="page-link"><i
                  class="bi bi-chevron-left"></i></a></li>
                        <li class="paginate_button page-item active"><a href="javascript:void()" class="page-link">1</a></li>
                        <li class="paginate_button page-item "><a href="javascript:void()" class="page-link">2</a></li>
                        <li class="paginate_button page-item "><a href="javascript:void()" class="page-link">3</a></li>
                        <li class="paginate_button page-item "><a href="javascript:void()" class="page-link">4</a></li>
                        <li class="paginate_button page-item next"><a href="javascript:void()" class="page-link"><i
                  class="bi bi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Main Page Content End -->
