<!-- Related Product Start -->
<div class="col-lg-12 section-related" *ngIf="this.totalRecords>0">
  <div class="col-lg-12 text-center section-title">YOU MAY ALSO LIKE</div>
  <ng-container *ngIf="!isLoading">
    <section class="slider-items-5 product-list-slider">
      <ng-container *ngFor="let item of productModel;let index=index">
        <app-product-card [(Product)]="productModel[index]"></app-product-card>
      </ng-container>
    </section>
  </ng-container>
</div>
<!-- Related Product End -->
