
    <!-- Inner Page Banner Start -->
    <section class="hero-design-1">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="m-0">Find the right plan for your business</h1>
              </div>
          </div>
      </div>
  </section>
  <!-- Inner Page Banner End -->


  <!-- Main Content Start -->

  <section class="inside-pages-content page-pricing pt-5">
      <div class="container">
          <div class="row">
              <div class="col-md-4 mb-4 mb-md-0">
                  <div class="pricing-card d-flex flex-column h-100" data-aos="fade-up" data-aos-duration="1500">
                      <div class="pricing-card-body mb-2">
                          <h2>PROFESSIONAL</h2>
                          <h1><span class="pc-price-month"><span
                                      class="pc-pricing-prefix font-fam-none">₹</span>2999<span
                                      class="pc-pricing-postfix">/&nbsp;mo</span></span></h1>
                          <p class="pc-paid-annually"> <span class="font-fam-none"> ₹ </span> 2000/mo paid annually
                          </p>
                          <hr class="my-4" />
                          <p>Professional features to grow and manage your online store</p>
                      </div>
                      <div class="pc-action mt-auto">
                          <a class="btn btn-round btn-border px-2 py-2 text-uppercase w-100"
                              href="demo-request.html">Schedule a demo</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 mb-4 mb-md-0">
                  <div class="pricing-card d-flex flex-column h-100" data-aos="fade-up" data-aos-duration="1500">
                      <div class="pricing-card-body mb-2">
                          <h2>BUSINESS</h2>
                          <h1><span class="pc-price-month"><span
                                      class="pc-pricing-prefix font-fam-none">₹</span>10000<span
                                      class="pc-pricing-postfix">/&nbsp;mo</span></span></h1>
                          <p class="pc-paid-annually"> <span class="font-fam-none"> ₹ </span> 7000/mo paid annually
                          </p>
                          <hr class="my-4" />
                          <p>Advanced ecommerce solutions to expand your business</p>
                      </div>
                      <div class="pc-action mt-auto">
                          <a class="btn btn-round btn-border px-2 py-2 text-uppercase w-100"
                              href="demo-request.html">Schedule a demo</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 mb-4 mb-md-0">
                  <div class="pricing-card d-flex flex-column h-100" data-aos="fade-up" data-aos-duration="1500">
                      <div class="pricing-card-body mb-2">
                          <h2>ENTERPRISE</h2>
                          <h1><span class="pc-price-month"><span
                                      class="pc-pricing-prefix font-fam-none">₹</span>15000<span
                                      class="pc-pricing-postfix">/&nbsp;mo</span></span></h1>
                          <p class="pc-paid-annually"> <span class="font-fam-none"> ₹ </span> 10000/mo paid annually
                          </p>
                          <hr class="my-4" />
                          <p>Everything you need to sell online, mobile and at retail
                          </p>
                      </div>
                      <div class="pc-action mt-auto">
                          <a class="btn btn-round btn-border px-2 py-2 text-uppercase w-100"
                              href="demo-request.html">Schedule a demo</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container pt-5">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="section-title text-center">Compare features</h1>

                  <div class="table-responsive table-shadow">
                      <table class="table m-0 pricing-table">
                          <thead>
                              <tr>
                                  <th width="25%"> &nbsp; </th>
                                  <th width="25%">Professional</th>
                                  <th width="25%">Business</th>
                                  <th width="25%">Enterprise</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Online Store</td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Email/SMS Notifications</td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Free SSL</td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Blog</td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Reports & Analytics</td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Discount coupons</td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Product filters</td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Categories & sub-categories</td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Custom product attributes
                                  </td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Stock inventory & history</td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Add to Cart</td>
                                  <td><i class="bi bi-x-lg text-danger"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Payment Gateway Integration</td>
                                  <td><i class="bi bi-x-lg text-danger"></i></td>
                                  <td><i class="bi bi-x-lg text-danger"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>24/7 support</td>
                                  <td><i class="bi bi-x-lg text-danger"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>Android Application</td>
                                  <td><i class="bi bi-x-lg text-danger"></i></td>
                                  <td><i class="bi bi-x-lg text-danger"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                              <tr>
                                  <td>iOS Application</td>
                                  <td><i class="bi bi-x-lg text-danger"></i></td>
                                  <td><i class="bi bi-x-lg text-danger"></i></td>
                                  <td><i class="bi bi-check2 text-success"></i></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Main Content End -->

