<div class="modal-header pb-0">
  <h5 class="modal-title">Reset your password</h5>
  <button type="button" class="btn-close" (click)="reset()" data-bs-dismiss="modal" aria-label="Close">
    <i class="fa-sharp fa-light fa-xmark"></i>
  </button>
</div>
<div class="modal-body p-4">

  <form [ngSwitch]="step">
    <div class="forget-pas-step1 " *ngSwitchCase="'step1'">

      <div class="form-floating mb-3">
        <input type="email" [ngClass]="{ 'is-invalid': Email.errors && Email.touched}" class="form-control"
          id="EnterNewPas" [formControl]="Email" placeholder="Enter Email Address">
        <label for="EnterNewPas">Enter Email Address</label>
        <div class="text-danger font-13 mt-1" *ngIf="Email.invalid && (Email.dirty || Email.touched)">
          <div *ngIf="Email.errors.required">Email is required.</div>
          <div *ngIf="Email.errors.email">Email must be a valid email address.</div>
          <div *ngIf="Email.errors.maxlength">Email cannot be more than 100 characters long..</div>

        </div>
      </div>

      <button type="button" class="btn btn-default px-3 py-2 w-100 text-uppercase" [disabled]="Email.errors"
        (click)="sendOTP()">Submit</button>

    </div>
    <div class="forget-pas-step2" *ngSwitchCase="'step2'">
      <label class="d-block text-center">We have sent you <strong> OTP </strong> to your email</label>
      <label class="d-block text-center mt-1 font-13">Please Enter OTP <strong
          class="text-theme-primary">1:52</strong></label>

      <div class="forget-pas-otp d-flex my-3">

        <input type="text" placeholder="0" />
        <input type="text" placeholder="0" />
        <input type="text" placeholder="0" />
        <input type="text" placeholder="0" />
        <input type="text" placeholder="0" />
        <input type="text" placeholder="0" />
      </div>
      <label class="d-block text-center mb-3 font-13">Didn"t Recieve OTP ? <a href="javascript:void(0)"
          class="text-theme-primary"> <strong> <i class="fa-regular fa-arrow-rotate-right"></i> RESEND OTP </strong>
        </a></label>
      <button type="button" class="btn btn-default px-3 py-2 w-100 text-uppercase" (click)="verifyOTP()">Verify
        OTP</button>
    </div>
    <div class="forget-pas-step3 " *ngSwitchCase="'step3'">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="EnterNewPas" placeholder="Enter new password"
          formControlName="Password">
        <label for="EnterNewPas">Enter new password</label>
        <div class="text-danger font-13 mt-1" *ngIf="f.Password.invalid && (f.Password.dirty || f.Password.touched)">
          <div *ngIf="f.Password.errors.required">Password is required.</div>
          <div *ngIf="f.Password.errors.minlength">Password must be at least 8 characters long.</div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" formControlName="ConfirmPassword" id="ConfirmrNewPas"
          placeholder="Confirm new password">
        <label for="ConfirmrNewPas">Confirm new password</label>
        <div class="text-danger font-13 mt-1"
          *ngIf="f.Password.valid && f.ConfirmPassword.invalid && (f.ConfirmPassword.dirty || f.ConfirmPassword.touched)">
          <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is required.</div>
          <div *ngIf="f.ConfirmPassword.errors.notMatched">Passwords must match.</div>
        </div>
      </div>
      <button type="button" class="btn btn-default px-3 py-2 w-100 text-uppercase">Submit</button>
    </div>
  </form>
</div>
