<div class="modal-header px-3 py-2 py-lg-3">
  <h5 class="modal-title">Reset your password</h5>
  <button #btnClose type="button" class="btn-close" (click)="reset()" data-bs-dismiss="modal" aria-label="Close">
    <i class="fa-sharp fa-light fa-xmark"></i>
  </button>
</div>
<div class="modal-body px-3 pt-0">

  <ng-container [ngSwitch]="step">
    <div class="forget-pas-step1 " *ngSwitchCase="'step1'">

      <div class="form-floating mb-3">
        <input type="email" [ngClass]="{ 'is-invalid': Email.errors && Email.touched}" class="form-control"
          id="EnterNewPas" [formControl]="Email" placeholder="Enter Email Address">
        <label for="EnterNewPas">Enter Email Address</label>
        <div class="text-danger font-13 mt-1" *ngIf="Email.invalid && (Email.dirty || Email.touched)">
          <div *ngIf="Email.errors.required">Email is required.</div>
          <div *ngIf="Email.errors.email">Email must be a valid email address.</div>
          <div *ngIf="Email.errors.maxlength">Email cannot be more than 100 characters long..</div>

        </div>
      </div>

      <button type="button" class="btn btn-default px-3 py-2 w-100 text-uppercase" [disabled]="Email.errors||isLoading"
        (click)="sendOTP()">{{isLoading ?'Sending...':'Submit'}}</button>

    </div>

    <div class="forget-pas-step2" *ngSwitchCase="'step2'">
      <form [formGroup]="OTPFrm" (ngSubmit)="verifyOTP()">
        <label class="d-block text-center">We have sent you <strong> OTP </strong> to your email</label>
        <label class="d-block text-center mt-1 font-13">Please Enter OTP
          <strong *ngIf="this.timeCounter!=0" class="text-theme-primary">{{this.timeCounter}} second
            left!</strong></label>

        <div class="forget-pas-otp d-flex my-4">

          <input class="form-control" (keyup)="processKeyUp($event,input2)"
            (keypress)="_commonService.NumberOnly($event)" maxlength="1" minlength="1" formControlName="input1"
            [ngClass]="{ 'is-invalid': OTPctrl.input1.errors && OTPctrl.input1.touched}" type="text" placeholder="-" />

          <input class="form-control" #input2 (keyup)="processKeyUp($event,input3)"
            (keypress)="_commonService.NumberOnly($event)" maxlength="1" minlength="1" formControlName="input2"
            [ngClass]="{ 'is-invalid': OTPctrl.input2.errors && OTPctrl.input2.touched}" type="text" placeholder="-" />

          <input class="form-control" #input3 (keyup)="processKeyUp($event,input4)"
            (keypress)="_commonService.NumberOnly($event)" maxlength="1" minlength="1" formControlName="input3"
            [ngClass]="{ 'is-invalid': OTPctrl.input3.errors && OTPctrl.input3.touched}" type="text" placeholder="-" />

          <input class="form-control" #input4 (keyup)="processKeyUp($event,input5)"
            (keypress)="_commonService.NumberOnly($event)" maxlength="1" minlength="1" formControlName="input4"
            [ngClass]="{ 'is-invalid': OTPctrl.input4.errors && OTPctrl.input4.touched}" type="text" placeholder="-" />

          <input class="form-control" #input5 (keyup)="processKeyUp($event,input6)"
            (keypress)="_commonService.NumberOnly($event)" maxlength="1" minlength="1" formControlName="input5"
            [ngClass]="{ 'is-invalid': OTPctrl.input5.errors && OTPctrl.input5.touched}" type="text" placeholder="-" />

          <input class="form-control" #input6 (keypress)="_commonService.NumberOnly($event)" maxlength="1" minlength="1"
            formControlName="input6" [ngClass]="{ 'is-invalid': OTPctrl.input6.errors && OTPctrl.input6.touched}"
            type="text" placeholder="-" />

        </div>
        <label *ngIf="this.timeCounter==0" class="d-block text-center mb-3 font-13">Didn't Receive OTP ? <a
            href="javascript:void(0)" (click)="sendOTP()" class="text-theme-primary"> <strong> <i
                class="fa-regular fa-arrow-rotate-right"></i> RESEND OTP </strong>
          </a></label>
        <button [disabled]="OTPFrm.errors||isLoading" type="submit"
          class="btn btn-default px-3 py-2 w-100 text-uppercase">
          {{isLoading ?'Verifying...':'Verify OTP'}}</button>
      </form>
    </div>
    <div class="forget-pas-step3 " *ngSwitchCase="'step3'">
      <form [formGroup]="PasswordFrm" (ngSubmit)="onPasswordSubmit()">

        <div class="form-floating mb-3">
          <input type="{{isShowPass ? 'text':'password'}}" class="form-control" id="EnterNewPas"
            placeholder="Enter new password" formControlName="Password"
            [ngClass]="{ 'is-invalid': PasswordCtrl.Password.errors && PasswordCtrl.Password.touched}">
          <a href="javascript:void" class="pas-check-icon" (click)="isShowPass=!isShowPass"> <i class="fa-regular "
              [ngClass]="{'fa-eye-slash' : isShowPass, 'fa-eye' : !isShowPass}"></i></a>
          <label for="EnterNewPas">Enter new password</label>
          <div class="text-danger font-13 mt-1"
            *ngIf="PasswordCtrl.Password.invalid && (PasswordCtrl.Password.dirty || PasswordCtrl.Password.touched)">
            <div *ngIf="PasswordCtrl.Password.errors.required">Password is required.</div>
            <div *ngIf="PasswordCtrl.Password.errors.minlength">Password must be at least 8 characters long.</div>
            <div *ngIf="PasswordCtrl.Password.errors.invalidPassword">
              At least <strong>8 characters</strong> <br />
              At least <strong>1 letter</strong> <br />
              At least <strong>1 number</strong> <br />
              At least <strong>1 special character such as !, #, $, %, &, ? </strong>.
            </div>
          </div>

        </div>
        <div class="form-floating mb-3">
          <input type="{{isCShowPass ? 'text':'password'}}" class="form-control" formControlName="ConfirmPassword"
            id="ConfirmrNewPas" placeholder="Confirm new password"
            [ngClass]="{ 'is-invalid': PasswordCtrl.ConfirmPassword.errors && PasswordCtrl.ConfirmPassword.touched}">
          <a href="javascript:void" class="pas-check-icon" (click)="isCShowPass=!isCShowPass"> <i class="fa-regular "
              [ngClass]="{'fa-eye-slash' : isCShowPass, 'fa-eye' : !isCShowPass}"></i></a>

          <label for="ConfirmrNewPas">Confirm new password</label>
          <div class="text-danger font-13 mt-1"
            *ngIf="PasswordCtrl.ConfirmPassword.invalid && (PasswordCtrl.ConfirmPassword.dirty || PasswordCtrl.ConfirmPassword.touched)">
            <div *ngIf="PasswordCtrl.ConfirmPassword.errors.required">Confirm Password is required.</div>
            <div *ngIf="PasswordCtrl.ConfirmPassword.errors.notMatched">Passwords must match.</div>
            <div *ngIf="PasswordCtrl.ConfirmPassword.errors.pattern">
              At least <strong>8 characters</strong> <br />
              At least <strong>1 letter</strong> <br />
              At least <strong>1 number</strong> <br />
              At least <strong>1 special character such as !, #, $, %, &, ? </strong>.
            </div>
          </div>

        </div>
        <button type="submit" [disabled]="PasswordFrm.errors||isLoading"
          class="btn btn-default px-3 py-2 w-100 text-uppercase">{{isLoading? 'Saving...':'Submit'}}</button>
      </form>
    </div>
  </ng-container>
</div>
