<!-- Page Header Start-->
<div class="page-new-header">
    <div class="page-new-header-title">
        Admin Dashboard
        <!-- <nav class="custom-breadcrum">
      <ol class="breadcrumb justify-content-center justify-content-sm-start">
        <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="../" href="javascript:void()">CMS Page</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{pageName | titlecase}}</li>
      </ol>
    </nav> -->
    </div>
    <!-- <div class="page-new-header-action">
    <button routerLink="/admin/master/cms-page" class="page-new-header-action-items"
      data-title="Back to list"> <i class="fa-sharp fa-light fa-arrow-left"></i> </button>
  </div> -->
</div>
<!-- Page Header End-->

<div class="page-dashboard">
    <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <a href="javascript:void(0)" class="dashboard-card-items d-flex align-items-start">
                <div class="dashboard-card-items-icon"> <i class="fa-light fa-users"></i> </div>
                <div class="dashboard-card-items-info">
                    <h1 class="mb-1">12,878</h1>
                    <p class="m-0">Customers</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <a href="javascript:void(0)" class="dashboard-card-items d-flex align-items-start">
                <div class="dashboard-card-items-icon"> <i class="fa-sharp fa-light fa-cart-circle-arrow-down"></i> </div>
                <div class="dashboard-card-items-info">
                    <h1 class="mb-1">490</h1>
                    <p class="m-0">New Orders</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <a href="javascript:void(0)" class="dashboard-card-items d-flex align-items-start">
                <div class="dashboard-card-items-icon"> <i class="fa-regular fa-cart-shopping-fast"></i> </div>
                <div class="dashboard-card-items-info">
                    <h1 class="mb-1">9,879</h1>
                    <p class="m-0">Total Orders</p>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
            <a href="javascript:void(0)" class="dashboard-card-items d-flex align-items-start">
                <div class="dashboard-card-items-icon"> <i class="fa-light fa-money-bill-trend-up"></i> </div>
                <div class="dashboard-card-items-info">
                    <h1 class="mb-1">50,000</h1>
                    <p class="m-0">Total Sales</p>
                </div>
            </a>
        </div>
    </div>
</div>
