<p><a style="color: blue;" href="javascript:void(0)" routerLink="/home">Home</a></p>
<p><a style="color: blue;" href="javascript:void(0)" routerLink="/about-us">About-us</a></p>
<p><a style="color: blue;" href="javascript:void(0)" routerLink="/policy">Policy</a></p>
<p><a style="color: blue;" href="javascript:void(0)" routerLink="/pricing">Pricing</a></p>
<p><a style="color: blue;" href="javascript:void(0)" routerLink="/request-demo">Request-demo</a></p>
<p><a style="color: blue;" href="javascript:void(0)" routerLink="/contact-us">Contact-us</a></p>
