<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void()" routerLink="/home">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void()" routerLink="/store">{{model?.Category}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{model?.Name}}</li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<!-- Breadcrum End -->

<!-- Product Details Start -->
<Section class="product-details py-5">
  <div class="container">
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-6">
        <!-- Product Detail Slider Start -->
        <div class="position-relative">
          <div class="product-list-items-tag" *ngIf="model?.CaptionTag">{{model?.CaptionTag}}</div>
          <div [ngClass]="'product-d-main-slider'">
            <div class="product-d-main-slider-items">
              <img [src]="model?.ImagePath" onerror="this.src='assets/images/no-img.png'">
            </div>
            <div class="product-d-main-slider-items" *ngFor="let item of model.Files; let i=index">
              <img [src]="item?.FilePath" onerror="this.src='assets/images/no-img.png'">
            </div>
          </div>
        </div>

        <div [ngClass]="'product-d-main-slider-nav'" class="mt-2">
          <div class="product-d-main-slider-nav-items">
            <img [src]="model?.ImagePath" onerror="this.src='assets/images/no-img.png'">
          </div>
          <div class="product-d-main-slider-nav-items" *ngFor="let item of model.Files; let i=index">
            <img [src]="item?.FilePath" onerror="this.src='assets/images/no-img.png'">
          </div>
        </div>
        <!-- Product Detail Slider End -->
      </div>
      <div class="col-md-6 mt-4 mt-lg-0 ps-3 ps-lg-4">
        <div class="product-details-info">
          <h2>{{model.Name}}</h2>
          <div class="product-details-price"> ₹ {{this.SelectedSizeModel?.UnitPrice
            ?this.SelectedSizeModel?.UnitPrice: model.Price}}
            <span class="product-details-cutting-price">₹ 6,499.00</span>
            <span class="product-details-price-off">40% Off</span>
          </div>
          <!-- <h4 class="d-flex align-items-center justify-content-between ">₹ {{this.SelectedSizeModel?.UnitPrice
            ?this.SelectedSizeModel?.UnitPrice: model.Price}}
            <div class="ship-charges" *ngIf="model?.ShippingCharge"> <span>Shipping Charge: </span> <strong
                class="text-danger">₹ {{model?.ShippingCharge}}</strong> </div>
          </h4> -->

          <div class="product-detail-total-stock mb-3" *ngIf="totalStock">
            Avail in stock : <strong class="text-theme-primary"> {{totalStock}} </strong>
          </div>
          <div class="accordion product-details-accordion" id="accordionExample">
            <div class="accordion-item mb-2" *ngIf="model?.Desc">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Description" aria-expanded="true" aria-controls="Description">
                  Description
                </button>
              </h2>
              <div id="Description" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body p-3">
                  <pre [innerHTML]="model?.Desc"> </pre>
                </div>
              </div>
            </div>
            <div class="accordion-item"*ngIf="model?.Summary">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#AdditionalInformation" aria-expanded="false" aria-controls="AdditionalInformation">
                  Additional Information
                </button>
              </h2>
              <div id="AdditionalInformation" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body p-3">
                  <pre [innerHTML]="model.Summary">  </pre>
                </div>
              </div>
            </div>

          </div>

          <!-- <div class="product-discription mb-3" *ngIf="model?.Desc">
            <strong class="d-block mb-1">Description:</strong>
            <pre [innerHTML]="model?.Desc"> </pre>
          </div>
          <div class="product-add-info mb-3" *ngIf="model?.Summary">
            <strong class="d-block mb-1">Additional Information:</strong>
            <pre [innerHTML]="model.Summary">  </pre>
          </div> -->


          <div class="product-detail-size my-4">
            <p class="mb-2" *ngIf="SelectedSizeModel"> Size: <strong>{{SelectedSizeModel.Size}}</strong> </p>
            <ul class="d-flex flex-wrap">
              <ng-container *ngFor="let item of model.Stocks">
                <li><a class="product-detail-size-btn" (click)="this.SelectedSizeModel = item;"
                    [ngClass]="[item.Quantity===0|| !item.Quantity ? 'pds-stock-0' : '',item.SizeId==SelectedSizeModel?.SizeId?'active':'']"
                    href="javascript:void()">{{item.Size}}</a> <span class="pds-left"> {{item.Quantity}} left</span>
                </li>
              </ng-container>

              <!--
              <li><a class="product-detail-size-btn pds-stock-0" href="javascript:void()">M</a></li>
              <li><a class="product-detail-size-btn" href="javascript:void()">L</a> <span class="pds-left">3 Left</span>
              </li>
              <li><a class="product-detail-size-btn active" href="javascript:void()">XL</a> <span class="pds-left">9
                  Left</span> </li>
              <li><a class="product-detail-size-btn" href="javascript:void()">XXL</a></li> -->
            </ul>
          </div>

        <div class="d-flex align-items-center justify-content-between">
          <div class="product-detail-share">
            <strong>Share with</strong>
            <div class="btn-share-list">
              <a [href]="shareLink" data-action="share/whatsapp/share" class="text-dark" title="Share on whatsapp"><i class="bi bi-whatsapp"></i></a>
              <a [href]="shareLink" data-action="share/whatsapp/share" class="text-dark" title="Share on facebook"><i class="bi bi-facebook"></i></a>
              <a [href]="shareLink" data-action="share/whatsapp/share" class="text-dark" title="Share on instagram"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
          <div class="product-detail-action-btn">
            <button type="button" style="font-size: 20px;" class="btn btn-default btn-border btn-border-light me-2 me-lg-3" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
            <button type="button" class="btn btn-default py-2 px-3 px-lg-5 text-uppercase" [routerLink]="['/design/cart']"><i class="bi bi-cart3 me-1"></i>
              Add to cart</button>
            <!-- <button type="button" class="btn btn-default btn-border px-3 px-lg-4 text-uppercase ms-2 ms-lg-3"><i class="bi bi-credit-card-2-front me-1"></i>
              checkout</button> -->
          </div>
        </div>
        </div>
      </div>
      <app-category-product-list [CategoryId]="model.CategoryId" [ExcludeId]="recordId"></app-category-product-list>
    </div>
    <div class="row" *ngIf="isLoading">
      <div class="col-sm-12">
        Loading..
      </div>
    </div>
  </div>
</Section>
<!-- Product Details End -->
