<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/home">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/store">{{model?.Category}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{model?.Name}}</li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<!-- Breadcrum End -->


<!-- Product Details Start -->
<Section class="product-details pt-3 pt-md-4">
  <div class="container">
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-6 col-xl-6">
        <!-- Product Detail Slider Start -->
        <div class="position-relative overflow-hidden product-details-product-slider">
          <!-- <div class="product-list-items-tag" *ngIf="model?.CaptionTag">{{model?.CaptionTag}}</div> -->
          <span class="product-discount-label" *ngIf="SelectedSizeModel.Discount>0">{{SelectedSizeModel.Discount}}%
            Off</span>
          <button type="button" [disabled]="this.loading.WishList" (click)="updateWishlist()"
            class="pro-detail-btn-wishlist" title="{{!model?.IsWhishList? 'Add to Wishlist':'Remove from Wishlist'}}"><i
              class="bi "
              [ngClass]="{'bi-heart-fill pro-detail-btn-wishlist-active':!this.loading.WishList&& model?.IsWhishList , 'bi-heart':!this.loading.WishList && !model?.IsWhishList,'bi-hourglass-split':this.loading.WishList}"></i>
          </button>
          <div id="main-p-slider" [ngClass]="'product-d-main-slider'">

            <div class="product-d-main-slider-items" *ngIf="model?.ImagePath">
              <img [src]="model?.ImagePath" onerror="this.src='assets/images/no-img.png'">
            </div>
            <div class="product-d-main-slider-items" *ngFor="let item of model?.Files; let i=index">
              <img [src]="item?.FilePath" onerror="this.src='assets/images/no-img.png'">
            </div>

          </div>
          <div [ngClass]="'product-d-main-slider-nav'" class="mt-2">
            <div class="product-d-main-slider-nav-items" *ngIf="model?.ImagePath">
              <img [src]="model?.ImagePath" onerror="this.src='assets/images/no-img.png'">
            </div>
            <div class="product-d-main-slider-nav-items" *ngFor="let item of model?.Files; let i=index">

              <img [src]="item?.ThumbnailPath" *ngIf="item?.ThumbnailPath"
                onerror="this.src='assets/images/no-img.png'">
            </div>
          </div>
        </div>
        <!-- Product Detail Slider End -->

      </div>
      <div class="col-md-6 col-xl-6 mt-3 mt-lg-0">
        <div class="product-details-info">
          <h2>{{model.Name}}</h2>
          <div class="product-details-price"> ₹ {{this.SelectedSizeModel?.SellingPrice
            ?this.SelectedSizeModel?.SellingPrice: model.SellingPrice}}
            <span class="product-details-cutting-price" *ngIf="SelectedSizeModel.Discount">₹
              {{SelectedSizeModel.UnitPrice}}</span>
            <!-- <span class="product-details-price-off" *ngIf="SelectedSizeModel.Discount>0">{{SelectedSizeModel.Discount}}% Off</span> -->
          </div>
          <div class="accordion product-details-accordion" id="accordionExample">
            <div class="accordion-item mb-2" *ngIf="model?.Desc">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Description"
                  aria-expanded="true" aria-controls="Description">
                  Description
                </button>
              </h2>
              <div id="Description" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body px-0 py-0">
                  <pre [innerHTML]="model?.Desc"> </pre>
                </div>
              </div>
            </div>
            <div class="accordion-item" *ngIf="model?.Summary">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#AdditionalInformation" aria-expanded="false" aria-controls="AdditionalInformation">
                  Additional Information
                </button>
              </h2>
              <div id="AdditionalInformation" *ngIf="model.Summary" class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body px-0 py-0">
                  <pre [innerHTML]="model.Summary"></pre>
                </div>
              </div>
            </div>

          </div>
          <div class="product-detail-size my-4">
            <div class="product-detail-total-stock mb-3" *ngIf="totalStock">
              Avail in stock : <strong class="text-theme-primary ms-1"> {{totalStock}} </strong>
            </div>
            <!-- <p class="mb-2" *ngIf="SelectedSizeModel"> Size: <strong>{{SelectedSizeModel.Size}}</strong> </p> -->
            <ul class="d-flex align-items-center flex-wrap">
              <ng-container *ngFor="let item of model.Stocks">
                <li><a class="product-detail-size-btn" (click)="this.SelectedSizeModel = item;Quantity = 1;"
                    [ngClass]="[item.Quantity===0|| !item.Quantity ? 'pds-stock-0' : '',item.SizeId==SelectedSizeModel?.SizeId?'active':'']"
                    href="javascript:void(0)">{{item.Size}}</a> <span class="pds-left"> {{item.Quantity}} left</span>
                </li>
              </ng-container>
            </ul>
          </div>

          <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="product-detail-share">
              <strong>Share with</strong>
              <div class="btn-share-list">
                <a [href]="shareLink" data-action="share/whatsapp/share" class="text-dark" title="Share on whatsapp"><i
                    class="bi bi-whatsapp"></i></a>
                <a [href]="shareLink" data-action="share/whatsapp/share" class="text-dark" title="Share on facebook"><i
                    class="bi bi-facebook"></i></a>
                <a [href]="shareLink" data-action="share/whatsapp/share" class="text-dark" title="Share on instagram"><i
                    class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div *ngIf="this.SelectedSizeModel.Quantity>0" class="product-detail-action-btn d-flex align-items-center">
              <div class="product-list-qty d-flex me-2 me-md-3">
                <button type="button" class="product-list-qty-btn" [disabled]="Quantity==1"
                  (click)="Quantity=Quantity-1"> <i class="fa-sharp fa-light fa-minus"></i> </button>
                <input type="text" placeholder="Quantity" readonly (keypress)="_commonService.NumberOnly($event)"
                  [ngModel]="Quantity">
                <button type="button" class="product-list-qty-btn"
                  [disabled]="Quantity==10 || Quantity==this.SelectedSizeModel.Quantity" (click)="Quantity=Quantity+1">
                  <i class="fa-sharp fa-light fa-plus"></i> </button>
              </div>
              <button type="button" (click)="onAddtoCart()" class="btn btn-default"
                [disabled]="this.loading.AddToCart"><i class="me-1"
                  [ngClass]="{'fa-light fa-cart-circle-plus':!this.loading.AddToCart,'bi bi-hourglass-split':this.loading.AddToCart}"></i>
                Add to cart</button>
              <!-- <button type="button" class="btn btn-default btn-border px-3 px-lg-4 text-uppercase ms-2 ms-lg-3"><i class="fa-light fa-credit-card me-1"></i>
              checkout</button> -->
            </div>
          </div>
          <div class="customer-review-default-box">
            <h2>CUSTOMER REVIEWS</h2>
            <div class="customer-review-default-box-star">
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>Be the first to write a review</p>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ReviewFromModal"
              class="btn btn-default btn-border">
              <!-- <img src="assets/images/review.gif" alt="" style="max-width: 25px;"/> -->
              <i class="fa-light fa-feather me-1"></i>
              Write a Review
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="customer-page-review">
          <div class="customer-page-review-items d-flex align-items-start">
            <div class="customer-page-review-items-img d-flex align-items-center justify-content-center"> <img
                src="assets/images/avatar.png" alt="" /></div>
            <div class="customer-page-review-items-info">
              <h3>Indrani Goswami</h3>
              <div class="customer-page-review-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h4>Amazing product</h4>
              <p>Fabric is pure cotton, stitching is wonderful, color is slightly different from the shown pictures. Bit
                over priced, dupatta is ok ok... overall thik thak..</p>
              <div class="customer-page-review-img d-flex flex-wrap mt-2">
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/1e903b31-2caf-458c-93cb-9826d2c21894.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/1e903b31-2caf-458c-93cb-9826d2c21894.webp"
                    alt="" />
                </a>
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/519eb986-3e1d-48e2-86d0-51ac0ef9e8de.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/519eb986-3e1d-48e2-86d0-51ac0ef9e8de.webp"
                    alt="" />
                </a>
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/12d54f47-636a-4350-8af0-dd4e5f4a306e.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/12d54f47-636a-4350-8af0-dd4e5f4a306e.webp"
                    alt="" />
                </a>
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/665fea39-3125-4903-8865-1d2094510bb6.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/665fea39-3125-4903-8865-1d2094510bb6.webp"
                    alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="customer-page-review-items d-flex align-items-start">
            <div class="customer-page-review-items-img d-flex align-items-center justify-content-center"> <img
                src="assets/images/avatar.png" alt="" /></div>
            <div class="customer-page-review-items-info">
              <h3>Indrani Goswami</h3>
              <div class="customer-page-review-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h4>Amazing product</h4>
              <p>Fabric is pure cotton, stitching is wonderful, color is slightly different from the shown pictures. Bit
                over priced, dupatta is ok ok... overall thik thak..</p>
            </div>
          </div>
          <div class="customer-page-review-items d-flex align-items-start">
            <div class="customer-page-review-items-img d-flex align-items-center justify-content-center"> <img
                src="assets/images/avatar.png" alt="" /></div>
            <div class="customer-page-review-items-info">
              <h3>Indrani Goswami</h3>
              <div class="customer-page-review-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h4>Amazing product</h4>
              <p>Fabric is pure cotton, stitching is wonderful, color is slightly different from the shown pictures. Bit
                over priced, dupatta is ok ok... overall thik thak..</p>
              <div class="customer-page-review-img d-flex flex-wrap mt-2">
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/1e903b31-2caf-458c-93cb-9826d2c21894.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/1e903b31-2caf-458c-93cb-9826d2c21894.webp"
                    alt="" />
                </a>
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/519eb986-3e1d-48e2-86d0-51ac0ef9e8de.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/519eb986-3e1d-48e2-86d0-51ac0ef9e8de.webp"
                    alt="" />
                </a>
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/12d54f47-636a-4350-8af0-dd4e5f4a306e.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/12d54f47-636a-4350-8af0-dd4e5f4a306e.webp"
                    alt="" />
                </a>
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/665fea39-3125-4903-8865-1d2094510bb6.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/665fea39-3125-4903-8865-1d2094510bb6.webp"
                    alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="customer-page-review-items d-flex align-items-start">
            <div class="customer-page-review-items-img d-flex align-items-center justify-content-center"> <img
                src="assets/images/avatar.png" alt="" /></div>
            <div class="customer-page-review-items-info">
              <h3>Indrani Goswami</h3>
              <div class="customer-page-review-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h4>Amazing product</h4>
              <p>Fabric is pure cotton, stitching is wonderful, color is slightly different from the shown pictures. Bit
                over priced, dupatta is ok ok... overall thik thak..</p>
            </div>
          </div>
          <div class="customer-page-review-items d-flex align-items-start">
            <div class="customer-page-review-items-img d-flex align-items-center justify-content-center"> <img
                src="assets/images/avatar.png" alt="" /></div>
            <div class="customer-page-review-items-info">
              <h3>Indrani Goswami</h3>
              <div class="customer-page-review-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h4>Amazing product</h4>
              <p>Fabric is pure cotton, stitching is wonderful, color is slightly different from the shown pictures. Bit
                over priced, dupatta is ok ok... overall thik thak..</p>
              <div class="customer-page-review-img d-flex flex-wrap mt-2">
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/1e903b31-2caf-458c-93cb-9826d2c21894.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/1e903b31-2caf-458c-93cb-9826d2c21894.webp"
                    alt="" />
                </a>
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/519eb986-3e1d-48e2-86d0-51ac0ef9e8de.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/519eb986-3e1d-48e2-86d0-51ac0ef9e8de.webp"
                    alt="" />
                </a>
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/12d54f47-636a-4350-8af0-dd4e5f4a306e.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/Medium_Thumbnail/12d54f47-636a-4350-8af0-dd4e5f4a306e.webp"
                    alt="" />
                </a>
                <a href="https://api.storeone.co.in/Content/ProductImages/Main/665fea39-3125-4903-8865-1d2094510bb6.webp"
                  data-lightbox="roadtrip" class="customer-page-review-img-items">
                  <img
                    src="https://api.storeone.co.in/Content/ProductImages/Main/665fea39-3125-4903-8865-1d2094510bb6.webp"
                    alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="customer-page-review-items d-flex align-items-start">
            <div class="customer-page-review-items-img d-flex align-items-center justify-content-center"> <img
                src="assets/images/avatar.png" alt="" /></div>
            <div class="customer-page-review-items-info">
              <h3>Indrani Goswami</h3>
              <div class="customer-page-review-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h4>Amazing product</h4>
              <p>Fabric is pure cotton, stitching is wonderful, color is slightly different from the shown pictures. Bit
                over priced, dupatta is ok ok... overall thik thak..</p>
            </div>
          </div>
        </div>
      </div>
      <app-category-product-list [CategoryId]="model.CategoryId" [ExcludeId]="recordId"></app-category-product-list>
    </div>
    <div class="row" *ngIf="isLoading">
      <div class="col-sm-12"> Loading...</div>
    </div>
  </div>
</Section>
<!-- Product Details End -->

<!-- Write Review Modal Start` -->
<div class="modal fade modal-custom-design review-form-modal" id="ReviewFromModal" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header px-3 py-2 py-lg-3">
        <h5 class="m-0">Write a Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-sharp fa-light fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body px-3 pt-1 pb-3">
        <div class="mb-3">
          <label class="d-block mb-1 font-w-500">Raiting</label>
          <div class="review-raiting-star">
            <a href="javascript:void(0)"><i class="fa-solid fa-star"></i></a>
            <a href="javascript:void(0)"><i class="fa-solid fa-star"></i></a>
            <a href="javascript:void(0)"><i class="fa-light fa-star"></i></a>
            <a href="javascript:void(0)"><i class="fa-light fa-star"></i></a>
            <a href="javascript:void(0)"><i class="fa-light fa-star"></i></a>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="ReviewTitle" placeholder="Give your review a title">
          <label for="ReviewTitle">Review Title *</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Write your comments here" id="ReviewComment" rows="4"
            style="height: auto;"></textarea>
          <label for="ReviewComment">Write your comments here *</label>
        </div>
        <div class="mb-3">
          <label class="btn-custom-upload">
            <i class="fa-light fa-image"></i> Upload Pictures
            <input type="file" style="display: none;" />
          </label>
          <div class="upload-file-list mt-4 d-flex flex-wrap">
            <div class="upload-file-list-col">
              <div class="upload-file-list-items">
                <img src="assets/images/client/logo.png" alt="Gulmohar jaipur" />
                <a class="upload-file-list-items-action" href="javascript:void(0)"><i class="fa-light fa-trash"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></i></a>
              </div>
            </div>
            <div class="upload-file-list-col">
              <div class="upload-file-list-items">
                <img src="assets/images/client/logo.png" alt="Gulmohar jaipur" />
                <a class="upload-file-list-items-action" href="javascript:void(0)"><i class="fa-light fa-trash"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></i></a>
              </div>
            </div>
            <div class="upload-file-list-col">
              <div class="upload-file-list-items">
                <img src="assets/images/client/logo.png" alt="Gulmohar jaipur" />
                <a class="upload-file-list-items-action" href="javascript:void(0)"><i class="fa-light fa-trash"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></i></a>
              </div>
            </div>
            <div class="upload-file-list-col">
              <div class="upload-file-list-items">
                <img src="assets/images/client/logo.png" alt="Gulmohar jaipur" />
                <a class="upload-file-list-items-action" href="javascript:void(0)"><i class="fa-light fa-trash"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></i></a>
              </div>
            </div>
            <div class="upload-file-list-col">
              <div class="upload-file-list-items">
                <img src="assets/images/client/logo.png" alt="Gulmohar jaipur" />
                <a class="upload-file-list-items-action" href="javascript:void(0)"><i class="fa-light fa-trash"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></i></a>
              </div>
            </div>
            <div class="upload-file-list-col">
              <div class="upload-file-list-items">
                <img src="assets/images/client/logo.png" alt="Gulmohar jaipur" />
                <a class="upload-file-list-items-action" href="javascript:void(0)"><i class="fa-light fa-trash"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></i></a>
              </div>
            </div>
            <div class="upload-file-list-col">
              <div class="upload-file-list-items">
                <img src="assets/images/client/logo.png" alt="Gulmohar jaipur" />
                <a class="upload-file-list-items-action" href="javascript:void(0)"><i class="fa-light fa-trash"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></i></a>
              </div>
            </div>
            <div class="upload-file-list-col">
              <div class="upload-file-list-items">
                <img src="assets/images/client/logo.png" alt="Gulmohar jaipur" />
                <a class="upload-file-list-items-action" href="javascript:void(0)"><i class="fa-light fa-trash"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <button type="submit" class="btn btn-default px-2 px-sm-3 py-1 me-2"><i
            class="fa-regular fa-check me-1"></i>Submit Review </button>
        <button type="button" class="btn btn-default btn-border px-2 px-sm-3 py-1 btn-cancel"><i
            class="fa-regular fa-xmark me-1"></i>Cancel Review</button>
      </div>
    </div>
  </div>
</div>
<!-- Write Review Modal End` -->
