<!-- Default HTML Start -->
<section class="default-section py-5">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="default-section-img">
        <img src="assets/img/display-desktop-mobile.png" alt="StoreOne">
      </div>
      <div class="default-section-info mt-5">
        <h1 class="mb-4" *ngIf="data.subject">{{data.subject}}</h1>
        <p *ngIf="data.Description">{{data.Description}}
        </p>
        <ng-container *ngIf="data.url; else elseTemplate">
          <button [routerLink]="data.url" class="btn btn-dark mt-2 mt-sm-0"> <i class="bi bi-plus-lg"></i>
            {{data.urlLable}}</button>
        </ng-container>
        <ng-template #elseTemplate>
          <button (click)="onButtonClick()"  class="btn btn-dark mt-2 mt-sm-0"> <i class="bi bi-plus-lg"></i>
            {{data.urlLable}}</button>
        </ng-template>


      </div>
    </div>
  </div>
</section>
<!-- Default HTML End -->
