<div class="my-account-content my-account-address ">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h4 class="mb-0">Saved Addresses</h4>
    <a class="btn-add-new-address" href="javascript:void()" (click)="addAddress()"><i
        class="bi bi-plus-circle me-2"></i> Add new address</a>
  </div>

  <ng-container *ngFor="let address of data">
    <div class="custom-card">
      <div class="row">
        <div class="col-xl-12">
          <div class="custom-card-address-list">
            <div class="custom-card-address-list-header mb-3 d-flex align-items-center justify-content-between">
              <h5 class="m-0">{{address.FullName}}</h5>
              <div class="custom-card-address-list-action d-flex align-items-center">
                <ng-container *ngIf="!address.IsPrimary; else primaryAddress">
                  <a href="javascript:void()" (click)="setPrimaryeAddress(address)" class="text-theme-primary ms-2"> <i
                      data-bs-toggle="tooltip" data-bs-placement="bottom" title="Set primary address"
                      class="bi bi-star"></i> </a>
                </ng-container>
                <ng-template #primaryAddress>
                  <a href="javascript:void()" (click)="setPrimaryeAddress(address)" class="text-theme-primary ms-2"> <i
                      data-bs-toggle="tooltip" data-bs-placement="bottom" title="Primary address"
                      class="bi bi-star-fill"></i> </a>
                </ng-template>
                <a href="javascript:void()" (click)="editAddress(address)" class="text-success ms-2"
                  data-bs-toggle="modal" data-bs-target="#addressPopup"> <i data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Edit" class="bi bi-pencil-square"></i> </a>
                <a href="javascript:void()" (click)="deleteAddress(address)" class="text-danger ms-2"> <i
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove" class="bi bi-trash"></i> </a>
              </div>
            </div>
            <div class="custom-card-address-list-items form-check">
              <input class="form-check-input" readonly [checked]="address.IsPrimary" value="address.IsPrimary"
                type="radio" name="PrimaryAddress" id="PrimaryAddress">
              <label class="form-check-label" for="SaveAdd1">
                {{address.BuildingNumber }} {{address.Address}}
                {{address.City }}, {{address.State }}, {{address.PinCode}}
                <ng-container *ngIf="address.Landmark"> Landmark: {{address.Landmark }} </ng-container>
                Mobile : {{address.Mobile}}
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ng-container>



  <!-- Add or Update Address Modal Start -->
  <div class="modal fade modal-custom-design" #addressPopup id="addressPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header pb-0">
          <h5 class="m-0">{{selectedData.Id?.length>0? 'Update':'Add new'}} address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i class="bi bi-x"></i>
          </button>
        </div>
        <div class="modal-body p-4 modal-form-update">
          <app-save-address [(model)]="selectedData" *ngIf="this.showSavePopup" (onCancel)="closePopup()"
            (onSave)="selectedData=$event;onSave($event)"></app-save-address>
        </div>
        <div class="modal-footer pt-0">
          <input hidden type="button" #btnClose data-bs-dismiss="modal" />
          <input hidden type="button" #btnShow data-bs-toggle="modal" data-bs-target="#addressPopup" />
        </div>
      </div>
    </div>
  </div>
  <!-- Add or Update Address Modal End -->


</div>
