<!-- Breadcrum Start -->
<nav aria-label="breadcrumb" class="inner-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript:void()" routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{this.pageName }}</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- Breadcrum End -->

<!-- Product List Start -->
<Section class="product-page mt-4 mt-md-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <app-product-filter (onFilterChange)="onSearch($event)" [(filterModel)]="indexModel"></app-product-filter>
      </div>
      <div class="col-lg-9 col-md-8 mt-4 mt-md-0">
        <div class="row ms-0">
          <div class="col-lg-12">
            <div
              class="product-collection-header-filter d-flex align-items-center justify-content-between mb-4 font-13">
              <!-- <div class="d-none d-md-block">Showing {{indexModel.Page==1?1 : indexModel.Page*indexModel.PageSize}}–{{
                indexModel.Page==1 ?indexModel.PageSize*indexModel.Page:
                totalRecords-(indexModel.PageSize*indexModel.Page)}} of <strong>{{ totalRecords}}</strong> results</div>-->
              <div>
                <h4 class="m-0 font-w-500 product-collection-header-title">Products</h4>
              </div>
              <div class="d-flex align-items-center">
                <div class="view-mode d-none d-xl-flex align-items-center me-3">
                  <div class="me-2">View as</div>
                  <span class="icon-mode grid-3"></span>
                  <span class="icon-mode grid-4 active"></span>
                </div>
                <div class="product-sortby-filter me-3">
                  <div class="ms-1">Sort By</div>
                  <select class="select-sm" (change)="getList()" [(ngModel)]="sortValue">

                    <option [value]="'Name_true'">Name (A to Z)</option>
                    <option [value]="'Name_false'">Name (Z to A)</option>
                    <option [value]="'Price_true'">Price (L to H)</option>
                    <option [value]="'Price_false'">Price (H to L)</option>
                    <option [value]="'CreatedOn_false'">Newest (New to Old)</option>
                    <option [value]="'CreatedOn_true'">Oldest (Old to New)</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- Product Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4 col-6 mb-4"
            *ngFor="let item of model  | paginate: { itemsPerPage: indexModel.PageSize , currentPage: indexModel.Page,totalItems: totalRecords };let index=index">
            <div class="position-relative product-list-hover-items-outside">
              <app-product-card [(Product)]="model[index]"></app-product-card>
            </div>
          </div>
          <!-- Product End -->
          <div class="col-lg-12 mt-4">
            <nav>
              <pagination-controls class="pagination justify-content-center"
                (pageChange)="indexModel.Page= $event;getList()">
              </pagination-controls>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
<!-- Product List End -->
