<!-- Page Header Title start -->
<div class="widget-header">
  <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
    <div>
      <h1>Product List</h1>
      <!-- Breadcrumb Start -->
      <nav class="custom-breadcrum">
        <ol class="breadcrumb justify-content-center justify-content-sm-start">
          <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product List</li>
        </ol>
      </nav>
      <!-- Breadcrumb End -->
    </div>
    <button routerLink="../add" class="btn btn-dark btn-sm mt-2 mt-sm-0"> <i class="bi bi-plus-lg"></i> Add New Product</button>

  </div>
</div>
<!-- Page Header Title end -->


<!-- Main Page Content Start -->

<div class="px-3">

  <div class="dataTables_wrapper container-fluid dt-bootstrap4">
    <div class="dt--top-section">
      <div class="row">
        <div class="col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center">
          <div class="dataTables_length"><label>Results :
              <select name="zero-config_length" (change)="getList()" aria-controls="zero-config" class="form-control">
                <option value="101">All</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select></label></div>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3">
          <div id="zero-config_filter" class="dataTables_filter"><label>
              <i class="bi bi-search"></i>
              <input type="search" (blur)="onSearch()" class="form-control" placeholder="Search..."
                [(ngModel)]="indexModel.Search" aria-controls="zero-config"></label></div>


        </div>
      </div>
      <!-- <div class="collapse open-advance-filter" id="advance-filter1">
            <div class="open-advance-filter-header">Advance Search
                <a data-toggle="collapse" href="#advance-filter1"> <i class="fas fa-times"></i></a>
            </div>
            <div class="open-advance-filter-body">

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <input type="email" class="form-control" id="input1" placeholder="Start Date">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="email" class="form-control" id="input1" placeholder="End Date">
                    </div>


                    <div class="col-md-6 mb-3">
                        <input type="email" class="form-control" id="input1" placeholder="Enter placeholder">
                    </div>
                    <div class="col-md-6 mb-3">
                        <select class="form-control">
                        <option>--Select Document Type--</option>
                        <option>--Select Type--</option>
                        <option>--Select Type--</option>
                    </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <input type="email" class="form-control" id="input1" placeholder="Enter placeholder">
                    </div>
                    <div class="col-md-6 mb-3">
                        <select class="form-control">
                        <option>--Select Document Type--</option>
                        <option>--Select Type--</option>
                        <option>--Select Type--</option>
                    </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <input type="email" class="form-control" id="input1" placeholder="Enter placeholder">
                    </div>
                    <div class="col-md-6 mb-3">
                        <select class="form-control">
                        <option>--Select Document Type--</option>
                        <option>--Select Type--</option>
                        <option>--Select Type--</option>
                    </select>
                    </div>


                    <div class="col-md-12 mb-3">
                        <input type="email" class="form-control" id="input1" placeholder="Enter placeholder">
                    </div>

                </div>
            </div>


            <div class="col-md-12 advance-filter-footer-btn-grp text-right">
                <button type="submit" class="btn btn-success mr-3" data-toggle="collapse" href="#advance-filter1"> <i
                    class="fas fa-check mr-1"></i> Apply</button>
                <button type="submit" class="btn btn-default" data-toggle="collapse" href="#advance-filter1"> <i
                    class="fas fa-redo-alt mr-1"></i> Reset</button>
            </div>


        </div> -->
    </div>
    <div class="table-responsive table-shadow">

      <table class="custom-mat-table" mat-table [dataSource]="dataSource" matSort
        class="mat-elevation-z8 table table-striped dataTable table-header" style="width: 100%;" role="grid"
        aria-describedby="zero-config_info" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index;">
            {{(indexModel.Page-1)*indexModel.PageSize +(i+1)}}</td>
        </ng-container>


        <ng-container matColumnDef="ImagePath">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <div class="lsit-category-img d-flex align-items-center justify-content-center">
              <img src="{{element.ImagePath}}" onerror="this.src='assets/img/no-img.svg'">
            </div>
          </td>
        </ng-container>


        <ng-container [matColumnDef]="column!.Value" *ngFor="let column of ViewdisplayedColumns">

          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column!.Text}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column!.Value]}} </td>
        </ng-container>

        <ng-container matColumnDef="IsActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
          <td mat-cell *matCellDef="let element" class="table-action-btn">
            <a (click)="OnActiveStatus(element!.Id)" title="Update Active Status">
              <i *ngIf="element!.IsActive" class="fas fa-check-circle text-success"></i>
              <i *ngIf="!element!.IsActive" class="fas fa-ban text-danger"></i>
            </a>

          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th width="150" mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let row" class="table-action-btn">
            <a class="table-action-btn-edit" routerLink="../edit/{{+row.Id}}" title="Edit"> <i
                class="fas fa-edit"></i>
            </a>
            <a class="table-action-btn-view" routerLink="../detail/{{+row.Id}}" title="Detail"> <i
                class="fas fa-eye"></i>
            </a>
            <a class="table-action-btn-delete" (click)="updateDeleteStatus(row.Id)" title="Delete"> <i
                class="fas fa-trash-alt"></i> </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>



    </div>
    <div class="dt--bottom-section d-sm-flex justify-content-sm-between text-center">



      <div class="dt--pagination">
        <div class="dataTables_paginate paging_simple_numbers" id="zero-config_paginate">
          <ul class="pagination">


            <mat-paginator #paginator [length]="totalRecords" [pageSize]="indexModel.PageSize"
              (page)="onPaginateChange($event)" showFirstLastButtons *ngIf="totalRecords!=0">
            </mat-paginator>
          </ul>
        </div>


      </div>
    </div>
    <!-- Main Page Content End -->
