
<div class="my-account-content my-account-profiles">
  <div class="row">
    <form class="mx-400">
      <div class="col-lg-12">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="FullName" placeholder="Full name">
          <label for="FullName">Full name</label>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="EmailAddress" placeholder="Email address">
          <label for="EmailAddress">Email address</label>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="Mobile" placeholder="Mobile number">
          <label for="Mobile">Mobile number</label>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="EmailAddress" placeholder="Address">
          <label for="EmailAddress">Address</label>
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="mt-4 btn btn-default p-2 text-uppercase d-block w-100"><i
            class="bi bi-check2 me-2"></i>Save Details</button>
      </div>
    </form>
  </div>
</div>

