

<nav class="navbar navbar-expand-lg navbar-light flex-wrap p-2 p-lg-0 d-block">
    <section class="nav-logo-and-icons">
        <div class="container p-0 py-lg-2">
            <div class="row w-100 m-0">
                <div class="col-lg-12 d-flex align-items-center justify-content-between p-0">
                    <a class="navbar-brand m-0 p-0 d-inline-flex align-items-center" routerLink="/home"
                        href="javascript:void()">
                        <img src="assets/images/logo-icon.png" alt="StoreOne" />
                        <span>StoreOne</span>
                    </a>
                    <div class="navbar-user-icons">
                        <a href="javascript:void()" data-title="Search" data-bs-toggle="offcanvas" data-bs-target="#GlobalSearch"><i class="bi bi-search"></i></a>
                        <a href="javascript:void()" data-title="Account"><i class="bi bi-person-circle"></i></a>
                        <a href="javascript:void()" data-title="Cart" data-bs-toggle="offcanvas" data-bs-target="#CartSideBar"><i class="bi bi-bag"></i>
                            <div class="Cart-count">5</div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="nav-menus p-0 p-lg-0" id="MainNavBar">
        <div class="container p-0">
            <div class="row w-100 m-0">
                <div class="col-lg-12 p-0">
                    <button id="ChangeToggle" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#MenuNavbar">
                        <span class="navbar-toggler-icon" id="navbar-hamburger">
                            <i class="bi bi-list"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="MenuNavbar">
                        <ul class="navbar-nav justify-content-center w-100">
                            <a class="d-block d-lg-none mobile-nav-close" href="javascript:void()"
                                data-bs-toggle="collapse" data-bs-target="#MenuNavbar"> <i class="bi bi-x-lg"></i></a>
                            <li class="nav-item"> <a class="nav-link active" aria-current="page"
                                    href="javascript:void()" routerLink="/home"> <i class="bi bi-house-door"></i> </a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" aria-current="page" href="javascript:void()"
                                    routerLink="/product"> Store </a> </li>
                            <!-- 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void()" id="DropDown1"
                                    data-bs-toggle="dropdown">
                                    Category
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="/product">All Product</a></li>
                                    <li><a class="dropdown-item" href="#">Category wise</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 3</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 4</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 5</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 6</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 7</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 8</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 9</a></li>
                                    <li><a class="dropdown-item" href="#">Submenu 10</a></li>
                                </ul>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void()" id="DropDown1"
                                    data-bs-toggle="dropdown">
                                    Collections
                                </a>
                                <ul class="dropdown-menu megamenu">
                                    <div class="container px-2">
                                        <div class="row m-0 py-2">
                                            <div class="col-lg-3">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#Footer1">
                                                    Category Name
                                                </button>
                                                <ul class="megamenu-sub-list collapse" id="Footer1"
                                                    data-bs-parent="#MainNavBar">
                                                    <li><a class="dropdown-item" href="#">Submenu 1</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 2</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 3</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 4</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 5</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 6</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 7</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 8</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 9</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 10</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#Footer2">
                                                    Category Name
                                                </button>
                                                <ul class="megamenu-sub-list collapse" id="Footer2"
                                                    data-bs-parent="#MainNavBar">
                                                    <li><a class="dropdown-item" href="#">Submenu 1</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 2</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 3</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 4</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 5</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 6</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 7</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 8</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 9</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 10</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#Footer3">
                                                    Category Name
                                                </button>
                                                <ul class="megamenu-sub-list collapse" id="Footer3"
                                                    data-bs-parent="#MainNavBar">
                                                    <li><a class="dropdown-item" href="#">Submenu 1</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 2</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 3</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 4</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 5</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 6</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 7</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 8</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 9</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 10</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#Footer4">
                                                    Category Name
                                                </button>
                                                <ul class="megamenu-sub-list collapse" id="Footer4"
                                                    data-bs-parent="#MainNavBar">
                                                    <li><a class="dropdown-item" href="#">Submenu 1</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 2</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 3</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 4</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 5</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 6</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 7</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 8</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 9</a></li>
                                                    <li><a class="dropdown-item" href="#">Submenu 10</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>


<!-- Global Search Start -->
<div class="offcanvas offcanvas-top global-search p-2 p-md-3" tabindex="-1" id="GlobalSearch">
    <div class="text-end mb-3 mb-md-1">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="global-search-bar position-relative d-flex mb-2">
                    <input type="text" class="form-control global-search-control"
                        placeholder="WHAT ARE YOU LOOKING FOR?" />
                    <button type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Global Search End -->

<!-- Cart SideBar Start -->
<div class="offcanvas offcanvas-end p-3 cart-sidebar" tabindex="-1" id="CartSideBar">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="font-w-400 m-0">MY Cart (0)</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="cart-sidebar-body">
        <div class="cart-sidebar-empty text-center">
            <div class="cart-sidebar-empty-icon">
                <i class="bi bi-bag-x"></i>
            </div>
            <p class="my-3">Your basket is currently empty.</p>
            <a _ngcontent-mkt-c20="" href="javascript:void()"
                class="btn btn-default px-4 text-uppercase btn-border">Continue Shopping <i
                    class="bi bi-arrow-right ms-1"></i></a>
        </div>
    </div>

</div>
<!-- Cart SideBar End -->