/* RESPONSIVE START */

:root {
    --primary-color: #02355a;
    --secondary-color: #ffd413;
}

@media all and (min-width: 992px) {
    .navbar .main-menu li .dropdown-menu {
        display: none;
    }
    .navbar .main-menu li:hover .dropdown-menu {
        display: block;
    }
    footer .collapse:not(.show) {
        display: block;
    }
    footer .accordion-button::after
    {
        display: none;
    }


}

@media screen and (max-width:1400px) {
    .our-product-items
    {
        border: none;
    }
    .footer-logo img {
        max-width: 100%;
        max-height: 50px;
    }
    .innerpage-banner-info
    {
        padding-right: 0px;
    }
    .video-box video {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 992px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
    .navbar-collapse {
        position: fixed;
        top: 0px;
        right: 0;
        padding: 15px;
        width: 75%;
        height: 100%;
        overflow: auto;
        z-index: 9999999;
        padding: 0px;
    }
    .navbar-collapse.collapsing {
        right: -75%;
        transition: height 0s ease;
    }
    .navbar-collapse.show {
        right: 0;
        transition: right 300ms ease-in-out;
    }
    .navbar-collapse {
        background: var(--secondary-color);
    }
    .navbar-toggler.collapsed~.navbar-collapse {
        transition: right 500ms ease-in-out;
    }
    .navbar-toggler {
        padding: 0px;
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler-icon {
        width: auto;
        height: auto;
        background-image: none !important;
    }
    .navbar-toggler-icon i {
        font-size: 40px;
        color: #000;
    }
    section.home-about {
        padding: 50px 0px;
    }
    .home-about-text h1 {
        font-size: 1.8rem;
        line-height: 42px;
        margin-bottom: 15px;
    }
    .home-services-img {
        position: static;
        height: auto;
        padding: 50px;
    }
    .home-services-info-items {
        height: auto;
        padding: 25px;
    }
    .home-services-info-items h1 {
        font-size: 2rem;
        margin-bottom: 15px;
        line-height: 40px;
    }
    .home-services-info-items p {
        font-size: 14px;
        line-height: 25px;
    }
    .main-menu > li > a {
        display: block;
        padding: 5px 15px;
        font-size: 20px;
    }
    .dropdown-menu a {
        padding: 8px 25px;
    }
    .dropdown-menu {
        border: none;
    }
    .navbar-nav {
        height: calc(100% - 70px);
    }
    .main-menu > li > a.active
    {
        color: var(--primary-color);
    }
    .footer-logo, .footer-social-media {
        text-align: center;
    }
    footer .accordion-button {
        margin: 5px 0px;
    }
    .footer-social-media {
        margin: 15px 0px;
    }
    footer ul {
        margin: 10px 0px;
    }
}


@media screen and (max-width:767px) {
    section.home-banner {
        min-height: 620px;
    }
    .home-banner-caption h1 {
        font-size: 2.5rem;
        line-height: 50px;
    }
    .caption-animation {
        width: 525px;
    }
    .home-banner-items img {
        max-width: 50px;
        max-height: 50px;
        margin: 15px;
    }
    .section-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .home-facts-items-count {
        height: 150px;
        width: 150px;
        font-size: 35px;
    }
    section.footer-cta-btn h1 {
        margin: auto auto 20px auto;
        font-size: 2.2rem;
    }
    section.footer-cta-btn, section.our-product {
        padding: 40px 0px;
    }
    .home-facts-items p {
        font-size: 18px;
    }
    section.innerpage-banner h1 {
        line-height: 42px;
        margin-bottom: 15px;
        font-size: 2rem;
    }
    section.innerpage-banner {
        padding: 30px 0px;
    }
    section.inner-page {
        padding: 30px 0px;
    }
    .inside-page-sticky h1 {
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .about-company p {
        font-size: 15px;
        line-height: 30px;
    }
}

@media screen and (max-width:575px) {
    .home-banner-caption h1 {
        font-size: 2.0rem;
        line-height: 40px;
    }
    .caption-animation {
        width: 360px;
    }
    .home-banner-caption h3 {
        font-size: 1rem;
        max-width: 350px;
        line-height: 28px;
    }
}
/* RESPONSIVE END */
